<!-- properties -->
<div class="properties-container">
    <div class="properties">

        <!-- list of properties -->
        <div *ngFor="let prop of propArray; let last = last">
            <!-- show property; all in case of showAll === true or only the ones with prop.values -->
            <div *ngIf="!prop.propDef['isLinkProperty'] && showAllProps || ( prop.values && prop.values.length > 0 )"
                [class.border-bottom]="prop.values && !last"
                class="property">
                <div class="property-label">
                    <!-- label of the property -->
                    <h3 class="label mat-subheading-1"
                        [class.label-info]="prop.propDef.comment"
                        [matTooltip]="prop.propDef.comment"
                        matTooltipPosition="above">
                        {{prop.propDef.label}}
                    </h3>
                </div>
                <div class="property-value">
                    <!-- the value(s) of the property -->
                    <div *ngFor="let val of prop.values">
                        <dsp-display-edit *ngIf="val"
                            #displayEdit
                            [parentResource]="parentResource"
                            [displayValue]="val"
                            [propArray]="propArray"
                            (referredResourceClicked)="referredResourceClicked.emit($event)"
                            (referredResourceHovered)="referredResourceHovered.emit($event)">
                        </dsp-display-edit>
                    </div>
                    <!-- Add value form -->
                    <div *ngIf="addValueFormIsVisible && propID === prop.propDef.id">
                        <dsp-add-value #addValue
                            class="add-value"
                            [parentResource]="parentResource"
                            [resourcePropertyDefinition]="$any(parentResource.entityInfo.properties[prop.propDef.id])"
                            (operationCancelled)="hideAddValueForm()">
                        </dsp-add-value>
                    </div>
                    <!-- Add button -->
                    <div *ngIf="addValueIsAllowed(prop)">
                        <button class="create"
                            (click)="showAddValueForm(prop)"
                            title="Add a new value">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
