.border-bottom {
  border-bottom: 1px solid rgba(33,33,33,.1);
}

// smaller buttons: add value and value info
.info,
.create {
    cursor: pointer;
    border: none;
    padding: 0em;
    outline: none;
    background-color: transparent;
    color: #000000;
}

.info .material-icons,
.create .material-icons {
    font-size: 18px;
}

.info .mat-icon,
.create .mat-icon {
    width: 18px;
    height: 18px;
}

// properties container with property item and property value items

.properties-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;

  .properties,
  .incoming {
    margin-top: 16px;
  }

  .properties {
    grid-column: 1 / span 6;

    .property {
      grid-row: 1 / 1;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;

      .property-label,
      .property-value {
        padding: 2px;
        overflow-wrap: break-word;
      }

      .property-label {
        grid-column: 1 / span 1;

        .label {
          text-align: right;
        }

        .label-info {
          cursor: help;
        }
      }

      .property-value {
        grid-column: 2 / span 3;
      }
    }
  }

  // incoming is not yet implemented. TODO: reactivate incoming info box
  .incoming {
    grid-column: 5 / span 2;

    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(60px, auto));

    .annotations,
    .links {
      padding: 16px;
      grid-column: 1 / span 2;
      border-radius: 6px;

      ul {
        padding-inline-start: 5px;
        list-style-type: none;
        li {
          margin-bottom: 10px;
          text-indent: -8px;
          &:before {
            content: "- ";
          }
        }
      }
    }

    .annotations {
      background: rgba(245, 222, 179, 0.39);
    }

    .links {
      background: rgba(222, 184, 135, 0.39);
    }
  }
}

.label {
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 768px) {
  .properties,
  .incoming {
    grid-column: 1 / span 6 !important;
    gap: 0 !important;

    .property {
      gap: 0 !important;
    }

    .annotations,
    .links,
    .property-label,
    .property-value {
      grid-column: 1 / span 4 !important;
    }
  }

  h3.label {
    text-align: left !important;
    margin: 16px 0 0 !important;
  }
}
