<app-user-form *ngIf="user$|async" [user]="user$ | async" (afterFormInit)="form = $event"></app-user-form>

<div class="form-panel">
  <button color="primary" mat-button mat-dialog-close>{{ 'appLabels.form.action.cancel' | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    appLoadingButton
    [isLoading]="isLoading$ | async"
    [disabled]="!form?.valid || form && form.pristine || (isLoading$ | async)"
    (click)="updateUser()">
    {{'appLabels.form.action.update' | translate}}
  </button>
</div>
