<form *ngIf="form" [formGroup]="form" (ngSubmit)="formValueChange.emit(form)">
  <div style="display: flex">
    <app-common-input
      [formGroup]="form"
      controlName="shortcode"
      [placeholder]="('appLabels.form.project.general.shortcode' | translate)"
      [validatorErrors]="[shortcodePatternError]"
      style="flex: 1; margin-right: 16px"></app-common-input>

    <app-common-input
      [formGroup]="form"
      controlName="shortname"
      [placeholder]="('appLabels.form.project.general.shortname' | translate)"
      style="flex: 1"></app-common-input>
  </div>

  <app-common-input
    [placeholder]="('appLabels.form.project.general.longname' | translate)"
    controlName="longname"
    [formGroup]="form"></app-common-input>

  <!-- description -->
  <dasch-swiss-app-string-literal
    [placeholder]="(
                'appLabels.form.project.general.description' | translate) + '*'"
    [textarea]="true"
    [value]="form.controls.description.value"
    (dataChanged)="onDescriptionChange($event)">
  </dasch-swiss-app-string-literal>
  <mat-error *ngIf="form.controls.description.touched && form.controls.description.errors as errors">
    {{ errors | humanReadableError }}
  </mat-error>

  <app-chip-list-input
    [keywords]="form.controls.keywords.value"
    [formGroup]="form"
    controlName="keywords"
    editable="true"></app-chip-list-input>
</form>
