<div [formGroup]="form" class="form-content date-picker">

    <!-- select calendar -->

    <!-- panel with month (incl. navigation), year and era -->
    <div class="month-year-selector">
        <!-- select month -->
        <mat-form-field class="month x-small-field" floatLabel="never">
            <mat-label>Month</mat-label>
            <mat-select formControlName="month">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let month of months; let i = index" [value]="i + 1">
                    {{month}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- set year incl. era -->
        <mat-form-field class="year small-field" floatLabel="never">
            <mat-label>Year *</mat-label>
            <input matInput type="number" formControlName="year" min="1">
            <mat-error *ngIf="formErrors.year">
                {{ formErrors.year }}
            </mat-error>
            <!-- <button mat-flat-button matSuffix (click)="switchEra()" [attr.aria-label]="'Switch era'"
                [attr.aria-pressed]="ce">
                {{ce ? 'CE' : 'BCE'}}
            </button> -->
            <mat-button-toggle-group class="era suffix-toggle-group" matSuffix formControlName="era" aria-label="Define era">
                <mat-button-toggle value="CE">CE</mat-button-toggle>
                <mat-button-toggle value="BCE">BCE</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-form-field>

        <!-- hidden slide toggle to know about era changed -->
        <!-- <mat-slide-toggle formControlName="era">CE</mat-slide-toggle> -->
    </div>

    <!-- select day -->
    <div class="day-selector" [class.disabled]="disableDaySelector">

        <div>
            <p *ngIf="era === 'CE'" class="week-days">
                <span *ngFor="let day of weekDays" class="day"><strong>{{day}}</strong></span>
            </p>
            <p *ngIf="era === 'BCE'" class="mat-caption center">
                <!-- <mat-icon>warn</mat-icon> -->
                Attention: Date <strong>before common era</strong>.
            </p>
        </div>
        <div *ngFor="let week of weeks" class="week">
            <span *ngFor="let day of week" class="day" [class.selected]="day === selectedDay">
                <span *ngIf="day > 0" class="selectable link" [class.disabled]="disableDaySelector">{{day}}</span>
                <!-- the following span is only a space holder to set the position of the first day -->
                <span *ngIf="day === 0"></span>
            </span>
        </div>
    </div>

    <!--
    <div class="era-radio">
        <mat-radio-group class="era" [formControlName]="'era'" aria-label="Select an option" (change)="_handleInput()">
            <mat-radio-button value="BCE">Before Common Era</mat-radio-button>
            <mat-radio-button value="CE">Common Era</mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-form-field>
        <mat-label>Year</mat-label>
        <input class="year" matInput placeholder="Year" type="number" [formControlName]="'year'" min="1"
               (input)="_handleInput()">
        <div class="date-form-error">
            <mat-error *ngIf="yearControl.hasError('required')">
                <span class="custom-error-message">A year is <strong>required</strong>.</span>
            </mat-error>
            <mat-error *ngIf="yearControl.hasError('min')">
                <span class="custom-error-message">A valid year is greater than 0.</span>
            </mat-error>
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select class="month" [formControlName]="'month'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Day</mat-label>
        <mat-select class="day" [formControlName]="'day'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let day of days" [value]="day">
                {{day}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->
</div>
