@import "../../../../../../assets/style/config";

.date-picker {
  width: 296px;
  // background-color: darkcyan;
}

.panel {
  width: 280px;
  margin: 0 8px;

  &.calendar-selector,
  &.mont-year-selector {
    display: inline-flex;
    height: 56px;
  }

  &.calendar-selector {
    // background-color: chartreuse;
    .calendar {
      width: 180px;
    }

    .action {
      .action-button {
        margin: 8px 4px;

        &.cancel {
          color: $dark;
        }

        &.submit {
          // color: $primary_700;
        }
      }
    }
  }
  &.month-year-selector {
    // background-color: chocolate;
    .month {
      width: 96px;
    }
    .year {
      width: 180px;

      .era {
        mat-button-toggle {
          width: 48px;
        }
      }
    }
  }


  &.day-selector {
    display: grid;
    // background-color: crimson;

    &.disabled {
      color: $grey;
    }

    .week-days {
      margin-bottom: 0;
      font-weight: lighter;
      color: $dark;
    }

    .week {
      display: inline-flex;
    }
  }


}

.day {
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-table;
  text-align: center;
  padding: 2px;

  &.selected {
    background-color: $primary_700;
    color: $bright;
    border-radius: 50%;
  }

  > span {
    display: block;
  }

  .selectable {
    &.disabled {
      cursor: not-allowed;
    }
  }
}
