@use "config" as *;

.representation-container {
    width: 100%;
}

.previousBtn {
  margin: 24px 48px;
  position: absolute;
}

.active {
  border: 1px solid $primary_800;
}

@media (max-width: 1024px) {
  .previousBtn {
    margin: 12px auto 0 12px;
    // position: relative;
  }

  .large-screen-only {
    display: none;
  }
}
