<div class="app-toolbar transparent">
    <div class="app-toolbar-row">
        <h3 class="mat-body subtitle">This project has</h3>
    </div>
    <div class="app-toolbar-row">
        <h2 class="mat-title">{{ontologies.length | i18nPlural: itemPluralMapping['ontology']}}</h2>
        <span class="fill-remaining-space"></span>
        <span class="app-toolbar-action">

            <form [formGroup]="ontologyForm" class="form" *ngIf="!loading && ontologies">

                <!-- auto complete list to select source types -->
                <div class="form-content">
                    <mat-form-field class="large-field select-ontology">

                        <mat-label>Select data model</mat-label>

                        <mat-select [formControl]="ontologyForm.controls['ontology']">
                            <mat-option *ngFor="let onto of ontologies" [value]="onto.id">
                                {{onto.label}}
                            </mat-option>
                            <mat-divider></mat-divider>
                            <mat-option [value]="newOntologyId">
                                <mat-icon>add</mat-icon> Create new
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                </div>

            </form>

        </span>
        <span class="fill-remaining-space"></span>
    </div>
</div>
