<mat-card class="no-shadow" *ngFor="let group of list | kuiKey">

    <mat-card-subtitle *ngIf="!public">
        Member of
        <span class="fill-remaining-space"></span>
        <span>
            <button mat-button color="primary" (click)="createProject()" *ngIf="group.key !== 'inactive'">
                <mat-icon>add</mat-icon>
                NEW
            </button>
        </span>
    </mat-card-subtitle>
    <mat-card-title>
        <span>{{group.value.length}} {{group.key}} {{group.value.length | i18nPlural: itemPluralMapping['project']}}</span>
    </mat-card-title>

    <mat-card-content>
        <!-- list of active projects -->
        <div fxLayout="row wrap"
             fxFlexFill
             fxlayout.xs="column"
             fxLayoutGap="grid">

            <div fxFlex *ngFor="let project of group.value | kuiSortBy: 'shortname'" class="preview">
                <mat-card (click)="setProject(project.id, group.key)" class="link active">

                    <mat-card-subtitle>{{project.shortcode}} | {{project.shortname}}</mat-card-subtitle>
                    <mat-card-title>{{project.longname}}</mat-card-title>

                    <mat-card-content>
                        {{project.description.value}}
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>
