<div [formGroup]="form">

    <!-- <mat-checkbox class="period-checkbox" [formControlName]="'isPeriod'" (change)="_handleInput()">
        is time period
    </mat-checkbox> -->

    <!-- <div class="date-form-grid">
        <div class="date-form-field">

            <mat-form-field>
                <mat-label>Calendar</mat-label>
                    <mat-select class="calendar-selection" [formControlName]="'calendar'">
                        <mat-option *ngFor="let cal of calendars" [value]="cal">
                            {{cal}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
    </div> -->

    <div class="date-form-grid">
        <div class="date-form-field">
            <mat-form-field>
                <mat-label *ngIf="isPeriodControl.value">Start</mat-label>
                <app-date-picker class="start-date" [formControlName]="'startDate'" ></app-date-picker>
            </mat-form-field>
        </div>

        <span *ngIf="isPeriodControl.value">
            <div class="date-form-field">
                <mat-form-field>
                    <mat-label>End</mat-label>
                    <app-date-picker class="end-date" [formControlName]="'endDate'"></app-date-picker>
                </mat-form-field>
            </div>
        </span>
    </div>

    <div class="date-form-error">
        <mat-error *ngIf="startDate.hasError('required')">
            <span class="custom-error-message">Start date is <strong>required</strong></span>
        </mat-error>
        <mat-error *ngIf="endDate.hasError('required')">
            <span class="custom-error-message">End date is <strong>required</strong></span>
        </mat-error>
        <mat-error *ngIf="startDate.hasError('periodStartEnd')">
            <span class="custom-error-message">End date must be after start date.</span>
        </mat-error>
    </div>

</div>
