<!-- openseadragon (osd) viewer -->
<div class="osd-container" [class.drawing]="regionDrawMode" [class.on-error]="failedToLoad">
  <!-- in case of an error -->
  <app-status
    [status]="404"
    [url]="images[0].fileValue.fileUrl"
    [representation]="'still-image'"
    *ngIf="failedToLoad"></app-status>

  <!-- navigation in case of compound object: previous and next page -->
  <div class="navigation vertical previous" *ngIf="compoundNavigation">
    <button
      mat-button
      [disabled]="compoundNavigation.page <= 1"
      (click)="openPage(compoundNavigation.page - 1)"
      class="full-size">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="navigation vertical next" *ngIf="compoundNavigation">
    <button
      mat-button
      class="full-size"
      [disabled]="
                compoundNavigation.page >= compoundNavigation.totalPages
            "
      (click)="openPage(compoundNavigation.page + 1)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>

<div class="toolbar">
  <!-- navigation -->
  <div *ngIf="compoundNavigation" class="compoundNavigation">
    <mat-slider
      [color]="'primary'"
      [disabled]="compoundNavigation.totalPages < 2"
      [max]="compoundNavigation.totalPages"
      [min]="1"
      [step]="1"
      showTickMarks
      discrete
      #ngSlider
      ><input
        matSliderThumb
        [(ngModel)]="compoundNavigation.page"
        (change)="
                    openPage(
                        {
                            source: ngSliderThumb,
                            parent: ngSlider,
                            value: ngSliderThumb.value
                        }.value
                    )
                "
        #ngSliderThumb="matSliderThumb" />
    </mat-slider>
  </div>
  <!-- toolbar -->
  <div class="toolbar-bottom">
    <!-- vertical more button with menu to open and copy iiif url -->
    <button mat-icon-button [matMenuTriggerFor]="more" matTooltip="More" matTooltipPosition="above">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu" class="representation-menu">
      <button class="menu-content" mat-menu-item (click)="openImageInNewTab(images[0].fileValue.fileUrl)">
        Open IIIF URL in new tab
      </button>
      <button
        class="menu-content"
        mat-menu-item
        [disabled]="failedToLoad || !editorPermissions"
        (click)="openReplaceFileDialog()">
        Replace file
      </button>
    </mat-menu>

    <span class="action-buttons">
      <button mat-icon-button [matMenuTriggerFor]="share" matTooltip="Share" matTooltipPosition="above">
        <mat-icon>share</mat-icon>
      </button>
      <mat-menu #share="matMenu" class="res-share-menu">
        <button
          mat-menu-item
          (click)="openSnackBar('IIIF URL copied to clipboard!')"
          [cdkCopyToClipboard]="images[0].fileValue.fileUrl">
          <mat-icon>content_copy</mat-icon>
          Copy IIIF URL to clipboard
        </button>
        <button
          mat-menu-item
          [cdkCopyToClipboard]="images[0].fileValue.arkUrl"
          (click)="openSnackBar('ARK URL copied to clipboard!')">
          <mat-icon>content_copy</mat-icon>
          Copy ARK url to clipboard
        </button>
      </mat-menu>
      <button mat-icon-button matTooltip="Download" (click)="download(images[0].fileValue.fileUrl)">
        <mat-icon>download</mat-icon>
      </button>
      <button
        mat-icon-button
        id="DSP_OSD_DRAW_REGION"
        matTooltip="Draw Region"
        [disabled]="failedToLoad || !editorPermissions"
        (click)="drawButtonClicked()"
        [class.active]="regionDrawMode">
        <mat-icon svgIcon="draw_region_icon"></mat-icon>
      </button>
    </span>

    <span class="fill-remaining-space"></span>

    <!-- navigation in case of compound object: first page and previous page -->
    <span class="compound-nav" *ngIf="compoundNavigation">
      <button mat-icon-button [disabled]="compoundNavigation.page <= 1" matTooltip="First page" (click)="openPage(1)">
        <mat-icon>first_page</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="compoundNavigation.page <= 1"
        matTooltip="Previous page"
        (click)="openPage(compoundNavigation.page - 1)">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span class="range">{{compoundNavigation.page}} of {{compoundNavigation.totalPages}}</span>
      <button
        mat-icon-button
        [disabled]="compoundNavigation.page >= compoundNavigation.totalPages"
        matTooltip="Next page"
        (click)="openPage(compoundNavigation.page + 1)">
        <mat-icon>navigate_next</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="compoundNavigation.page === compoundNavigation.totalPages"
        matTooltip="Last page"
        (click)="openPage(compoundNavigation.totalPages)">
        <mat-icon>last_page</mat-icon>
      </button>
    </span>

    <span class="fill-remaining-space"></span>

    <!-- right side buttons -->
    <span>
      <button mat-icon-button id="DSP_OSD_ZOOM_OUT" matTooltip="Zoom out" [disabled]="failedToLoad">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-icon-button id="DSP_OSD_ZOOM_IN" matTooltip="Zoom in" [disabled]="failedToLoad">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-icon-button id="DSP_OSD_HOME" matTooltip="Reset zoom" [disabled]="failedToLoad">
        <mat-icon>other_houses</mat-icon>
      </button>
      <button mat-icon-button id="DSP_OSD_FULL_PAGE" matTooltip="Open in fullscreen" [disabled]="failedToLoad">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </span>
  </div>
</div>
