<mat-form-field class="large-field value-component-comment">
    <textarea
        matInput
        [formControl]="commentFormControl"
        [ngClass]="{'comment': valueFormControl.value ,'invalid-comment' : !valueFormControl.value}"
        placeholder="Comment"
        spellcheck="false"
        [readonly] = "[commentReadOnly]"
        [cdkTextareaAutosize]="true"
        [cdkAutosizeMinRows]="1"
        [cdkAutosizeMaxRows]="6"
        [formControlName]="'comment'">
    </textarea>
    <mat-icon matPrefix class="material-icons comment-lock" *ngIf="commentReadOnly && !(commentFormControl.value && !valueFormControl.value)">lock</mat-icon>
    <mat-hint *ngIf="commentFormControl.value && !valueFormControl.value">
        <span class="custom-error-message">This comment won't be saved if there is an invalid or an empty property value above.</span>
    </mat-hint>
</mat-form-field>
