.project-menu {
    font-size: inherit;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;

    .label {
        font-weight: bold;
    }

    .icon {
        // set the icon to the same line as the text/label is
        vertical-align: middle;
        position: relative;
        top: -1px

    }
}