<button mat-button class="project-menu" [matMenuTriggerFor]="appMenu" isIconButton>
    <span *ngIf="!loading">
        <span class="label">{{label}} &nbsp;</span>
        <mat-icon class="icon" matSuffix>keyboard_arrow_down</mat-icon>
    </span>
</button>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="setProject()" class="center">none</button>
    <mat-divider></mat-divider>
    <button mat-menu-item *ngFor="let project of projects" (click)="setProject(project)">{{project.shortname}}</button>
</mat-menu>
