<!-- tools: share, add to favorites, edit, delete etc. -->
<span class="action" [class.deleted]="resource.res.isDeleted">
  <!-- Toggle show all comments button-->
  <button
    mat-icon-button
    matTooltip="Open resource in new tab"
    color="primary"
    matTooltipPosition="above"
    [disabled]="resource.res.isDeleted"
    (click)="openResource(resource.res.id)">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <!-- Share resource: copy ark url, add to favorites or open in new tab -->
  <button
    color="primary"
    mat-icon-button
    class="share-res"
    matTooltip="Share resource: {{resource.res.versionArkUrl}}"
    matTooltipPosition="above"
    [disabled]="resource.res.isDeleted"
    [matMenuTriggerFor]="share">
    <mat-icon>share</mat-icon>
  </button>

  <!-- permission info: display full info in case of system or project admin; otherwise display only user's permissions -->
  <app-permission-info
    *ngIf="adminPermissions"
    [hasPermissions]="resource.res.hasPermissions"
    [userHasPermission]="resource.res.userHasPermission"></app-permission-info>
  <app-permission-info
    *ngIf="!adminPermissions"
    [userHasPermission]="resource.res.userHasPermission"></app-permission-info>
  <!-- more menu with: delete, erase resource -->
  <button
    color="primary"
    *ngIf="(attachedProject?.status && ((userCanEdit && showEditLabel) || userCanDelete || adminPermissions))"
    mat-icon-button
    class="more-menu"
    matTooltip="More"
    matTooltipPosition="above"
    [matMenuTriggerFor]="more"
    [disabled]="resource.res.isDeleted">
    <mat-icon>more_vert</mat-icon>
  </button>
</span>

<mat-menu #share="matMenu" class="res-share-menu">
  <button
    mat-menu-item
    matTooltip="Copy ARK url"
    matTooltipPosition="above"
    [cdkCopyToClipboard]="resource.res.versionArkUrl"
    (click)="openSnackBar('ARK URL copied to clipboard!')">
    <mat-icon>content_copy</mat-icon>
    Copy ARK url to clipboard
  </button>
  <button
    mat-menu-item
    matTooltip="Copy internal link"
    matTooltipPosition="above"
    [cdkCopyToClipboard]="resource.res.id"
    (click)="openSnackBar('Internal link copied to clipboard!')">
    <mat-icon>content_copy</mat-icon>
    Copy internal link to clipboard
  </button>
</mat-menu>

<mat-menu #more="matMenu" class="res-more-menu">
  <button
    *ngIf="showEditLabel"
    [disabled]="!userCanEdit"
    mat-menu-item
    matTooltip="Edit the label of this resource"
    matTooltipPosition="above"
    (click)="editResourceLabel()">
    <mat-icon>edit</mat-icon>
    Edit label
  </button>
  <button
    [disabled]="!userCanDelete"
    mat-menu-item
    matTooltip="Move resource to trash bin."
    matTooltipPosition="above"
    (click)="deleteResource()">
    <mat-icon>delete</mat-icon>
    Delete resource
  </button>
  <button
    *ngIf="adminPermissions"
    mat-menu-item
    matTooltip="Erase resource forever. This cannot be undone."
    matTooltipPosition="above"
    (click)="eraseResource()">
    <mat-icon>delete_forever</mat-icon>
    Erase resource
  </button>
</mat-menu>
