<!-- resource's label (defined in the base ontology) -->
<div class="property">
  <h3
    class="mat-subtitle-2"
    matTooltip="Each resource needs a (preferably unique) label. It will be a kind of resource identifier."
    matTooltipPosition="above">
    Resource label *
  </h3>
  <div class="value">
    <app-text-value-as-string
      #createVal
      [mode]="'create'"
      [commentDisabled]="true"
      [valueRequiredValidator]="true"
      [parentForm]="parentForm"
      [formName]="'label'">
    </app-text-value-as-string>
  </div>
</div>

<!-- resource's properties (defined in the ontology) -->
<app-property-item
  *ngFor="let prop of propertiesWithoutLink"
  [prop]="prop"
  [propertyValuesKeyValuePair]="propertyValuesKeyValuePair"></app-property-item>
