<app-progress-indicator *ngIf="loading"></app-progress-indicator>

<div>
    <form>
        <div class="form-content">
            <mat-form-field class="full-width">
                <input
                    required
                    matInput
                    [formControl]="permissions"
                    placeholder="Enter a permissions string"
                    [disabled]="loading">
            </mat-form-field>
        </div>
    </form>
    <button (click)="updatePermissions()" [disabled]="loading">
        update
    </button>
</div>
