@import "../../../../assets/style/config";

.list-view-header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  padding: 0 16px;
  height: 58px;
  width: 100%;
  z-index: 1;
  background: $bright;

  .pagination-button:disabled {
    span,
    mat-icon{
      color: #BDBFC1;
    }
  }

  .pagination-button {
    &.previous {
      span{
        padding-left: 14px;
      }
    }

    &.next {
      span{
        padding-right: 14px;
      }
    }

    span,
    mat-icon{
      color: $primary-new;
      font-weight: 400;
    }
  }

  .range{
    color: #7B7F84;
    font-weight: 300;
  }
}

.list-view-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: sticky !important;
  top: 0;

  .switch-view-label {
    margin-right: 16px;
  }
}

.no-results-container {
  background: #fffae6;
  color: #aa470a;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  gap: 10px;

  mat-icon {
    color: #f0960f;
    min-width: 25px;
  }
}

button.active {
  background-color: $black-12-opacity;
}

.link:hover {
  background-color: $black-12-opacity;
}

::ng-deep .selected-resource {
  background-color: $black-20-opacity;
}

.beta {
  height: 60px;
}
