<!-- add new node item -->
<div class="new-list-item medium-field" *ngIf="parentIri && projectcode">
    <!--     <button type="button" mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror">
            add
        </mat-icon>
    </button> -->
    <kui-string-literal-input class="list-item-label" [placeholder]="placeholder" [value]="[]"
                              (dataChanged)="handleData($event)" [language]="language">
    </kui-string-literal-input>
    <button *ngIf="!loading" mat-icon-button matSuffix [disabled]="labels.length === 0" class="add-node-btn"
            (click)="submitData()">
        <mat-icon>
            add
        </mat-icon>
    </button>
    <kui-progress-indicator [status]="0" *ngIf="loading"></kui-progress-indicator>
</div>

<!-- edit node item -->
<div class="list-item medium-field" *ngIf="!(parentIri && projectcode) && labels">
    <kui-string-literal-input class="list-item-label" [placeholder]="''" [value]="labels"
                              (dataChanged)="handleData($event)" [language]="language">
    </kui-string-literal-input>
    <!-- TODO: asap Knora api is ready to update single nodes set [disabled]="labels.length === 0" -->
    <button *ngIf="!loading" mat-icon-button matSuffix class="edit-node-btn"
            (click)="submitData(); updateData = !updateData;">
        <mat-icon>
            {{updateData ? 'check' : 'edit'}}
        </mat-icon>
    </button>
    <kui-progress-indicator [status]="0" *ngIf="loading"></kui-progress-indicator>

</div>
