.medium-field {
  margin-top: -6px;
}

.list-item-label {
  width: 480px;
  height: 48px;
  display: inline-block;
}
.add-node-btn,
.edit-node-btn {
  margin: 0 0 0 8px;
}

.new-list-item {
  margin: 8px 0 0 40px;
}
