<!-- add new node item -->
<div class="new-list-item medium-field" *ngIf="parentIri && projectIri">
    <!--     <button type="button" mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror">
            add
        </mat-icon>
    </button> -->
    <kui-string-literal-input class="list-item-label" [placeholder]="placeholder" [value]="[]"
                              (dataChanged)="handleData($event)" [language]="language" (enter)="submitData()">
    </kui-string-literal-input>
    <button *ngIf="!loading" mat-icon-button matSuffix [disabled]="!labels && labels?.length === 0" class="add-node-btn"
            (click)="submitData()">
        <mat-icon>
            add
        </mat-icon>
    </button>
    <kui-progress-indicator [status]="0" *ngIf="loading" class="progress-indicator"></kui-progress-indicator>
</div>

<!-- edit node item -->
<div class="list-item medium-field" *ngIf="!(parentIri && projectIri) && labels">
    <!-- TODO: at the moment (2019-09-12) we can't modify a node; the api doesn't support it; this is why we set the input to readonly -->
    <kui-string-literal-input class="list-item-label" [placeholder]="labels | stringifyStringLiteral" [value]="labels"
                              [readonly]="true" (dataChanged)="handleData($event)" [language]="language"
                              (touched)="toggleBtn($event)">
    </kui-string-literal-input>
    <!-- TODO: asap Knora api is ready to update single nodes set [disabled]="labels.length === 0" -->
    <button *ngIf="!loading && updateData" type="submit" mat-icon-button matSuffix class="edit-node-btn"
            [disabled]="labels.length === 0" (click)="submitData(); updateData = !updateData;">
        <mat-icon>
            <!-- {{updateData ? 'check' : 'edit'}} -->
            check
        </mat-icon>
    </button>
    <kui-progress-indicator [status]="0" *ngIf="loading" class="progress-indicator"></kui-progress-indicator>
</div>
