<!-- add new node item -->
<div class="new-list-item medium-field" *ngIf="parentIri && projectIri">
    <dsp-string-literal-input class="list-item-label" [placeholder]="placeholder" [value]="[]"
        (dataChanged)="handleData($event)" [language]="language" (enter)="submitData()">
    </dsp-string-literal-input>
    <button *ngIf="!loading" mat-icon-button matSuffix [disabled]="!labels && !labels?.length" class="add-node-btn"
        (click)="submitData()">
        <mat-icon>
            add
        </mat-icon>
    </button>
    <dsp-progress-indicator [status]="0" *ngIf="loading" class="progress-indicator"></dsp-progress-indicator>
</div>

<!-- edit node item -->
<div class="list-item medium-field"
    *ngIf="!(parentIri && projectIri) && labels"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()">
    <!-- TODO: at the moment (2019-09-12) we can't modify a node; the api doesn't support it; this is why we set the input to readonly -->
    <dsp-string-literal-input class="list-item-label"
        [placeholder]="labels | dspStringifyStringLiteral:'all' | dspTruncate: 128" [value]="labels" [readonly]="false"
        (dataChanged)="handleData($event)" [language]="language" (touched)="toggleBtn($event)">
    </dsp-string-literal-input>
    <div class="action-bubble" *ngIf="showActionBubble" [@simpleFadeAnimation]="'in'">
        <div class="button-container">
            <button mat-button
                    class="edit"
                    title="edit"
                    (click)="$event.stopPropagation(); openDialog('editListNode', labels[0].value, iri)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button
                    class="comment-toggle"
                    title="toggle comment">
                <mat-icon>comment</mat-icon>
            </button>
        </div>
    </div>
    <dsp-progress-indicator [status]="0" *ngIf="loading" class="progress-indicator"></dsp-progress-indicator>
</div>
