<div *ngIf="isProjectAdmin" class="content large middle">
    <!-- add group to the project -->
    <app-add-group
        *ngIf="project?.status && (isSysAdmin$ | async) === true"
        [projectUuid]="projectUuid"
        (refreshParent)="refresh()"
        #addGroupComponent
    ></app-add-group>

    <!-- <mat-divider *ngIf="project?.status" ></mat-divider> -->

    <dasch-swiss-app-progress-indicator *ngIf="loading"></dasch-swiss-app-progress-indicator>

    <div *ngIf="!loading" class="content">
        <!-- list of active groups? -->
        <app-groups-list></app-groups-list>

        <!-- list of inactive groups -->
    </div>
</div>

<div *ngIf="!isProjectAdmin" class="content large middle">
    <app-status [status]="403"></app-status>
</div>
