.stepTwo {
    margin: 24px 56px !important;
    width: calc(100% - 144px);

    .btn-field {
      margin-top: 48px;
      margin-bottom: 0;
    }
}

.form-action {
    width: 100%;
    margin-top: 24px;
    // margin-left: 48px;
}

.errorIfNoElement {
  margin-bottom: 36px;
}
