<!-- create property values and submit data -->
<app-progress-indicator *ngIf="preparing"></app-progress-indicator>
<form *ngIf="propertiesParentForm && !preparing"
    class="resource-instance-form form-content"
    [formGroup]="propertiesParentForm"
    (ngSubmit)="submitData()"
    appInvalidControlScroll>

    <!-- upload file -->
    <app-upload *ngIf="hasFileValue"
        [parentForm]="propertiesParentForm"
        [representation]="hasFileValue"
        (fileInfo)="setFileValue($event)">
    </app-upload>

    <!-- create property values -->
    <app-select-properties #selectProps
        *ngIf="resourceClass"
        [ontologyInfo]="ontologyInfo"
        [selectedResourceClass]="resourceClass"
        [properties]="properties"
        [parentForm]="propertiesParentForm"
        [currentOntoIri]="ontologyIri"
        class="select-properties">
    </app-select-properties>

    <!-- action buttons: save -->
    <div class="form-panel form-action">

        <span class="fill-remaining-space"></span>
        <span>
            <button mat-raised-button
                type="submit"
                [color]="error ? 'warn' : 'primary'"
                class="form-submit"
                [disabled]="!propertiesParentForm.valid">
                <app-progress-indicator *ngIf="loading && !error"
                    [color]="'white'"
                    [status]="0"
                    class="submit-progress"></app-progress-indicator>
                <mat-icon *ngIf="!loading && error">close</mat-icon>
                {{ !loading && error ? ('appLabels.form.action.retry' | translate) : ('appLabels.form.action.submit' |
                translate) }}
            </button>
        </span>
    </div>
</form>
