<form *ngIf="selectResourceForm && showNextStepForm" [formGroup]="selectResourceForm" class="resource-instance-form stepOne form-content" (ngSubmit)="nextStep()">

    <!-- select one project -->
    <div *ngIf="usersProjects?.length > 0">
        <app-select-project
            [formGroup]="selectResourceForm"
            [usersProjects]="usersProjects"
            (projectSelected)="selectOntologies($event)">
        </app-select-project>
    </div>

    <!-- select one ontology -->
    <span>
        <div *ngIf="ontologiesMetadata?.ontologies.length > 0">
            <app-select-ontology
                [formGroup]="selectResourceForm"
                [ontologiesMetadata]="ontologiesMetadata"
                (ontologySelected)="selectResourceClasses($event)">
            </app-select-ontology>
        </div>
    </span>

    <!-- select one resource -->
    <span *ngIf="resourceClasses?.length > 0">
        <app-select-resource-class
            [formGroup]="selectResourceForm"
            [resourceClassDefinitions]="resourceClasses"
            (resourceClassSelected)="selectProperties($event)"
            (resourceLabel)="getResourceLabel($event)">
        </app-select-resource-class>
    </span>

    <p *ngIf="errorMessage">
        <b>{{errorMessage}}</b>
    </p>

    <!-- action buttons: cancel and next -->
    <div class="form-panel large-field">
        <span>
            <button mat-button type="button" (click)="closeDialog.emit()">
                {{ 'appLabels.form.action.cancel' | translate }}
            </button>
        </span>
        <span class="fill-remaining-space"></span>
        <span>
            <button mat-raised-button type="submit" color="primary" [disabled]="!selectResourceForm.valid || !selectedResourceClass"
                (click)="nextStep($event)">
                Next
            </button>
        </span>
    </div>

</form>

<form *ngIf="form && !showNextStepForm" [formGroup]="form" class="resource-instance-form stepTwo form-content" (ngSubmit)="submitData()">

    <!-- fill in properties -->
    <app-select-properties
        [propertiesAsArray]="propertiesAsArray"
        class="select-properties">
    </app-select-properties>

    <!-- action buttons: cancel and save -->
    <div class="form-panel large-field">
        <span>
            <button mat-button type="button" (click)="closeDialog.emit()">
                {{ 'appLabels.form.action.cancel' | translate }}
            </button>
        </span>
        <span class="fill-remaining-space"></span>
        <span>
            <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">
                {{ 'appLabels.form.action.submit' | translate}}
            </button>
        </span>
    </div>
</form>
