<form *ngIf="selectResourceForm" [formGroup]="selectResourceForm" class="form-content" (ngSubmit)="submitData()">

    <!-- select project -->
    <div *ngIf="usersProjects?.length > 0">
        <app-select-project
            [formGroup]="selectResourceForm"
            [usersProjects]="usersProjects"
            (projectSelected)="selectOntology($event)">
        </app-select-project>
    </div>

    <!-- select ontology -->
    <span>
        <div *ngIf="ontologiesMetadata?.ontologies.length > 0">
            <app-select-ontology
                [formGroup]="selectResourceForm"
                [ontologiesMetadata]="ontologiesMetadata"
                (ontologySelected)="selectResourceClasses($event)">
            </app-select-ontology>
        </div>
    </span>

    <!-- select resource -->
    <span *ngIf="resourceClasses?.length > 0">
        <app-select-resource-class
            [formGroup]="selectResourceForm"
            [resourceClassDefinitions]="resourceClasses"
            (resourceClassSelected)="selectProperties($event)">
        </app-select-resource-class>
    </span>

    <b>{{errorMessage}}</b>

    <!-- action buttons: cancel and next -->
    <div class="form-panel large-field">
        <span>
            <button mat-button type="button" (click)="closeDialog.emit()">
                {{ 'appLabels.form.action.cancel' | translate }}
            </button>
        </span>
        <span class="fill-remaining-space"></span>
        <button mat-button type="submit" color="primary" [disabled]="!selectResourceForm.valid || !activeResourceClass">
            {{ 'appLabels.form.action.next' | translate}}
        </button>
    </div>

</form>
