/libs/vre/3rd-party-services @mpro7

/libs/vre/core @domsteinbach # @irmastnt

/libs/vre/pages/project # @irmastnt
/libs/vre/pages/search # @irmastnt
/libs/vre/pages/user-settings @domsteinbach
/libs/vre/pages/system @mpro7
/libs/vre/pages/ontology @derschnee68 @domsteinbach
# /libs/vre/pages/miscellaneous does not exist yet

/libs/vre/resource-editor @derschnee68 @domsteinbach

# /libs/vre/shared not assigned yet

/libs/vre/ui @derschnee68 # @irmastnt
