@use "responsive" as *;

$gray_100: rgba(243, 244, 246, 1);
$gray_500: rgba(107, 114, 128, 1);
$gray_700: rgba(55, 65, 81, 1);

$gray_100: rgba(243, 244, 246, 1);
$gray_500: rgba(107, 114, 128, 1);
$gray_700: rgba(55, 65, 81, 1);

.avatar {
  height: 40px;
  border-radius: 50%;
}

.menu-header {
  background: $gray_100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  min-width: 192px;

  .menu-title {
    color: $gray_500;
  }
}

.label {
  color: $gray_700;
}

// mobile device: phone
@media (max-width: map-get($grid-breakpoints, phone)) {
  .user-menu {
    padding: 0;
  }

  // ::ng-deep .menu {
  //   padding-top: 0;
  //   margin-top: 0;
  // }
  .menu-header {
    width: 100%;
  }

    .user-menu-content {
      width: 100%;
    }
}
