@import '../../../assets/style/responsive';

.avatar {
  height: 40px;
  border-radius: 50%;
}

// mobile device: phone
@media (max-width: map-get($grid-breakpoints, phone)) {
  .user-menu {
    padding: 0;
  }

  // ::ng-deep .menu {
  //   padding-top: 0;
  //   margin-top: 0;
  // }
  .menu-header {
    width: 100%;
  }

  .menu-content {
    width: 100%;
  }

  .menu-footer {
    width: 100%;
  }
}
