<!-- if user is looged-in: display user's avatar and user menu -->
<button
    *ngIf="session"
    mat-button
    [matMenuTriggerFor]="userMenu"
    class="main-toolbar-button user-menu"
>
    <img appAdminImage [image]="user?.email" [type]="'user'" class="avatar" />
</button>

<mat-menu #userMenu="matMenu" xPosition="before" class="user-menu">
    <!-- first line: user name and close button -->
    <div class="menu-header">
        <p class="menu-title">
            {{ username }}
        </p>
    </div>
    <!-- menu items -->
    <div class="menu-content">
        <mat-list class="navigation">
            <mat-list-item
                *ngFor="let item of navigation; let i = index"
                class="nav-item"
                [class.border-bottom]="i === 0"
            >
                <button
                    mat-button
                    [routerLink]="item.route"
                    routerLinkActive="active-link"
                    class="nav-item button"
                >
                    <mat-icon class="prefix">{{ item.icon }}</mat-icon>
                    <span class="label">{{ item.label }}</span>
                </button>
            </mat-list-item>

            <!-- system for system admin only -->

            <mat-list-item class="nav-item border-top" *ngIf="sysAdmin">
                <button
                    mat-button
                    [routerLink]="'/system'"
                    routerLinkActive="active-link"
                    class="nav-item button border-top"
                >
                    <mat-icon class="prefix">all_inbox</mat-icon>
                    <span class="label">System</span>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="menu-footer border-top">
        <button mat-button class="menu-action logout" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            Logout
        </button>
    </div>
</mat-menu>

<!-- login form -->
<button
    mat-raised-button
    color="primary"
    [matMenuTriggerFor]="loginForm"
    *ngIf="!session"
    class="login-button"
>
    LOGIN
</button>
<mat-menu #loginForm xPosition="before" class="form-menu">
    <app-login-form
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
        (loginSuccess)="closeMenu()"
    ></app-login-form>
</mat-menu>
