@use "../../../../../styles/config" as *;

.resource-list {
  cursor: default;
  .mat-mdc-list-item {
    cursor: default;
    height: auto;
    min-height: 40px;

    &.border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-line {
      white-space: normal !important;
    }
  }
}

.res-list-item-container {
  display: flex;
  align-items: center;
}

.res-list-item-content {
  display: flex;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.res-list-item-text{
  overflow: hidden;
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.res-class-label,
.res-prop-label {
  color: $cool_gray_500;
}

.res-class-label,
.res-class-value {
  margin: 4px 0;
}

.res-class-label {
  overflow: hidden;
  font-size: 14px !important;
}

.res-class-value {
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.5;
}

.res-prop-label {
  font-style: italic;
}


.shorten-long-text {
  text-align: justify;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  max-height: 2.5em;
  text-overflow: ellipsis;
}

.shorten-multiline-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 3em;
}

.res-checkbox {
  width: 2em;
  flex-shrink: 0;
}
