@use "../../../../../styles/config" as *;

.resource-list {
  cursor: default;
  .mat-list-item {
    cursor: default;
    height: auto;
    min-height: 40px;

    &.border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-line {
      white-space: normal !important;
    }
  }
}

.mat-list-item-content {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.res-list-item-container {
  width: 95%;
  display: flex;
  flex-grow: 1; /* grow to fill remaining space */
  cursor: pointer;
  align-items: center;
}

.res-list-item-text{
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}


.res-checkbox {
  align-items: flex-end;
  width: 5%;
  margin-left: auto;
  cursor: default;
}

.res-class-label,
.res-prop-label {
  color: $cool_gray_500;
}

.res-class-label,
.res-class-value {
  margin: 4px 0;
}

.res-class-label {
  font-size: 14px !important;
}

.res-class-value {
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.5;
}

.res-prop-label {
  font-style: italic;
}
