@import "~@angular/material/theming";
@import "../../../../assets/style/config";

.resource-class {
  min-height: 120px;
  height: auto;
  position: relative;
  @include mat-elevation-transition;
  @include mat-elevation(2);
  padding: 12px;
  margin: 6px;
  background-color: #fff;

  .resource-class-header {
    // margin: -12px -12px 0 -12px;
    // width: calc(100% + 24px);
    // min-height: 48px !important;
    // height: 48px;
    cursor: move;
    margin-left: -12px;

    .resource-class-header-action {
      position: absolute;
      right: 0;
      top: 0;
    }

    .resource-class-more {
    }
  }

  .resource-class-footer {
    position: absolute;
    bottom: 14px;
    right: 14px;
  }

  .resource-class-properties {
    li.property-info {
      list-style-type: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: -24px;
      list-style-position: inside;
    }
  }

  &:active {
    @include mat-elevation(8);
  }
}
