<div>
    <dasch-swiss-app-progress-indicator *ngIf="loading"></dasch-swiss-app-progress-indicator>

    <div *ngIf="!loading" class="form-content list-info">
        <h3 *ngIf="mode ==='create'">Create new controlled vocabulary</h3>
        <!-- list label -->
        <app-string-literal-input [placeholder]="'Controlled vocabulary label *'" [value]="labels"
            (dataChanged)="handleData($event, 'labels')" (focus)="isLabelTouched = $event">
        </app-string-literal-input>
        <mat-hint class="invalid-form string-literal-error" *ngIf="labelInvalidMessage && isLabelTouched">{{ labelInvalidMessage }}</mat-hint>

        <br><br>

        <!-- list description / comment -->
        <app-string-literal-input [textarea]="true" [placeholder]="'Controlled vocabulary description *'" [value]="comments"
            (dataChanged)="handleData($event, 'comments')" (focus)="isCommentTouched = $event" [language]="labels.length ? labels[0].language : 'en'">
        </app-string-literal-input>
        <mat-hint class="invalid-form string-literal-error" *ngIf="commentInvalidMessage && isCommentTouched">{{ commentInvalidMessage }}</mat-hint>

        <div class="form-panel form-action">
            <span class="fill-remaining-space"></span>
            <span>
                <button mat-raised-button type="submit" color="primary" [disabled]="saveButtonDisabled"
                    (click)="submitData()" class="list-submit">
                    {{ mode === 'update' ? 'Update' : 'Create' | translate }}
                </button>
            </span>
        </div>
    </div>
</div>
