dist: xenial
sudo: required

services:
    - docker

language: node_js

node_js:
  - "11"

cache:
  yarn: true
  directories:
  - node_modules

addons:
  chrome: stable

install: yarn install --prod=false

script:
  - yarn test-ci
  - docker build .