site_name: DSP-APP

repo_url: https://github.com/dasch-swiss/dsp-app
repo_name: dasch-swiss/dsp-app
edit_uri: blob/main/docs/
copyright: "&copy; 2017 - 2021 <a href='https://dasch.swiss' target='_blank'>Data and Service Center for the Humanities (DaSCH)</a>"

nav:
  - Introduction: index.md
  - Development:
      - Developer Documentation: contribution/index.md
      - Docs Documentation: contribution/docs-documentation.md
      - Release Notes: contribution/release-notes.md

plugins:
  - include-markdown
  - search
  - git-revision-date

theme:
  name: material
  logo: "assets/icons/dasch-icon-white.svg"
  favicon: "assets/icons/dasch-favicon.ico"
  icon:
    repo: fontawesome/brands/github
  palette:
    primary: "deep purple"
    accent: "deep purple"
  features:
    - navigation.tabs

extra_css:
  - "assets/style/theme.css"
