.selected-resources {
  margin-top: 10px;

  .mat-list-item {
    height: auto;

    .mat-icon {
      font-size: 20px;
      color: #673ab7;
    }

    .mat-line {
      white-space: normal !important;
    }

    .mat-list-item {
      margin-left: 0px;
    }
  }
}

.res-ids-container {
  margin: 8px;
}

.res-value {
  color: #673ab7;
}

.action-buttons {
  margin-top: 20px;

  .res-action {
    margin: 4px;
  }
}
