<form [formGroup]="regionForm">
    <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput formControlName="comment">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Label</mat-label>
        <input matInput formControlName="label">
    </mat-form-field>
    <!-- TODO: Colorpicker? -->
    <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput formControlName="color">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Is Region Of</mat-label>
        <input matInput disabled [value]="resourceIri">
    </mat-form-field>
<!-- TODO: Further inputs would be status, lineColor and lineWidth if necessary -->
    <div class="form-panel large-field">
        <span>
            <button mat-button type="button" mat-dialog-close>
                {{ 'appLabels.form.action.cancel' | translate }}
            </button>
        </span>
        <span class="fill-remaining-space"></span>
        <span>
            <button
                mat-raised-button
                [mat-dialog-close]="regionForm.value"
                type="button"
                color="primary"
                [disabled]="!regionForm.valid"
                 class="form-submit">
                Submit
            </button>
        </span>
    </div>
</form>
