<div class="content large middle">
    <app-progress-indicator *ngIf="loading"></app-progress-indicator>

    <div *ngIf="!loading" class="content">
        <div class="app-headline">
            <h1 class="mat-headline">
                Welcome {{ user?.givenName }} {{ user?.familyName }}
            </h1>

            <h2 class="mat-title">
                Here you'll find your latest work, your projects, and
                collections.
                <button
                    type="button"
                    mat-icon-button
                    matPrefix
                    matTooltipPosition="above"
                    color="accent"
                    matTooltip="COMING SOON! All these features are not yet fully implemented."
                >
                    <mat-icon>warning</mat-icon>
                </button>
            </h2>
        </div>

        <div class="app-tools"></div>

        <div class="app-toolbar transparent">
            <div class="app-toolbar-row">
                <h3 class="mat-body subtitle">List of projects</h3>
            </div>
            <div class="app-toolbar-row">
                <h2 class="mat-title show-projects-title">
                    <span *ngIf="!showSystemProjects"
                        >You are member in the following projects.</span
                    >
                    <span *ngIf="showSystemProjects && sysAdmin"
                        >As a system admin, you have access to all projects.
                    </span>
                </h2>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action">
                    <button
                        mat-button
                        color="'primary'"
                        *ngIf="sysAdmin"
                        (click)="showSystemProjects = !showSystemProjects"
                        class="toggle-view"
                    >
                        <span *ngIf="showSystemProjects"
                            >Show only my projects</span
                        >
                        <span *ngIf="!showSystemProjects"
                            >Show all projects</span
                        >
                    </button>
                </span>
            </div>
            <!-- customised button for phone -->
            <button
                mat-stroked-button
                color="'primary'"
                *ngIf="sysAdmin"
                (click)="showSystemProjects = !showSystemProjects"
                class="toggle-view-mobile"
            >
                <span *ngIf="showSystemProjects">Show only my projects</span>
                <span *ngIf="!showSystemProjects">Show all projects</span>
            </button>
        </div>

        <app-projects *ngIf="showSystemProjects" [system]="true"></app-projects>
        <app-projects
            *ngIf="!showSystemProjects"
            [username]="user.username"
        ></app-projects>
    </div>
</div>
