<div *ngIf="src && src.fileValue.fileUrl">
    <!-- in case of an error -->
    <app-status [status]="404" [url]="src.fileValue.fileUrl" [representation]="'archive'" *ngIf="failedToLoad">
    </app-status>

    <div class="file-representation">
        <div class="container">
            <div class="contents">
                <div class="icon">
                    <mat-icon>
                        description
                    </mat-icon>
                </div>
                <div class="file">
                    <p>{{originalFilename}}</p>
                </div>
            </div>
        </div>
        <div class="toolbar">
            <!-- toolbar -->
            <div class="action horizontal bottom">
                <!-- vertical more button with menu to downlaod and replace file -->
                <button mat-icon-button [matMenuTriggerFor]="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #more="matMenu">
                    <button mat-menu-item (click)="downloadArchive(src.fileValue.fileUrl)">
                        Download file
                    </button>
                    <button mat-menu-item (click)="openReplaceFileDialog()">
                        Replace file
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <!-- <button class="download" mat-button (click)="downloadArchive(src.fileValue.fileUrl)" [disabled]="failedToLoad">
        <mat-icon>
            file_download
        </mat-icon>
        Click to download
    </button>
    <button mat-button matTooltip="Replace archive file" (click)="openReplaceFileDialog()">
        <mat-icon>cloud_upload</mat-icon>
    </button> -->
</div>
<div *ngIf="!src || !src.fileValue.fileUrl">
    No valid file url found for this resource.
</div>