<div *ngIf="src && src.fileValue.fileUrl">
    <!-- in case of an error -->
    <app-error [status]="404" [url]="src.fileValue.fileUrl" [representation]="'audio'" *ngIf="failedToLoad"></app-error>

    <button class="download" mat-button (click)="downloadArchive(src.fileValue.fileUrl)" [disabled]="failedToLoad">
        <mat-icon>
            file_download
        </mat-icon>
        Click to download
    </button>
    <button mat-button matTooltip="Replace archive file" (click)="openReplaceFileDialog()">
        <mat-icon>cloud_upload</mat-icon>
    </button>
</div>
<div *ngIf="!src || !src.fileValue.fileUrl">
    No valid file url found for this resource.
</div>

