$primary_50: #eceff1;
$primary_100: #cfd8dc;
$primary_200: #b0bec5;
$primary_300: #90a4ae;
$primary_400: #78909c;
$primary_500: #607d8b;
$primary_600: #546e7a;
$primary_700: #455a64;
$primary_800: #37474f;
$primary_900: #263238;

$accent_100: #ffe57f;
$accent_200: #ffd740;
$accent_400: #ffc400;
$accent_700: #ffab00;

$border-radius: 4px;

$warn: #ef5350;
$active: #66bb6a;
