$primary_50: #eceff1;
$primary_100: #cfd8dc;
$primary_200: #d4d3d3;
$primary_300: #90a4ae;
$primary_400: #78909c;
$primary_500: #607d8b;
$primary_600: #546e7a;
$primary_700: #455a64;
$primary_800: #37474f;
$primary_900: #263238;

$accent_100: #ffe57f;
$accent_200: #ffd740;
$accent_400: #ffc400;
$accent_700: #ffab00;

$border-radius: 4px;

$warn: #ef5350;
$active: #66bb6a;

$header-height: 72px;
$sub-header-height: 64px;
$panel-height: 40px;
$tab-bar-margin: 36px;

// color variables
$bright: rgba(249, 249, 249, 1);
$grey: rgba(184, 184, 184, 1);
$dark: rgba(41, 41, 41, 1);
$black: rgb(11, 11, 11);
$black-12-opacity: rgba($black, 0.12);
$black-14-opacity: rgba($black, 0.14);
$black-20-opacity: rgba($black, 0.2);
$black-60-opacity: rgba($black, 0.6);

// general border color
$border-color: rgb(235, 235, 235);


// new design defined by UX (DEV-1448: Data Browser)
$gray_100: rgba(243, 244, 246, 1);
$gray_500: rgba(107, 114, 128, 1);
$gray_700: rgba(55, 65, 81, 1);
