//
// flex layout helper
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// --------------------------------------

//
// images, logos, avatars
.avatar-image {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 12px;

  &.square {
    border-radius: 6px;
  }
}

// --------------------------------------

//
// toolbar for content title, subtitle etc.
.app-toolbar {
  background: whitesmoke;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  //  margin: 48px 0 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;

  &.transparent {
    background: none;
  }

  .app-toolbar-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .app-toolbar-action.button {
    margin: 0 0 16px;
    min-width: 40px;

    &.left {
      margin-right: 16px;
    }

    &.right {
      margin-left: 16px;
    }
  }
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 4px;
}

// --------------------------------------

//
// Link
a {
  color: $primary;
}

a,
.link {
  cursor: pointer;
  text-decoration: none;
}

// --------------------------------------

//
// logo, action button
.logo,
.action {
  .main-toolbar-button {
    height: $header-height;

    .mat-icon.custom {
      // font-size: 36px;
      // margin-bottom: 12px;
      // margin-left: -12px;
      // margin-bottom: 5px;
    }
  }
}

// --------------------------------------

//
// margin element
.more-space-top {
  margin-top: 48px !important;
}
.more-space-bottom {
  margin-bottom: 24px !important;

  &.table {
    margin-bottom: 48px !important;
  }
}

// --------------------------------------

//
// menu
/*
.cdk-overlay-connected-position-bounding-box {
  top: 12px !important;
  right: 12px !important;
}
*/

.menu-header,
.menu-content,
.menu-footer {
  width: 192px;
}

.menu-action,
.menu-title {
  width: 100%;
}

.menu-header {
  background-color: $primary;
  color: white;
  border-bottom: 1px solid rgba($primary, 0.1);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: inline-block;
  height: 48px;

  &.active {
    background-color: $primary;
  }

  &.inactive {
    background-color: $warn;
  }

  .menu-title {
    text-align: center;
  }
}

.menu-content {
  .mat-grid-tile button {
    border-radius: $border-radius;
    font-size: 11px;
    height: 84px;
    padding: 6px;
    width: 84px;

    .mat-icon {
      font-size: 36px;
      height: 36px;
      width: 36px;
    }
  }
}

.border-top {
  border-top: 1px solid rgba($primary, 0.1);
}

.border-bottom {
  border-bottom: 1px solid rgba($primary, 0.1);
}

.menu-footer {
  .menu-action.logout {
    background: #ebebeb;
    height: 48px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover {
      background: $warn;
    }
  }
}

.mat-menu-content {
  padding: 0 !important;

  .menu-action {
    .mat-button-wrapper {
      line-height: unset !important;
    }
  }
}

// --------------------------------------

//
// card
.mat-card {
  .mat-card-title,
  .mat-card-subtitle {
    display: flex;
  }

  &.no-shadow {
    box-shadow: none !important;
  }

  .mat-card-actions {
    text-align: right;
  }
}

// --------------------------------------

//
// status badge
.badge {
  padding: 4px 6px;
  font-weight: bolder;
  border-radius: 4px;

  &.status {
    color: white;
    background: $warn;

    &.active {
      background: $active;
    }
  }
}

// status class alone is only for colorized text
.status.text-only {
  color: $warn;

  &.active {
    color: $active;
  }
}

// --------------------------------------

//
// danger zone
.app-danger-zone {
  border: 1px solid $warn;
  border-radius: $border-radius;
}

// --------------------------------------

//
// list
.simple-list {
  padding: 16px;

  .mat-list-item {
    .list-icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 4px;
      position: absolute;
      left: 0;
    }

    .mat-list-text {
      position: relative;
      left: 48px;
    }
  }
}

// --------------------------------------

//
// table
.table {
  border-collapse: collapse;
  width: 100%;
  // max-width: calc(1000px - 2 * 48px);

  &.archived,
  &.archived .mat-icon {
    color: rgba(0, 0, 0, 0.38);

    .avatar-image {
      opacity: 0.3;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.62);
    }
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 88px;

    &.no-border {
      border-bottom: none;
    }

    .hidden {
      display: none;
    }

    //    &:not(:first-child):hover {
    &:hover {
      background-color: darken(#fff, 15%);

      .hidden {
        display: block;
      }
    }

    td,
    th {
      &:not(:first-child) {
        min-width: 96px;
      }

      &.table-action {
        button {
          float: right;
        }
      }

      padding: 6px 12px;
      text-align: left;

      h5.mat-subheading-2,
      p.mat-subheading-1 {
        margin: 0;
      }
    }
  }

  .avatar-cell {
    text-align: center;
    width: 48px;
  }
}

// --------------------------------------

// form
//
$form-width: 472;
$gc-large: decimal-floor($form-width / 1.618, 0) - 2;
$gc-small: $form-width - $gc-large - 4;

.form-content {
  margin: 24px auto;
  //  padding: 0 20px;
  width: $form-width + px;

  .small-field,
  .medium-field,
  .large-field {
    margin-bottom: 24px;
  }

  .small-field {
    width: $gc-small + px;
  }

  .medium-field {
    width: $gc-large + px;
  }

  .large-field {
    min-width: $form-width + px;
  }

  .input-icon {
    color: $black-60-opacity;
  }

  .form-panel {
    display: inline-flex;
    width: $form-width + px;

    &.form-action {
      display: flex;
    }
  }
}

// --------------------------------------

//
// progress-indicator without default color

.kui-progress-indicator {
  .line > div {
    background-color: $primary_700 !important;
  }
}

// --------------------------------------

// tab bar in project, user route
.tab-bar {
  &.margin-from-top {
    margin-top: $tab-bar-margin;
  }

  .active-tab {
    opacity: 1;
  }

  .tab-icon {
    margin-right: 8px;
  }
}

// --------------------------------------

// notes and messages
.note {
  padding: 12px;

  &.developer {
    background-color: rgba(248, 166, 90, 0.5);
  }

  &.warning {
    background-color: rgba($accent_100, 0.5);
  }

  &.error {
    background-color: rgba($warn, 0.5);
  }

  &.success {
    background-color: rgba($active, 0.5);
  }
}

// --------------------------------------

//
// mat tab

.mat-tab-header {
  background: #fff;
  position: sticky !important;
  top: 64px;
  z-index: 1;
}
.mat-tab-body-wrapper {
  z-index: 0;
}

.search-results-title {
  color: rgba(0, 0, 0, 1) !important;
}
// --------------------------------------

//
// dialog box / material overlay

.cdk-overlay-pane {

    .mat-dialog-container {
      height: 80vh !important;
      overflow-y: auto;
    }
}

// --------------------------------------
