.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.cdk-overlay-connected-position-bounding-box {
  top: 12px !important;
  right: 12px !important;
}

.mat-menu-content {
  padding: 0 !important;

  .menu-action {

    .mat-button-wrapper {
      line-height: unset !important;
    }

  }
}
