//
// flex layout helper
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// --------------------------------------

//
// images, logos, avatars
.avatar-image {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 12px;

  &.square {
    border-radius: 6px;
  }
}
// --------------------------------------

//
// Link
a {
  color: $primary;
}
a,
.link {
  cursor: pointer;
  text-decoration: none;
}
// --------------------------------------

//
// logo, action button
.logo,
.action {

  .mat-button {
    padding: 12px 0;
  }

}
// --------------------------------------

//
// rules and dividers
.mat-divider.more-space {
  margin-top: 78px !important;
  margin-bottom: 48px !important;
}
// --------------------------------------

//
// menu
/*
.cdk-overlay-connected-position-bounding-box {
  top: 12px !important;
  right: 12px !important;
}
*/

.mat-menu-content {
  padding: 0 !important;

  .menu-action {

    .mat-button-wrapper {
      line-height: unset !important;
    }

  }
}

// --------------------------------------

//
// card
.mat-card {

  .mat-card-title,
  .mat-card-subtitle {
    display: flex;
  }

  &.no-shadow {
    box-shadow: none !important;
  }
  .mat-card-actions {
    text-align: right;
  }
}

// --------------------------------------

//
// status badge
.status {
  padding: 4px 6px;
  font-weight: bolder;
  border-radius: 4px;
  color: white;
  background: $warn;
  &.active {
    background: $active;
  }
}

// --------------------------------------

//
// list
.simple-list {

  padding: 16px;

  .mat-list-item {

    .list-icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 4px;
      position: absolute;
      left: 0;
    }

    .mat-list-text {
      position: relative;
      left: 48px;
    }

    .mat-list-action {

    }

  }
}

.list-header {
  display: flex;
  margin-top: -48px;
  padding-bottom: 24px;
//  padding: 24px 0 24px 12px;

  .smaller {
    font-size: small;
  }

  .list-action {

    .mat-icon-button {
      margin: 0 0 16px !important;
    }

  }

}

// --------------------------------------

//
// table
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: calc(1000px - 2 * 48px);

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 88px;

    &.no-border {
      border-bottom: none;
    }

    .hidden {
      display: none;
    }

    //    &:not(:first-child):hover {
    &:hover {
      background-color: darken(#fff, 15%);

      .hidden {
        display: block;
      }
    }

    td,
    th {

      &:not(:first-child) {
        min-width: 96px;
      }

      &.table-action {

        button {
          float: right;
        }
      }

      padding: 6px 12px;
      text-align: left;

      h5.mat-subheading-2,
      p.mat-subheading-1 {
        margin: 0;
      }
    }
  }

  .avatar-cell {
    text-align: center;
    width: 48px;
  }
}

// --------------------------------------

// form
//
$form-width: 472;
$gc-large: decimal-floor($form-width / 1.618, 0) - 2;
$gc-small: $form-width - $gc-large - 4;

.form-content {
  margin: 24px auto;
  padding: 0 20px;
  width: $form-width + px;



  .small-field, .medium-field, .large-field {
    margin: 0 2px 24px 0;
  }

  .small-field {
    width: $gc-small + px;
  }

  .medium-field {
    width: $gc-large + px;
  }

  .large-field {
    min-width: $form-width + px;
  }

  .input-icon {
    color: $black-60-opacity;
  }

  .form-panel {
    width: $form-width + px;

    &.form-action {
      display: flex;
    }
  }
}

// --------------------------------------

//
// progress-indicator without default color

.kui-progress-indicator {
  .line > div {
    background-color: $primary_700 !important;
  }
}
// --------------------------------------

//
// notes, messages
.note {
  background: #fafad2;
  margin: 48px auto;
  padding: 24px 48px;

  li {
    margin-bottom: 16px;
  }
}
// --------------------------------------
