//
// component content container
.wrapper {
  max-width: 960px;
  padding: 48px 24px;
  width: 80%;

  &.narrow {
    width: 320px;
  }

  &.wide {
    width: 640px;
  }

  &.center {
    margin: 0 auto;
  }
}

// --------------------------------------

//
// sidenav
.sidenav-container {
  .sidenav {
    background-color: lighten($primary, 50%);
    letter-spacing: .3px;
    width: 36px;

    &.wide {
      width: 180px;
    }

    &.narrow {
      width: 36px;
    }

    .mat-drawer-inner-container {

      overflow-x: hidden;

      .mat-list {
        padding-top: 0;
      }

      .mat-button {
        border-radius: 0;
      }

    }

    .side-nav-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      bottom: 0;
      height: 36px;
      position: absolute;
      width: 100%;

      .mat-button {
        min-width: 30px;
        padding: 0;
        width: 100%;

        .mat-icon {
          margin: 0 auto;
        }
      }
    }

  }

  .mat-sidenav-content {
    background: #fff;

    .content {
      padding: 48px;
      max-width: calc(1000px - (2 * 48px));
    }

  }


}

// --------------------------------------

//
// size and position
.full-size {
  height: 100%;
  width: 100%;
}

.left {
  left: 0;
  text-align: left;
}

// center an element
.middle {
  margin-left: auto;
  margin-right: auto;
}

// center content of an element
.center {
  text-align: center !important;
}

.right {
  right: 0;
  text-align: right;
}

.flex-panel {
  display: flex !important;
}

// --------------------------------------

//
// color
.transparent {
  background: none;
}

// --------------------------------------
