// component content container
.wrapper {
  max-width: 960px;
  padding: 48px 24px;
  width: 80%;

  &.narrow {
    width: 320px;
  }

  &.wide {
    width: 640px;
  }

  &.center {
    margin: 0 auto;
  }
}
