$header-height: 64px;

//
// general app layout
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .app-header {
    height: $header-height;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .app-content {
    flex: 1;
    height: calc(100vh - #{$header-height});
    overflow: auto;
  }
}

//
// component content container
.wrapper {
  max-width: 960px;
  padding: 48px 24px;
  width: calc(100% - 48px);

  &.narrow {
    max-width: 320px;
  }

  &.wide {
    max-width: 960px;
  }
}

// --------------------------------------

//
// sidenav
.sidenav-container {
  .sidenav {
    background-color: lighten($primary, 50%);
    letter-spacing: .3px;
    width: 36px;

    &.wide {
      width: 180px;
    }

    &.narrow {
      width: 36px;
    }

    .mat-drawer-inner-container {

      overflow-x: hidden;

      .mat-list {
        padding-top: 0;
      }
    }

    .side-nav-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      bottom: 0;
      height: 36px;
      position: absolute;
      width: 100%;

      .mat-button {
        min-width: 30px;
        padding: 0;
        width: 100%;

        .mat-icon {
          margin: 0 auto;
        }
      }
    }

  }

  .mat-sidenav-content {
    background: #fff;

    .content {
      padding: 48px;
      max-width: calc(1000px - (2 * 48px));

      //&.profile {
      //
      //  .mat-divider {
      //    margin-top: 78px !important;
      //    margin-bottom: 48px !important;
      //  }
      //}
    }

  }
}

// --------------------------------------

//
// navigation
.navigation {

  padding-top: 0 !important;

  .nav-item {
    height: 48px;
    text-align: left;
    width: 100%;

    &.button {
      margin-left: -16px;
      margin-right: -16px;
      text-align: left;
      width: calc(100% + 32px);
      border-radius: 0;

      .mat-icon {
        position: absolute;
        top: 12px;

        &.prefix {
          left: 4px;
        }

        &.suffix {
          display: none;
          right: 0;
        }
      }

      .label {
        margin-left: 20px;
      }
    }

    .active-link {
      background: rgba(33, 33, 33, .1);

      .mat-icon.suffix {
        display: block;
      }
    }
  }
}


// --------------------------------------

//
// size and position
.full-size {
  height: 100%;
  width: 100%;
}

.left {
  left: 0;
  text-align: left;
}

// center an element
.middle {
  margin-left: auto;
  margin-right: auto;
}

// center content of an element
.center {
  text-align: center !important;
}

.right {
  right: 0;
  text-align: right;
}

.flex-panel {
  display: flex !important;
}

.smaller {
  font-size: small;
}

.content {
  margin: 0 auto;
  max-width: 80%;

  padding: 48px;

  @media (max-width: map-get($grid-breakpoints, phone)) {
    max-width: 100%;
  }
}

//
// dialog: not the one from material, it's a fullframe dialog box
.window.fullframe {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}


// --------------------------------------

//
// color
.transparent {
  background: none;
}

// --------------------------------------
