@import 'config';
@import 'mixins';
@import 'layout';
@import 'elements';
@import 'responsive';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}


a, .link {
  color: $primary_900;
}
