// Include non-theme styles for core.
@use '@angular/material' as mat;
@use "config";
@include mat.core();

// Define the color palettes for the theme.
$primary: mat.define-palette(config.$blue_palette, 700, 500, 900);
$accent: mat.define-palette(config.$light_blue_palette, 900, 600, 900);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(config.$velvet_red_palette, 700, 500, 900);

// Define a theme.
$theme: mat.define-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);
