// Include non-theme styles for core.
@use '~@angular/material' as mat;
@include mat.core();

// Define the color palettes for the theme.
$primary: mat.define-palette(mat.$blue-grey-palette, 700, 500, 900);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Define a theme.
$theme: mat.define-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);
