// Include non-theme styles for core.
@import '~@angular/material/theming';
@include mat-core();

// Define the color palettes for the theme.
$primary: mat-palette($mat-blue-grey, 700, 500, 900);
$accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Define a theme.
$theme: mat-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include angular-material-theme($theme);
