<div class="controls">
    <!-- in case of an error -->
    <app-error [status]="404" [url]="src.fileValue.fileUrl" [representation]="'audio'" *ngIf="failedToLoad"></app-error>

    <div class="audio-player">
        <audio id="audio" [controls]="!failedToLoad" preload="auto">
            <source [src]="audio" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="upload-button">
        <button mat-button matTooltip="Replace audio file" (click)="openReplaceFileDialog()">
            <mat-icon>cloud_upload</mat-icon>
        </button>
    </div>
</div>
