<div class="error-page">

    <!-- error 403: forbidden -->
    <div class="container">
        <div class="image">
            <img class="error-image" [src]="'/assets/images/' + errorMessage?.image" />
        </div>
        <div class="text error-message">
            <h2 class="mat-title">ERROR {{status}}</h2>
            <h1 class="mat-headline">{{errorMessage?.message}}</h1>
            <p [innerHTML]="errorMessage.description"></p>
            <div [ngSwitch]="errorMessage?.action" class="action">
                <button *ngSwitchCase="'goback'" mat-button routerLink="/">
                    <mat-icon>keyboard_backspace</mat-icon> Please go back to the start page.
                </button>
                <p *ngSwitchCase="'reload'">
                    Please come back in a few minutes and try to <a (click)="reload()">reload the page</a>
                </p>
            </div>

        </div>
    </div>

</div>
