@import "../../../assets/style/responsive";

.error-page {
  background: #fff;
  height: 100%;
  width: 100%;

  &.representation-error {
    background: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
    align-content: space-evenly;
    padding-top: 120px;
    max-width: 480px;
    margin: 0 auto;

    .image,
    .text {
      justify-self: stretch;
      align-self: stretch;
      box-sizing: border-box;
      // padding: 24px;
      max-height: 280px;
      max-width: 360px;

      &.error-message {
        line-height: 1.5;
        margin: 0 auto;
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 360px;
      }
    }
  }
}

.action {
  margin-top: 16px;
  width: 360px;

  p {
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }
}

// mobile device: phone
@media (max-width: map-get($grid-breakpoints, phone)) {
  .image {
    display: none;
  }
  .error-page .container {
    padding-top: 30px;
  }
}
