<div class="error-page" [ngSwitch]="status">

    <!-- error 403: forbidden -->
    <div *ngSwitchCase="403" class="container">
        <div class="image">
            <img class="error-image" src="/assets/images/dsp-error-403.svg" />
        </div>
        <div class="text error-message">
            <h2 class="mat-title">ERROR 403</h2>
            <h1 class="mat-headline">Forbidden</h1>
            <p>This is not the content you were looking for.<br>
                But you are not authorized to see this page.
            </p>
            <button mat-button class="action" routerLink="/">
                <mat-icon>keyboard_backspace</mat-icon> Please go back to the start page.
            </button>
        </div>
    </div>

    <!-- error 503: Service unavailable -->
    <div *ngSwitchCase="503" class="container">
        <div class="image">
            <img class="error-image" src="/assets/images/dsp-error-503.svg" />
        </div>
        <div class="text error-message">
            <h2 class="mat-title">ERROR 503</h2>
            <h1 class="mat-headline">Service unavailable</h1>
            <p>The DaSCH Service Platform is not available at the moment.<br>
                Please come back in a few minutes and try to <a (click)="reload()">reload the page</a>.
            </p>
            <button mat-button class="action" routerLink="/">
                <mat-icon>mail_outline</mat-icon> Otherwise contact the DSP developer team
            </button>

        </div>
    </div>

    <!-- default error: 404 not found -->
    <div *ngSwitchDefault class="container">
        <div class="image">
            <img class="error-image" src="/assets/images/dsp-error-404.svg" />
        </div>
        <div class="text error-message">
            <h2 class="mat-title">ERROR 404</h2>
            <h1 class="mat-headline">Not found</h1>
            <p>This is not the content you were looking for.<br>
                But we couldn't find anything with this request.
            </p>
            <button mat-button class="action" routerLink="/">
                <mat-icon>keyboard_backspace</mat-icon> Please go back to the start page.
            </button>
        </div>
    </div>

</div>
