<div class="error-page">

    <div class="container" fxFlex fxLayout="row wrap" fxLayout.lt-md="column" fxFlexFill>
        <div class="image" fxFlex>
            <img class="error-image" src="/assets/images/kuirl-error.svg" />
        </div>
        <div class="text error-message" fxFlex>
            <h2 class="mat-title">ERROR 404</h2>
            <h1 class="mat-headline">Not found</h1>
            <p>This is not the content you are looking for.
                <br>But we couldn't find anything with that request.</p>
            <br><br><br>
            <h3 class="mat-subheading-2 link" routerLink="/">&larr; Please go back to the start page.</h3>
        </div>
    </div>

</div>



