.app-toolbar-action {
  &.select-form {
    margin-top: -18px;
  }

  .form-content {
    display: contents;

    .select-list {
      margin: 0 24px 0 0;
    }
  }

  .create-list-btn {
    margin: 0 0 16px;
    min-width: 140px;
  }
}
