<div *ngIf="projectAdmin" class="content large middle desktop-only">

    <!-- add list to the project -->
    <!-- <app-add-user *ngIf="project?.status && sysAdmin" [projectcode]="projectcode" (refreshParent)="refresh()" #addUserComponent></app-add-user> -->

    <!-- <mat-divider *ngIf="project?.status" ></mat-divider> -->

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <div *ngIf="!loading" class="content lists-list">

        <!-- header toolbar -->
        <div class="app-toolbar">
            <div class="app-toolbar-row">
                <h3 class="mat-body subtitle">
                    <span>Active</span>
                </h3>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action">

                </span>
            </div>
            <div class="app-toolbar-row" *ngIf="projectLists">
                <span class="app-toolbar-action button left">
                    <!-- sort button if more than one item in the list -->
                    <!-- TODO: doesn't work with the StringLiteral value -->
                    <!-- <kui-sort-button *ngIf="list.length > 1" [icon]="'sort_by_alpha'" [sortProps]="sortProps"
                                     [(sortKey)]="sortBy"></kui-sort-button> -->
                </span>
                <h2 class="mat-title">{{projectLists.length | i18nPlural: itemPluralMapping['title']}}</h2>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action button right">
                    <button mat-flat-button [color]="'primary'" (click)="openDialog('createList', 'List')">
                        Create new
                    </button>
                </span>
            </div>
        </div>

        <!-- list of active lists -->
        <mat-accordion>

            <mat-expansion-panel *ngFor="let list of projectLists; let i = index" [expanded]="i === 2">
                <!-- just to test; TODO remove expanded after testing! -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{list.labels[0].value}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{list.comments[0]?.value}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-list-item *ngIf="!loading" [list]="list" [parentIri]="list.id" [listIri]="list.id"
                               [projectcode]="projectcode">
                </app-list-item>
            </mat-expansion-panel>

        </mat-accordion>
    </div>

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>

<div class="mobile-only">
    <kui-message [message]="{status: 415, statusText: 'This content is not supported on small devices.'}"></kui-message>
</div>
