<div *ngIf="projectAdmin" class="content large middle">

    <!-- add list to the project -->
    <!-- <app-add-user *ngIf="project?.status && sysAdmin" [projectcode]="projectcode" (refreshParent)="refresh()" #addUserComponent></app-add-user> -->

    <!-- <mat-divider *ngIf="project?.status" ></mat-divider> -->

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <div *ngIf="!loading" class="content lists-list">

        <!-- list of active lists -->
        <app-lists-list [list]="projectLists" (refreshParent)="refresh()"></app-lists-list>

    </div>

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>
