<div *ngIf="projectAdmin" class="content large middle desktop-only">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- header toolbar -->
    <div class="app-toolbar transparent more-space-bottom" *ngIf="!loading">
        <div class="app-toolbar-row toolbar-subtitle">
            <h3 class="mat-body subtitle">Lists are reusable data</h3>
        </div>

        <div class="app-toolbar-row toolbar-form">
            <h2 class="mat-title">
                <span *ngIf="lists.length > 0">
                    Project has {{lists.length | i18nPlural: itemPluralMapping['list']}}
                </span>
                <span *ngIf="lists.length === 0">
                    It seems there's no list defined yet
                </span>
            </h2>

            <span class="fill-remaining-space"></span>

            <span class="app-toolbar-action" [class.select-form]="lists.length">
                <form [formGroup]="listForm" class="form" *ngIf="!loading">

                    <!-- list to select ontology -->
                    <div class="form-content">
                        <mat-form-field class="large-field select-list" *ngIf="lists.length">
                            <mat-label>
                                Open from list...
                            </mat-label>
                            <mat-select [formControl]="listForm.controls['list']" [(value)]="listIri">

                                <mat-option *ngFor="let list of lists; let first = first" [value]="list.id"
                                    [matTooltip]="list.comments | kuiStringifyStringLiteral" matTooltipPosition="below">
                                    {{list.labels | kuiStringifyStringLiteral:'all'}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="create-list-btn"
                            (click)="openDialog('createList', 'List', project.id)">
                            {{lists.length ? 'Create new list' : 'Create your first list'}}
                        </button>
                    </div>
                </form>
            </span>

        </div>

    </div>

    <!-- main content: show selected list -->
    <div *ngIf="list && !loadList" class="list-editor" #listEditor>
        <mat-divider></mat-divider>

        <app-list-item [list]="list" [parentIri]="list.id" [projectIri]="project.id" [projectcode]="projectcode">
        </app-list-item>

    </div>


    <!-- list of active lists -->
    <!--
        <mat-accordion class="lists-list">

            <mat-expansion-panel *ngFor="let list of lists; let i = index" class="list" (closed)="openPanel = -1"
                (afterExpand)="openPanel = i" [expanded]="lists.length === 1 || openPanel === i">
                <mat-expansion-panel-header>
                    <mat-panel-title [matTooltip]="list.labels | kuiStringifyStringLiteral:'all'"
                        matTooltipPosition="above">
                        {{list.labels | kuiStringifyStringLiteral}}
                    </mat-panel-title>
                    <mat-panel-description class="shorten-text" [matTooltip]="list.comments | kuiStringifyStringLiteral"
                        matTooltipPosition="above">
                        {{list.comments | kuiStringifyStringLiteral | kuiTruncate:[64]}}
                        <span class="fill-remaining-space"></span>
                        <button mat-stroked-button *ngIf="openPanel === i"
                            (click)="$event.stopPropagation(); openDialog('editListInfo', list.labels[0].value, list.id)">
                            Edit info
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-list-item *ngIf="!loading" [list]="list" [parentIri]="list.id" [projectIri]="project.id"
                    [projectcode]="projectcode">
                </app-list-item>
            </mat-expansion-panel>

        </mat-accordion>
    -->

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>

<div class="mobile-only">
    <kui-message [message]="{status: 415, statusText: 'This content is not supported on small devices.'}">
    </kui-message>
</div>
