<div class="properties-container">
    <div class="properties">
        <div *ngFor="let prop of propertiesAsArray; let last = last;" [class.border-bottom]="!last">
            <div class="property" *ngIf="!prop.isLinkProperty || prop">
                <div class="property-label">
                    <h3 class="label mat-subheading-1"
                        [class.label-info]="prop.comment"
                        [matTooltip]="prop.comment"
                        matTooltipPosition="above">
                        {{prop.label}}
                    </h3>
                </div>
                <div class="property-value large-field">
                    <!-- TODO: use the key value pair to figure out how many components to make for each prop -->
                    <div *ngFor="let val of propertyValuesKeyValuePair[prop.id]; let i=index">
                        <app-switch-properties
                            #switchProp
                            [property]="prop"
                            [parentResource]="parentResource"
                            [parentForm]="parentForm"
                            [formName]="prop.label + '_' + i">
                        </app-switch-properties>
                    </div>
                    <!-- Add button -->
                    <!-- TODO: uncomment this and ensure the button only appears if the cardinality of the property allows it -->
                    <!-- <div *ngIf="addValueIsAllowed(prop)">
                        <button type="button" class="create" (click)="showAddValueForm(prop)" title="Add a new value">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

