<div class="properties-container">
    <div class="properties">
        <div *ngFor="let prop of propertiesAsArray; let last = last" [class.border-bottom]="!last">
            <div class="property" *ngIf="!prop.isLinkProperty || prop">
                <div class="property-label">
                    <h3 class="label mat-subheading-1"
                        [class.label-info]="prop.comment"
                        [matTooltip]="prop.comment"
                        matTooltipPosition="above">
                        {{prop.label}} ({{prop.objectType}})
                    </h3>
                </div>
                <div class="property-value">
                    <span [ngSwitch]="prop.objectType">
                        <dsp-text-value-as-string #createVal *ngSwitchCase="'ReadTextValueAsString'" [mode]="mode"></dsp-text-value-as-string>
                        <dsp-text-value-as-xml #createVal *ngSwitchCase="'ReadTextValueAsXml'" [mode]="mode"></dsp-text-value-as-xml>
                        <dsp-int-value #createVal *ngSwitchCase="constants.IntValue" [mode]="mode"></dsp-int-value>
                        <dsp-boolean-value #createVal *ngSwitchCase="constants.BooleanValue" [mode]="mode"></dsp-boolean-value>
                        <dsp-uri-value #createVal *ngSwitchCase="constants.UriValue" [mode]="mode"></dsp-uri-value>
                        <dsp-decimal-value #createVal *ngSwitchCase="constants.DecimalValue" [mode]="mode"></dsp-decimal-value>
                        <dsp-color-value #createVal *ngSwitchCase="constants.ColorValue" [mode]="mode"></dsp-color-value>
                        <dsp-interval-value #createVal *ngSwitchCase="constants.IntervalValue" [mode]="mode"></dsp-interval-value>
                        <dsp-time-value #createVal *ngSwitchCase="constants.TimeValue" [mode]="mode"></dsp-time-value>
                        <dsp-geoname-value #createVal *ngSwitchCase="constants.GeonameValue" [mode]="mode"></dsp-geoname-value>
                        <dsp-link-value #createVal *ngSwitchCase="constants.LinkValue" [mode]="mode"
                                    [parentResource]="parentResource" [propIri]="prop.id"></dsp-link-value>
                        <dsp-date-value #createVal *ngSwitchCase="constants.DateValue" [mode]="mode"></dsp-date-value>
                        <dsp-list-value #createVal *ngSwitchCase="constants.ListValue" [mode]="mode"
                                    [propertyDef]="prop"></dsp-list-value>
                        <span *ngSwitchDefault>
                            <p>Cannot match any value component.</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
