<!-- add new node item -->
<form [formGroup]="addForm" (ngSubmit)="createChildNode()" *ngIf="newNode && isAdmin" style="display: flex">
  <dasch-swiss-multi-language-input
    style="flex: 1"
    [formGroup]="addForm"
    controlName="labels"
    [placeholder]="placeholder">
  </dasch-swiss-multi-language-input>
  <button color="primary" mat-icon-button matSuffix [disabled]="addForm.invalid" type="submit">
    <mat-icon> add </mat-icon>
  </button>
</form>

<!-- node item -->
<div *ngIf="!newNode" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <dasch-swiss-multi-language-input
    class="node-item"
    [placeholder]="labels | appStringifyStringLiteral:'all' | appTruncate: 128"
    [editable]="false"
    [formGroup]="form"
    controlName="labels">
  </dasch-swiss-multi-language-input>
  <div class="action-bubble" *ngIf="showActionBubble && projectStatus" [@simpleFadeAnimation]="'in'">
    <div class="button-container">
      <button
        mat-button
        *ngIf="position > 0"
        title="move up"
        (click)="$event.stopPropagation(); repositionNode('up')"
        class="reposition up">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button
        mat-button
        *ngIf="!lastPosition"
        title="move down"
        (click)="$event.stopPropagation(); repositionNode('down')"
        class="reposition down">
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button
        mat-button
        title="insert new child node above"
        (click)="$event.stopPropagation(); askToInsertNode(iri)"
        class="insert">
        <mat-icon>vertical_align_top</mat-icon>
      </button>
      <button mat-button class="edit" title="edit" (click)="$event.stopPropagation(); askToEditNode(iri)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-button
        class="delete"
        title="delete"
        (click)="$event.stopPropagation(); askToDeleteListNode(labels[0].value, iri)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
