<!-- add new node item -->
<div class="new-list-item medium-field" *ngIf="newNode && isAdmin">
    <dasch-swiss-app-string-literal 
        class="list-item-label" 
        [placeholder]="placeholder" 
        [value]="[]"
        (dataChanged)="handleData($event)" 
        [language]="language" 
        (enter)="createChildNode()">
    </dasch-swiss-app-string-literal>
    <button *ngIf="!loading" color="primary" mat-icon-button matSuffix [disabled]="!labels?.length" class="add-node-btn"
        (click)="createChildNode()">
        <mat-icon>
            add
        </mat-icon>
    </button>
    <dasch-swiss-app-progress-indicator [status]="0" *ngIf="loading" class="progress-indicator"></dasch-swiss-app-progress-indicator>
</div>

<!-- node item -->
<div class="list-item medium-field"
    *ngIf="!newNode"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()">
    <dasch-swiss-app-string-literal 
        class="list-item-label"
        [placeholder]="labels | appStringifyStringLiteral:'all' | appTruncate: 128" 
        [value]="labels" 
        [readonly]="true"
        (dataChanged)="handleData($event)" 
        [language]="language">
    </dasch-swiss-app-string-literal>
    <div class="action-bubble" *ngIf="showActionBubble && projectStatus" [@simpleFadeAnimation]="'in'">
        <div class="button-container">
            <button mat-button
                    *ngIf="position > 0"
                    title="move up"
                    (click)="$event.stopPropagation(); repositionNode('up')"
                    class="reposition up">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-button
                    *ngIf="!lastPosition"
                    title="move down"
                    (click)="$event.stopPropagation(); repositionNode('down')"
                    class="reposition down">
                <mat-icon>arrow_downward</mat-icon>
            </button>
            <button mat-button
                    title="insert new child node above"
                    (click)="$event.stopPropagation(); openDialog('insertListNode', labels[0].value, iri)"
                    class="insert">
                <mat-icon>vertical_align_top</mat-icon>
            </button>
            <button mat-button
                    class="edit"
                    title="edit"
                    (click)="$event.stopPropagation(); openDialog('editListNode', labels[0].value, iri)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button
                    class="delete"
                    title="delete"
                    (click)="$event.stopPropagation(); openDialog('deleteListNode', labels[0].value, iri)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>
