.overview {

    .title-bar {
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .title-bar.admin {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title,
        .create-project-button {
            display: inline-block;
        }

        .create-project-button {

            button {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                padding: 13px 21px;
            }
        }
    }
    

    .project-tiles {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-row-gap: 2.5%;
        grid-column-gap: 5%;
        padding-bottom: 2%;
    }

    .project-tile-container {
        text-align: center;
    }
}

@media (max-width: 820px) {
    .overview {
        .title-bar.other-projects {
            padding-top: 5%;
        }

        .project-tiles {
            grid-template-columns: 45% 45%;
        }
    }
    
}

@media (max-width: 640px) {
    .overview {
        .title-bar.admin {
            display: block;
            padding-bottom: 5%;
    
            .title,
            .create-project-button {
                display: block;
            }

        }

        .title-bar.other-projects {
            padding-top: 5%;
        }

        .project-tiles {
            grid-template-columns: 90%;
            gap: 1%
        }
    }
    
}