@use "../../../styles/responsive" as *;
@use '@angular/material' as mat;

.overview {

    .title-bar {
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .title-bar.admin {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title,
        .create-project-button {
            display: inline-block;
        }

        .create-project-button {
            $custom-button-typography-level: mat.define-typography-level(
                    $font-size: 16px,
                    $line-height: 24px,
                    $font-weight: 600,
                    $font-family: 'Roboto, "Helvetica Neue", sans-serif',
                    $letter-spacing: normal
            );
            $custom-typography: mat.define-typography-config(
                    $button: $custom-button-typography-level
            );

            @include mat.button-typography($custom-typography);
        }
    }

    .project-tiles {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
        padding-bottom: 2%;
    }

    .project-tile-container {
        text-align: center;
        padding-bottom: 15%;
    }
}

@media (max-width: 840px) {
    .overview {
      padding: 5%;

        .project-tiles {
            grid-template-columns: 47.5% 47.5%;
            grid-column-gap: 5%;
        }
    }
}

@media (max-width: 640px) {
    .overview {
        padding: 10%;

        .title-bar.admin {
            display: block;
            padding-bottom: 5%;

            .title,
            .create-project-button {
                display: block;
            }

        }

        .project-tiles {
            grid-template-columns: 100%;
        }

        .project-tile-container {
            padding-bottom: 5%;
        }
    }
}

@media (max-width: map-get($grid-breakpoints, phone)) {
    .overview {
        padding: 5%;
    }
}
