<div *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- success message after updating -->
    <!--<kui-message *ngIf="success" [message]="successMessage" [short]="true"></kui-message>-->

    <!-- content -->

    <section *ngIf="!loggedInUser.sysAdmin">
        <form *ngIf="!loading" [formGroup]="userPasswordForm" class="form-content user-data">
            <mat-form-field class="large">
                <input matInput [type]="showOldPassword ? 'text' : 'password'"
                       autocomplete="old-password"
                       [formControl]="userPasswordForm.controls['requesterPassword']"
                       placeholder="{{ 'appLabels.form.user.general.oldPassword' | translate}} *">

                <button mat-button matSuffix mat-icon-button class="input-icon"
                        attr.aria-label="{{showOldPassword ? 'Hide password' : 'Show password'}}"
                        (click)="toggleVisibility($event, 'old')">
                    <mat-icon>
                        {{showOldPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-hint *ngIf="formErrors.requesterPassword">
                    {{ formErrors.requesterPassword }}
                </mat-hint>
                <!-- second mat hint in case of wrong password -->
                <mat-hint *ngIf="oldPasswordIsWrong" class="app-error-text">
                    {{ oldPasswordError }}
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="large">
                <input matInput [type]="showNewPassword ? 'text' : 'password'"
                       [formControl]="userPasswordForm.controls['newPassword']"
                       autocomplete="new-password"
                       placeholder="{{ 'appLabels.form.user.general.newPassword' | translate}} *">

                <button mat-button matSuffix mat-icon-button class="input-icon"
                        attr.aria-label="{{showNewPassword ? 'Hide password' : 'Show password'}}"
                        (click)="toggleVisibility($event, 'new')">
                    <mat-icon>
                        {{showNewPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-hint *ngIf="formErrors.newPassword">
                    {{ formErrors.newPassword }}
                </mat-hint>
            </mat-form-field>
            <div class="form-panel large">
                <span class="fill-remaining-space"></span>
                <button mat-button type="button" color="primary" (click)="submitData()"
                        [disabled]="!userPasswordForm.valid">
                    {{ 'appLabels.form.action.update' | translate}}
                </button>
            </div>
        </form>
    </section>

    <section *ngIf="loggedInUser.sysAdmin">
        <form [formGroup]="newPasswordForm" class="form-content user-data">
            <div [hidden]="!oldPswd">
                <mat-form-field class="large">
                    <input matInput [type]="showNewPassword ? 'text' : 'password'"
                           autocomplete="new-password"
                           [formControl]="newPasswordForm.controls['newPassword']"
                           placeholder="{{ 'appLabels.form.user.general.newPassword' | translate}} *">

                    <button mat-button matSuffix mat-icon-button class="input-icon"
                            attr.aria-label="{{showNewPassword ? 'Hide password' : 'Show password'}}"
                            (click)="toggleVisibility($event, 'new')">
                        <mat-icon>
                            {{showNewPassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>
                    <mat-hint *ngIf="formErrors.newPassword">
                        {{ formErrors.newPassword }}
                    </mat-hint>
                </mat-form-field>
                <div class="form-panel large">
                    <span class="fill-remaining-space"></span>
                    <button mat-button type="button" color="primary" (click)="savePswd()"
                            [disabled]="!newPasswordForm.valid">
                        {{ 'appLabels.form.action.next' | translate}}
                    </button>
                </div>
            </div>
        </form>
        <form [formGroup]="requesterPasswordForm" class="form-content user-data">
            <div [hidden]="oldPswd">
                <mat-form-field class="large">
                    <input matInput [type]="showOldPassword ? 'text' : 'password'"
                           autocomplete="old-password"
                           [formControl]="requesterPasswordForm.controls['requesterPassword']"
                           placeholder="{{ 'appLabels.form.user.general.requesterPassword' | translate}} *">

                    <button mat-button matSuffix mat-icon-button class="input-icon"
                            attr.aria-label="{{showOldPassword ? 'Hide password' : 'Show password'}}"
                            (click)="toggleVisibility($event, 'old')">
                        <mat-icon>
                            {{showOldPassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>
                    <mat-hint *ngIf="formErrors.requesterPassword">
                        {{ formErrors.requesterPassword }}
                    </mat-hint>
                    <!-- second mat hint in case of wrong password -->
                    <mat-hint *ngIf="oldPasswordIsWrong" class="app-error-text">
                        {{ oldPasswordError }}
                    </mat-hint>
                </mat-form-field>
                <div class="form-panel large">
                    <span class="fill-remaining-space"></span>
                    <button mat-button type="button" color="primary" (click)="submitSysAdminData()"
                        [disabled]="!requesterPasswordForm.valid">
                        {{ 'appLabels.form.action.update' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </section>

    <!--
    <div class="form-panel form-action">
            <span>
                <button mat-button
                        (click)="cancel(projectcode)">
                    {{ 'appLabels.form.action.cancel' | translate }}
                </button>

            </span>
        <span class="fill-remaining-space"></span>
        <span>
                <button mat-raised-button
                        type="button"
                        color="primary"
                        (click)="submitData()"
                        [disabled]="!form.valid">
                    <span *ngIf="username">{{ 'appLabels.form.action.update' | translate }}</span>
                    <span *ngIf="!username">{{ 'appLabels.form.action.submit' | translate }}</span>
                </button>
            </span>
    </div>
    -->

    <!-- TODO: add a second password field to avoid mistyping -->

</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <!--<kui-message *ngIf="errorMessage" [message]="errorMessage"></kui-message>-->
</ng-template>
