<div class="no-shadow" *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!--
    <mat-card-subtitle>User</mat-card-subtitle>

    <mat-card-title>
        <span *ngIf="username">{{ 'appLabels.form.user.title.edit' | translate }}</span>
        <span *ngIf="!username">{{ 'appLabels.form.user.title.new' | translate }}</span>
    </mat-card-title>
    -->

    <!-- success message after updating TODO: kui-message doesn't exist yet in @knora/action -->
    <!--<kui-message *ngIf="success" [message]="successMessage" [short]="true"></kui-message>-->

    <!-- content -->
    <form *ngIf="!loading" [formGroup]="form" class="form-content mat-card-content user-data">

        <!-- email -->
        <mat-form-field class="large-field">
            <input matInput type="email" [formControl]="form.controls['email']"
                   placeholder="{{ 'appLabels.form.user.general.email' | translate }} *" autocomplete="email">
            <mat-hint *ngIf="formErrors.email">
                {{ formErrors.email }}
            </mat-hint>
        </mat-form-field>

        <!-- username -->
        <mat-form-field class="large-field">
            <input matInput type="text" [formControl]="form.controls['username']"
                   placeholder="{{ 'appLabels.form.user.general.username' | translate }} *" autocomplete="username">
            <mat-hint *ngIf="formErrors.username">
                {{ formErrors.username }}
            </mat-hint>
        </mat-form-field>

        <!-- given name -->
        <mat-form-field class="small-field">
            <input matInput [formControl]="form.controls['givenName']"
                   placeholder="{{ 'appLabels.form.user.general.givenName' | translate }} *" autocomplete="givenname">
            <mat-hint *ngIf="formErrors.givenName">
                {{ formErrors.givenName }}
            </mat-hint>
        </mat-form-field>

        <!-- family name -->
        <mat-form-field class="medium-field">
            <input matInput [formControl]="form.controls['familyName']"
                   placeholder="{{ 'appLabels.form.user.general.familyName' | translate }} *" autocomplete="name">
            <mat-hint *ngIf="formErrors.familyName">
                {{ formErrors.familyName }}
            </mat-hint>
        </mat-form-field>

        <!-- password -->
        <mat-form-field class="large-field">
            <input matInput [type]="showPassword ? 'text' : 'password'" autocomplete="new-password"
                   [formControl]="form.controls['password']"
                   placeholder="{{ 'appLabels.form.user.general.password' | translate }} *">

            <button mat-button matSuffix mat-icon-button class="input-icon"
                    attr.aria-label="{{showPassword ? 'Hide password' : 'Show password'}}"
                    (click)="toggleVisibility($event)">
                <mat-icon>
                    {{showPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-hint *ngIf="formErrors.password">
                {{ formErrors.password }}
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="large-field">

            <mat-select [formControl]="form.controls['lang']"
                        [placeholder]="'appLabels.form.user.general.language' | translate">
                <mat-option *ngFor="let lang of languagesList" [value]="lang.id">
                    {{ lang.name }}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <div class="form-panel form-action">
            <span>
                <button mat-button
                        (click)="reset(user)">
                    {{ 'appLabels.form.action.reset' | translate }}
                </button>

            </span>
            <span class="fill-remaining-space"></span>
            <span>
                <button mat-raised-button
                        type="button"
                        color="primary"
                        (click)="submitData()"
                        [disabled]="!form.valid">
                    <span *ngIf="username">{{ 'appLabels.form.action.update' | translate }}</span>
                    <span *ngIf="!username">{{ 'appLabels.form.action.submit' | translate }}</span>
                </button>
            </span>
        </div>

    </form>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <!--<kui-message *ngIf="errorMessage" [message]="errorMessage"></kui-message>-->
</ng-template>
