<span [formGroup]="form">
    <app-date-picker class="small-field" [formControlName]="'dateValue'">

    </app-date-picker>
    <!-- <mat-form-field class="large-field">
        <app-jdn-datepicker>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControlName]="'dateValue'" readonly>
            <mat-datepicker #picker [calendarHeaderComponent]="headerComponent"></mat-datepicker>
        </app-jdn-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field> -->
</span>
