<div class="app-grid">
    <div class="app-grid-item" *ngFor="let item of list">
        <mat-icon *ngIf="item.icon" class="topic">{{item.icon}}</mat-icon>
        <!-- <h3>Ensures Longevity of Humanities Data</h3> -->
        <h3>{{item.title}}</h3>
        <p>{{item.text}}</p>
        <br><br>
        <p class="action center" *ngIf="item.url">

            <button mat-button *ngIf="item.url.substr(0,4) !== 'http'" [routerLink]="[item.url]"
                routerLinkActive="router-link-active" color="primary">
                {{item.urlText ? item.urlText : 'Read more'}}
            </button>

            <a mat-button *ngIf="item.url.substr(0,4) === 'http'" [href]="item.url" target="_blank" color="primary">
                {{item.urlText ? item.urlText : 'Read more'}} <mat-icon class="suffix">launch</mat-icon>
            </a>
        </p>
    </div>
</div>
