@use "../styles/config" as *;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .app-header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .app-content {
    flex: 1;
    height: calc(100vh - #{$header-height});
    margin-top: $header-height;
  }
}

