<section>
    <p>We have to decide to use the same typography everywhere</p>
    <p>Material design supports the following typography classes</p>

    <table>
        <tr>
            <th>tag</th>
            <th>without class</th>
            <th>material class</th>
        </tr>
        <tr>
            <td>h1</td>
            <td><h1>h1 headline</h1></td>
            <td><h1 class="mat-headline">h1 with class mat-headline</h1></td>
        </tr>
        <tr>
            <td>h2</td>
            <td><h2>h2 headline</h2></td>
            <td><h2 class="mat-title">h2 with class mat-title</h2></td>
        </tr>
        <tr>
            <td>h3</td>
            <td><h3>h3 headline</h3></td>
            <td><h3 class="mat-subheading-2">h3 with class mat-subheading-2</h3></td>
        </tr>
        <tr>
            <td>h4</td>
            <td><h4>h4 headline</h4></td>
            <td><h4 class="mat-subheading-1">h4 with class mat-subheading-1</h4></td>
        </tr>
        <tr>
            <td>h5</td>
            <td><h5>h5 headline</h5></td>
            <td></td>
        </tr>
        <tr>
            <td>h6</td>
            <td><h4>h6 headline</h4></td>
            <td></td>
        </tr>
        <tr>
            <td>p</td>
            <td><p>Paragraph p only</p></td>
            <td><p class="mat-body-1">p with class mat-body-1</p></td>
        </tr>
        <tr>
            <td>p</td>
            <td><p>Paragraph p only</p></td>
            <td><p class="mat-body-2">p with class mat-body-2</p></td>
        </tr>
        <tr>
            <td>p</td>
            <td><p>Paragraph p only</p></td>
            <td><p class="mat-caption">p with class mat-caption</p></td>
        </tr>

    </table>
</section>

<mat-divider></mat-divider>

<section>
    <p><strong>additional there are mat-display-n (1-4) classes</strong></p>
    <br>
    <h1 class="mat-display-4">h1 with class mat-display-4</h1>
    <h2 class="mat-display-3">h2 with class mat-display-3</h2>
    <h3 class="mat-display-2">h3 with class mat-display-2</h3>
    <h4 class="mat-display-1">h4 with class mat-display-1</h4>

</section>
