
<div class="select-project-from-list">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>



    <mat-toolbar class="transparent">
        <span>
            <h3>Active Projects</h3>
        </span>
        <span class="fill-remaining-space"></span>
        <span>
            <button mat-button routerLink="/project/new">
                <mat-icon>add</mat-icon>
                NEW
            </button>
        </span>
    </mat-toolbar>

    <div fxLayout="row wrap"
         fxLayout.xs="column"
         fxLayoutGap="grid">

        <!-- 1-n) user's active projects -->
        <div fxFlex.sm="50" fxFlex="33.3" *ngFor="let project of active | sortBy: 'shortname'" class="preview">
            <mat-card (click)="setProject(project.id)" class="link">

                <mat-card-subtitle>{{project.shortcode}} | {{project.shortname}}</mat-card-subtitle>
                <mat-card-title>{{project.longname}}</mat-card-title>


                <mat-card-content>
                    {{project.description.value}}
                </mat-card-content>

            </mat-card>
        </div>
    </div>

    <mat-divider style="margin: 24px 0;"></mat-divider>

    <!-- user's inactive projects -->
    <mat-toolbar class="transparent">
        <span>
            <h3>Archived Projects</h3>
        </span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div fxLayout="row wrap"
         fxFlexFill
         fxLayout.xs="column"
         fxLayoutGap="grid"
         fxLayoutAlign="space-between stretch">

        <div fxFlex="33.3" *ngFor="let project of inactive | sortBy: 'shortname'" class="preview">
            <mat-card (click)="setProject(project.id)" class="link archived">

                <mat-card-subtitle>{{project.shortcode}} | {{project.shortname}}</mat-card-subtitle>
                <mat-card-title>{{project.longname}}</mat-card-title>

                <mat-card-content>
                    {{project.description.value}}
                </mat-card-content>

            </mat-card>
        </div>

    </div>

</div>
