<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

<div class="select-project-from-list"  *ngIf="!loading">

    <mat-card class="no-shadow">

        <mat-card-subtitle>Member of</mat-card-subtitle>
        <mat-card-title>
            <span>{{active.length}} active {{active.length | i18nPlural: itemPluralMapping['project']}}</span>
            <span class="fill-remaining-space"></span>
            <span>
            <button mat-button color="primary" routerLink="/project/new" *ngIf="!username">
                <mat-icon>add</mat-icon>
                NEW
            </button>
        </span>
        </mat-card-title>

        <mat-card-content>
            <!-- list of active projects -->
            <div fxLayout="row wrap"
                 fxFlexFill
                 fxLayout.xs="column"
                 fxLayoutGap="grid"
                 fxLayoutAlign="stretch">

                <div fxFlex="33.3" *ngFor="let project of active | kuiSortBy: 'shortname'" class="preview">
                    <mat-card (click)="setProject(project.id)" class="link active">

                        <mat-card-subtitle>{{project.shortcode}} | {{project.shortname}}</mat-card-subtitle>
                        <mat-card-title>{{project.longname}}</mat-card-title>

                        <mat-card-content>
                            {{project.description.value}}
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="no-shadow">

        <mat-card-subtitle>Member of</mat-card-subtitle>
        <mat-card-title>
            {{inactive.length}} archived {{inactive.length | i18nPlural: itemPluralMapping['project']}}
        </mat-card-title>

        <mat-card-content>
            <!-- list of archived projects -->
            <div fxLayout="row wrap"
                 fxFlexFill
                 fxLayout.xs="column"
                 fxLayoutGap="grid"
                 fxLayoutAlign="stretch">

                <div fxFlex="33.3" *ngFor="let project of inactive | kuiSortBy: 'shortname'" class="preview">
                    <mat-card (click)="setProject(project.id)" class="link archived">

                        <mat-card-subtitle>{{project.shortcode}} | {{project.shortname}}</mat-card-subtitle>
                        <mat-card-title>{{project.longname}}</mat-card-title>

                        <mat-card-content>
                            {{project.description.value}}
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>



