@import '../../../assets/style/theme';

.grid-list {
  margin: 48px 0 96px 0;

  .grid-tile {
    max-height: 308px;

    .preview-image {
      margin-left: auto;
      margin-right: auto;
    }

  }
}

.preview {
  margin: 6px 0;
  padding: 24px;
  word-wrap: break-word;

  .mat-card {
    height: 120px;

    &:hover {
      background: rgba($primary, 0.39);
    }

    &:active {
      background: rgba($primary, 0.61);
    }

    &.create-new {
      background: $accent;

      &:hover {
        background: rgba($accent, 0.61);
      }

      &:active {
        background: rgba($accent, 0.39);
      }
    }

  }

  .preview-image {
    display: block;
    height: 153px;
    margin: 6px auto;
    object-fit: contain;
    width: 190px;
  }

  .preview-icon {
    display: block;
    height: 153px;
    margin: 0 auto;
    object-fit: contain;
    width: 48px;
  }

  .preview-title,
  .preview-text {
    margin: 0 -24px 0 0;
    max-width: 100%;
  }

  .preview-title {
    font-size: 14px;
    font-weight: bolder;
    height: 34px;
  }

  .preview-text {
    font-size: 12px;
  }
}

.archived,
.archived .mat-icon {
  color: $primary;

  &:hover,
  &:hover .mat-icon {
    color: rgba(0, 0, 0, 0.87);
  }

}
