<mat-list-item [class.parent]="item.children" class="nav-item">
    <button mat-button [routerLink]="item.route" routerLinkActive="active-link" class="nav-item button">
        <mat-icon class="prefix">{{item.icon}}</mat-icon>
        <span class="label">{{item.label}}</span>
        <mat-icon class="suffix">

            <span *ngIf="!item.children">keyboard_arrow_right</span>
            <span *ngIf="item.children">keyboard_arrow_down</span>
            
        </mat-icon>
    </button>
</mat-list-item>
