@use '@angular/material' as mat;
@use '../../../styles/config' as *;
@use '../../../styles/typography' as t;
@use '../../../styles/responsive' as *;

.skeleton {
  background: linear-gradient(90deg, $cool_gray_50 33%, $cool_gray_100 50%, $cool_gray_50 66%) #f2f2f2;
  background-size: 300% 100%;
  animation: skeleton-loading 2s infinite ease-in-out;
}

@keyframes skeleton-loading {
  0% {
    background-position: right;
  }
}

.project-tile {
  :hover {
    border-radius: 6px;
    background-color: $secondary_600;
  }

  border: 1px solid $cool_gray_300;
  border-radius: 6px;
  box-shadow: 0px 4px 4px $cool_gray_300;

  .project-tile-content {
    padding: 10px;
    text-align: -webkit-center;
    text-align: -moz-center;

    .title {
      padding: 10px;
      height: 191px;
      vertical-align: middle;
      display: table-cell;
    }
    .title-text {
      font-weight: 500;
      font-size: 18px;
      color: $black;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      line-height: 24px;
      margin: 0;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, notebook)) {
  .project-tile {
    .title {
      p.title-text {
        font-size: 16px;
      }
    }
  }
}
