@use '@angular/material' as mat;
@use '../../../styles/config' as *;
@use '../../../styles/typography' as t;
@use '../../../styles/responsive' as *;

.project-tile:hover {
  border-radius: 6px;
  filter: none;
  transition: all 0.2s ease;
}

.project-tile {
  filter: saturate(20%);
  border: 1px solid $cool_gray_300;
  border-radius: 6px;
  box-shadow: 0px 4px 4px $cool_gray_300;
  background-image: url('/assets/images/project-tile-bg.jpg');
  background-size: cover;

  .project-tile-content {
    padding: 10px;
    text-align: -webkit-center;
    text-align: -moz-center;

    .title {
      padding: 10px;
      height: 191px;
      vertical-align: middle;
      display: table-cell;
    }
    .title-text {
      font-weight: 500;
      font-size: 18px;
      color: $black;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      line-height: 24px;
      margin: 0;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, notebook)) {
  .project-tile {
    .title {
      p.title-text {
        font-size: 16px;
      }
    }
  }
}
