.expert-search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.textarea-field {
    width: 550px !important;
}

.expert-search-container {
    min-height: 100%;
    margin-top: 48px;
}

.textarea-field {
    width: 100%;
}

.mat-input-element {
    font-family: 'Courier New', Courier, monospace
}
