.period-checkbox {
  display: inline-block;
  padding-bottom: 20px;
}

.date-form-grid {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: auto;
  column-gap: 12px;
}

.date-form-error {
  margin-top: -16px;
}
