<dasch-swiss-centered-layout>
  <app-reusable-project-form
    *ngIf="project$ | async as project"
    [formData]="{shortcode: project.shortcode, shortname: project.shortname, longname: project.longname, description: project.description, keywords: project.keywords}"
    (formValueChange)="form = $event"></app-reusable-project-form>

  <div style="display: flex; justify-content: space-between">
    <button color="primary" mat-button type="reset" [routerLink]="['..']">
      {{ 'appLabels.form.action.cancel' | translate }}
    </button>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="onSubmit()"
      [disabled]="!form || !form.valid"
      appLoadingButton
      [isLoading]="loading">
      {{ 'appLabels.form.action.submit' | translate }}
    </button>
  </div>
</dasch-swiss-centered-layout>
