:host {
  margin: 12px 0 0 20px;

  form {
    margin: 0 0 16px 0;
    width: 100%;
  }
}

.large-field,
.medium-field,
.small-field {
  margin: 0 2px;
  display: inline-flex;
}

.index {
  color: rgba(0, 0, 0, 0.54);
  font-size: small;
  margin-left: -12px;
  margin-right: 6px;
}

.empty-index {
    display: inline-block;
    width: 12px;
}

.reset-button {
    margin: 0 0 0 auto;
}

.hidden {
    display: none;
}