<!-- content: Step 1 = define resource class -->
<form [formGroup]="propertyForm" class="form-content">

        <div class="center more-space-top">

            <!-- label -->
            <div class="large-field string-literal-container">
                <dsp-string-literal-input [placeholder]="'Label *'" [value]="labels"
                    (dataChanged)="handleData($event, 'labels')">
                </dsp-string-literal-input>
                <mat-hint class="string-literal-error" *ngIf="formErrors.label">
                    {{ formErrors.label }}
                </mat-hint>
            </div>

            <!-- description -->
            <div class="large-field string-literal-container more-space-top">
                <dsp-string-literal-input [placeholder]="'Comment *'" [value]="comments" [textarea]="true"
                    (dataChanged)="handleData($event, 'comments')"></dsp-string-literal-input>
            </div>
        </div>

        <!-- action buttons -->
        <div class="form-panel form-action">
            <span>
                <button mat-button type="button" (click)="closeDialog.emit()">
                    {{ 'appLabels.form.action.cancel' | translate }}
                </button>
            </span>
            <span class="fill-remaining-space"></span>
            <span>
                <button *ngIf="!edit" mat-raised-button type="button" color="primary"
                    [disabled]="!propertyLabels.length || !propertyComments.length"
                    (click)="nextStep($event)">
                    Next
                </button>
                <button mat-raised-button type="button" color="primary"
                    [disabled]="!labels.length || !comments.length"
                    (click)="submitData()">
                    <dsp-progress-indicator [color]="'white'" [status]="0" *ngIf="loading" class="submit-progress">
                    </dsp-progress-indicator>
                    <mat-icon *ngIf="error && !loading">close</mat-icon>
                    {{error ? 'Failed' : (edit ? 'Update' : 'Save')}}
                </button>
            </span>
        </div>

</form>
