@import "../../../../assets/style/config";
@import "../../../../assets/style/mixins";

.form-content {
  width: 100%;
  margin-top: 0;

  .form-panel {
    width: 100%;
  }

  .large-field,
  .medium-field,
  .small-field {
    margin: 8px 2px;

    &.string-literal-container {
      display: inline-block;
      position: relative;
      top: -3px;
    }
  }

  .form-action {
    margin-top: 48px;
  }
}

.property-type {
  .property-type-icon {
    width: 36px;
    padding: 0 8px;
    display: block;
  }

  mat-label,
  mat-select,
  input {
    margin-left: 12px;
  }
  mat-select {
    width: calc(100% - 12px);
  }
}

.cardinality {

  .mat-slide-toggle {
    padding: 0 16px;
  }
}
