<!-- content: Step 1 = define resource class -->
<!-- <form [formGroup]="propertyForm"
-->
<div class="form-content" *ngIf="!loading">

    <div class="center more-space-top">

        <!-- label -->
        <div class="large-field string-literal-container">
            <dsp-string-literal-input [placeholder]="'Label *'" [value]="propertyInfo.propDef?.labels"
                (dataChanged)="handleData($event, 'labels')">
            </dsp-string-literal-input>
            <mat-hint class="string-literal-error" *ngIf="formErrors.label">
                {{ formErrors.label }}
            </mat-hint>
        </div>

        <!-- comment/description -->
        <div class="large-field string-literal-container more-space-top">
            <dsp-string-literal-input [placeholder]="'Comment *'" [value]="propertyInfo.propDef.comments" [textarea]="true"
                (dataChanged)="handleData($event, 'comments')"></dsp-string-literal-input>
        </div>
    </div>

    <!-- action buttons -->
    <div class="form-panel form-action">
        <button mat-button type="button" (click)="closeDialog.emit()">
            {{ 'appLabels.form.action.cancel' | translate }}
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button type="button" color="primary" [disabled]="!labels.length || !comments.length"
            (click)="submitData()">
            <dsp-progress-indicator [color]="'white'" [status]="0" *ngIf="loading" class="submit-progress">
            </dsp-progress-indicator>
            <mat-icon *ngIf="error && !loading">close</mat-icon>
            {{error ? 'Failed' : (edit ? 'Update' : 'Save')}}
        </button>
    </div>
</div>
<!-- </form> -->
