@use "../../../../../styles/config" as *;
@use "../../../../../styles/responsive";

.file-representation {
  width: 100%;

  .container {
    background: #292929;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15.5% 0%;

    .contents {
      color: #ffffff;

      .icon {
        mat-icon {
          height: 90px;
          width: 90px;
          font-size: 90px;
          line-height: 90px;
        }
      }
    }
  }
}
