.content {
  display: flex;
  flex-direction: row;

  .content-sidebar {
    max-width: 389px;
    flex: 389px;
  }

  .content-container {
    padding-right: 32px;
  }

  .aspect {
    padding-bottom: 32px;
  }

  .mat-mdc-slider {
    width: 100%;
  }
}
