@use '../../../styles/responsive' as *;

.content {
  .form-content {
    width: 298px;
  }

  .content-sidebar {
    display: inline-block;
    width: 50%;
  }

  .content-container {
    display: inline-block;
    padding-right: 32px;
    vertical-align: top;
  }

  .aspect {
    padding-bottom: 32px;
  }

  .mat-mdc-slider {
    width: 100%;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
}
