// css for parent value components
@use 'config' as *;

// custom error message

.ck-content code {
  font-family: monospace !important;
}

.ck-content pre {
  background-color: inherit !important;
}

code,
pre {
  font-family: monospace !important;
  background-color: hsla(0, 0%, 78%, 0.3);
  padding: 0.15em;
  border-radius: 2px;
}
