@use 'sass:map';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import 'material_palette';

// --------------------------------------
// default colors and default contrast colors

// TODO!!
$primary: map.get($m3-dsp-blue-palette, 40);

$secondary: map.get($m3-dsp-teal-palette, 40);

$yellow: rgb(255, 255, 0);
$red: rgb(255, 0, 0);
$red_contrast: rgb(255, 0, 255);
$cool_gray: #2f2f2f;
$primary_700: $primary;
$yellow_100: $yellow;
$cool_gray_100: $cool_gray;
$cool_gray_500: $cool_gray;
$primary_50: $primary;
$primary_100: $primary;

// --------------------------------------
// color variables
$white: rgb(255, 255, 255);
$bright: rgb(249, 249, 249);
$grey: rgb(184, 184, 184);
$dark: rgb(41, 41, 41);
$black: rgb(11, 11, 11);
$black-12-opacity: rgba($black, 0.12);
$black-14-opacity: rgba($black, 0.14);
$black-20-opacity: rgba($black, 0.2);
$black-60-opacity: rgba($black, 0.6);

// --------------------------------------
// other variables
$border-radius: 4px;
$header-height: calc(56px + 48px + 1px);
$small-header-height: 57px;
$panel-height: 40px;
$tab-bar-margin: 36px;
