@use 'sass:map';
@use 'material_palette' as *;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

// --------------------------------------
// color variables
$black: rgb(11, 11, 11);
$black-12-opacity: rgba($black, 0.12);
$black-14-opacity: rgba($black, 0.14);
$black-20-opacity: rgba($black, 0.2);

// --------------------------------------
// other variables
$border-radius: 4px;
$header-height: calc(56px + 48px + 1px);
$small-header-height: 57px;
$panel-height: 40px;
$tab-bar-margin: 36px;
