@use 'config' as *;
@use 'mixins' as *;
@use 'sass:math';
@use '@angular/material' as mat;

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// --------------------------------------

// toolbar for content title, subtitle etc.
.app-toolbar {
  background: whitesmoke;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  //  margin: 48px 0 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;

  &.transparent {
    background: none;
  }

  .app-toolbar-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    .mat-headline-6 {
      word-wrap: normal;
      white-space: normal;
    }
  }

  .app-toolbar-action.button {
    margin: 0 0 16px;
    min-width: 40px;

    &.left {
      margin-right: 16px;
    }

    &.right {
      margin-left: 16px;
    }
  }
}

.subtitle {
  color: $cool_gray_500;
  margin-bottom: 4px;
}

// --------------------------------------

// Link
a {
  color: $primary;
  text-decoration: none;
}

// --------------------------------------


// resource

// file representation menu styling
.representation-menu {
  --mat-menu-item-label-text-color: $white;

  &.mdc-menu-surface {
    background-color: $dark;
    color: $white;
  }
}

// --------------------------------------

.overlay-blocker {
  position: fixed;
  inset: 0;
  z-index: 999;
  pointer-events: all; // catch all events, no interaction possible
  background-color: rgba(0, 0, 0, 0.1);
}

// overlay the progress indicator and block all user interaction
.floating-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

// SNACK BAR
// Angular Material v18 snack-bar styles - Using correct CSS custom properties
.mat-mdc-snack-bar-container.success {
  --mat-snackbar-container-color: rgba(51, 103, 144, 0.9) !important;
  --mat-snackbar-supporting-text-color: rgb(255, 255, 255) !important;
  --mat-snack-bar-button-color: rgb(255, 255, 255) !important;
}

.mat-mdc-snack-bar-container.error {
  --mat-snackbar-container-color: rgba(225, 29, 72, 0.9) !important;
  --mat-snackbar-supporting-text-color: rgb(255, 255, 255) !important;
  --mat-snack-bar-button-color: rgb(255, 255, 255) !important;
}

.mat-mdc-snack-bar-container.note {
  --mat-snackbar-container-color: rgba(251, 191, 36, 0.9) !important;
  --mat-snackbar-supporting-text-color: rgb(255, 255, 255) !important;
  --mat-snack-bar-button-color: rgb(255, 255, 255) !important;
}

// action bubble
.action-bubble {
  position: absolute;
  right: 56px;
  top: 3px;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
  padding: 4px;
  background-color: #e4e4e4;
  z-index: 2;
  @include box-shadow();

  .button-container {
    button {
      border: none;
      padding: 4px;
      outline: none;
      background-color: transparent;
      color: $primary;
      margin: 0 4px;
      border-radius: 50%;
      transition: background-color ease-out 0.5s;
      min-width: inherit;
      line-height: normal;
      height: 22px;

      &:first-child,
      &:last-child {
        margin: 0 -1px;
      }

      &:disabled {
        color: $cold_grey_400;
      }

      .material-icons {
        font-size: 18px;
      }

      .mat-icon {
        margin-right: 0;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }

      .mat-mdc-button-touch-target {
        height: 0 !important;
        width: 0 !important;
      }
    }

    button.info {
      cursor: inherit;
    }

    button:hover {
      background-color: #c7c7c7;
    }
  }
}

// --------------------------------------
.annotation-tooltip {
  display: none;
  position: fixed;
  background-color: $black-60-opacity;
  color: $bright;
  padding: 8px;
  border-radius: $border-radius;
  min-height: 24px;
  max-height: 258px;
  max-width: 256px;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(16px, 16px);
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;

  p {
    white-space: normal;
    text-overflow: ellipsis;
  }
}

:root {
  --primary: #{$primary_700};
  --element-active-hover: #{$primary_100};
  --gray-500: #{$cool_gray_500};
}

.tab-icon {
  margin-right: 16px;
}
