@use 'config' as *;
@use '@angular/material' as mat;

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// --------------------------------------

// Link
a {
  color: var(--mat-sys-primary);
  text-decoration: none;
}

// --------------------------------------

// action bubble
.action-bubble {
  position: absolute;
  right: 56px;
  top: 3px;
  border: 1px solid var(--mat-sys-surface-container-high);
  border-radius: 14px;
  padding: 4px;
  background-color: var(--mat-sys-surface-container-high);
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  .button-container {
    button {
      border: none;
      padding: 4px;
      outline: none;
      background-color: transparent;
      color: var(--mat-sys-primary);
      margin: 0 4px;
      border-radius: 50%;
      transition: background-color ease-out 0.5s;
      min-width: inherit;
      line-height: normal;
      height: 22px;

      &:first-child,
      &:last-child {
        margin: 0 -1px;
      }

      .material-icons {
        font-size: 18px;
      }

      .mat-icon {
        margin-right: 0;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }

      .mat-mdc-button-touch-target {
        height: 0 !important;
        width: 0 !important;
      }
    }

    button.info {
      cursor: inherit;
    }

    button:hover {
      background-color: var(--mat-sys-surface-container-highest);
    }
  }
}

// --------------------------------------
.annotation-tooltip {
  display: none;
  position: fixed;
  background-color: color-mix(in srgb, var(--mat-sys-shadow) 60%, transparent);
  color: var(--mat-sys-on-primary);
  padding: 8px;
  border-radius: $border-radius;
  min-height: 24px;
  max-height: 258px;
  max-width: 256px;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(16px, 16px);
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;

  p {
    white-space: normal;
    text-overflow: ellipsis;
  }
}

:root {
  --primary: var(--mat-sys-primary);
  --element-active-hover: var(--mat-sys-primary-container);
  --gray-500: var(--mat-sys-outline);
}

.tab-icon {
  margin-right: 16px;
}
