@use "config" as *;


//
// content wrapper
.content {
  width: 100%;

  &.small,
  &.medium,
  &.large,
  &.extra-large {
    padding: 36px;
  }

  &.small {
    max-width: 320px;
  }

  &.medium {
    max-width: 560px;
  }

  &.large {
    max-width: 1200px;
  }

  &.extra-large {
    max-width: 1440px;
  }
}

// --------------------------------------

// center an element
.middle {
  margin-left: auto;
  margin-right: auto;
}

// center content of an element
.center {
  text-align: center !important;
}

.left {
  left: 0;
  text-align: left;
}

.right {
  right: 0;
  text-align: right;
}

.inline {
  display: inline-flex;
}
