@use "config" as *;

// Header Host Styles
@mixin header-host-styles() {
  display: block;
  border-bottom: 1px solid var(--mat-sys-surface-container-high);
  background-color: var(--mat-sys-surface-bright);
}
