@use "sass:meta";
@use "sass:math";
@use "config" as *;

// Box Shadow
@mixin box-shadow($x: 0, $y: 1px, $blur: 3px, $alpha: 0.5) {
  box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
}


@mixin mat-box-shadow() {
  // origin mat menu box shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-shadow: 0 2px 4px -1px $black-20-opacity, 0 4px 5px 0px $black-14-opacity,
  0 1px 10px 0px $black-12-opacity;
}
