@use 'sass:math';

@use "config" as *;
@use "mixins" as *;
@use "responsive" as *;

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='search'] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

// sizes for search element
// input field
$search-width: 480px;
$advanced-search-width: 740px;

// width on smaller devices
$search-width-small-device: 360px;

// width of project filter
$project-filter-width: 190px;

// width of project filter on smaller devices
$project-filter-width-small-device: 120px;

// shared dropdown menu in fulltext-search and search-panel
.app-search-menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: $bright;
  border-radius: $border-radius;
  overflow-y: auto;
  min-height: 320px;
  margin-top: 6px;
  padding: 16px;
  z-index: -1;
  position: relative;

  .app-menu-header {
    background-color: rgba(249, 249, 249, 1);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: inline-flex;
    height: 48px;
    width: 100%;

    .app-menu-title h4 {
      margin: 12px 0;
    }
  }

  .app-menu-action {
    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);

    .center {
      display: block;
      margin: 12px auto;
    }
  }
}

// form elements
$full-input-width: 320px;
$gc-large: decimal-floor(math.div($full-input-width, 1.618), 0) - 2;
$gc-small: $full-input-width - $gc-large - 4;

.app-form-content {
  width: 100%;
  position: relative;
  min-height: 320px;
  height: 100%;

  .app-form-action {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-flex;
  }

  .app-form-expert-search {
    bottom: 16px;
    width: calc(100% - 32px);
    display: inline-flex;
  }

  .large-field {
    min-width: $full-input-width !important;
  }
}

.small-field {
  width: $gc-small;
}

.medium-field {
  width: $gc-large;
}

.large-field {
  min-width: $full-input-width;
}

.input-icon {
  color: $black-60-opacity;
}

app-search-date-value {
  .date-picker-container {
    display: inline-flex;
  }
}

// responsive style: desktop
@media (min-width: map-get($grid-breakpoints, desktop)) {
  .app-fulltext-search {
    width: $search-width;

    &.with-project-filter {
      width: calc(#{$search-width} + #{$project-filter-width});
    }

    .app-project-filter,
    .app-project-filter-button {
      width: $project-filter-width;
    }
  }

  .advanced-expert-buttons {
    width: $search-width;

    &.with-project-filter {
      margin-left: $project-filter-width;
    }
  }

  .app-search-menu {
    width: calc(#{$search-width} - 32px);

    &.with-project-filter {
      width: calc(#{$search-width} + #{$project-filter-width} - 32px);
    }

    &.with-advanced-search {
      width: calc(#{$advanced-search-width} - 32px);
    }
  }
}

// responsive style: tablet
@media (max-width: map-get($grid-breakpoints, desktop)) and (min-width: map-get($grid-breakpoints, tablet)) {
  .app-fulltext-search {
    width: $search-width-small-device;

    &.with-project-filter {
      width: calc(
        #{$search-width-small-device} + #{$project-filter-width-small-device}
      );
    }

    .app-project-filter,
    .app-project-filter-button {
      width: $project-filter-width-small-device;
    }
  }

  .advanced-expert-buttons {
    width: $search-width-small-device;

    &.with-project-filter {
      margin-left: $project-filter-width-small-device;
    }
  }

  .app-search-menu {
    width: calc(#{$search-width-small-device} - 32px);

    &.with-project-filter {
      width: calc(
        #{$search-width-small-device} + #{$project-filter-width-small-device} -
        32px
      );
    }

    &.with-advanced-search {
      width: 100vw;
    }
  }
}

// responsive style: phone
@media (max-width: map-get($grid-breakpoints, tablet)) and (min-width: map-get($grid-breakpoints, watch)) {
  .app-search-menu {
    width: calc(#{$search-width-small-device} - 32px);

    &.with-project-filter {
      width: calc(100vw - 32px);
      margin: 0 16px;
    }

    .app-menu-action {
      width: calc(100% - 32px);
    }
  }
}
