<div *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- content -->
    <form *ngIf="!loading" [formGroup]="userRoleForm" class="form-content user-data">

        <mat-form-field class="medium">
            <mat-select placeholder="{{ 'appLabels.form.member.select.project' | translate }}" [formControl]="userRoleForm.controls['project']">
                <mat-option *ngFor="let project of projectsList" [value]="project.iri">
                    {{ project.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <app-group-select [projectIri]="projectIri" [permissions]="user.permissions"></app-group-select>

        <div class="form-panel large" *ngIf="standalone; else stepperNav">
            <span class="fill-remaining-space"></span>
            <button mat-button type="button" color="primary" (click)="submitData()" [disabled]="!userRoleForm.valid">
                {{ 'appLabels.form.action.submit' | translate }}
            </button>
        </div>

        <ng-template #stepperNav>
            <div class="form-panel large" *ngIf="!standalone">
                <button mat-button matStepperPrevious>
                    {{ 'appLabels.form.action.back' | translate }}
                </button>
                <span class="fill-remaining-space"></span>
                <button mat-button color="primary" matStepperNext [disabled]="!userRoleForm.valid" (click)="submitData()">
                    {{ 'appLabels.form.action.next' | translate }}
                </button>
            </div>
        </ng-template>

    </form>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <!--<kui-message *ngIf="errorMessage" [message]="errorMessage"></kui-message>-->
</ng-template>
