<div *ngFor="let group of list | kuiKey; let first = first">
    <div class="app-toolbar transparent" [class.more-space-top]="!first">
        <div class="app-toolbar-row">
            <h3 class="mat-body subtitle">
                <span *ngIf="!system">Projects you are member of</span>
                <span *ngIf="system">All projects from Knora</span>
            </h3>
            <span class="fill-remaining-space"></span>
            <span class="app-toolbar-action">
                <button mat-raised-button [color]="'primary'" *ngIf="system && group.key === 'active'" class="add-new" (click)="openDialog('createProject')">
                    NEW project
                </button>
            </span>
        </div>
        <div class="app-toolbar-row">
            <h2 class="mat-title">
                {{group.value.length}} {{group.key}} {{group.value.length | i18nPlural: itemPluralMapping['project']}}
            </h2>
            <span class="fill-remaining-space"></span>
            <span class="app-toolbar-action">

            </span>
        </div>
    </div>


    <mat-list>
        <mat-list-item *ngFor="let project of group.value" class="link" [class.archived]="group.key === 'archived'"
                       (click)="setProject(project.id, group.key)">
            <mat-icon mat-list-icon>
                <span *ngIf="group.key === 'active'">inbox</span>
                <span *ngIf="group.key === 'archived'">lock</span>
            </mat-icon>
            <h4 mat-line>{{project.longname}}</h4>
            <p mat-line> {{project.shortcode}} | {{project.shortname}} </p>
        </mat-list-item>
    </mat-list>

    <mat-divider *ngIf="group.key === 'active'" class="more-space-top"></mat-divider>
</div>
