<div class="app-toolbar transparent">
    <div class="app-toolbar-row">
        <h3 class="mat-body subtitle">
          {{subtitle}}
        </h3>
        <span class="fill-remaining-space"></span>
        <span class="app-toolbar-action">
            <button mat-icon-button (click)="close.emit()">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
    <div class="app-toolbar-row">
        <h2 class="mat-title">
          {{title}}
        </h2>
        <span class="fill-remaining-space"></span>
        <span class="app-toolbar-action">

        </span>
    </div>
</div>