<div class="tab-content">
    <div class="metadata-property">
        <div class="property-label display-inline-block">
            Conditions of access:
        </div>
        <div class="display-inline-block add-left-margin">
            {{ conditions }}
        </div>
    </div>

    <br>

    <div class="metadata-property">
        <div class="property-label">
            License:
        </div>
        <div *ngFor="let entry of license">
            <p *ngIf="entry.url">
                <img class="license-image" src="/assets/images/cc-license.png" />
                <a href="{{ entry.url }}" target="_blank"> {{ entry.url }} </a>
            </p>
        </div>
        
    </div>
</div>
