@import "../../../../../assets/style/config";

// sizes
$max-width: 800px;
$panelSize: 40px;

$osd-height: 460px;

:host {
  border: 1px solid $black;

  .pdf-container {
    color: $bright;
    height: 100%;
    background-color: $black;

    pdf-viewer {
      position: inherit;
      height: calc(100% - 4px);
    }
  }

  .pdf-searchbox {
    border-radius: $border-radius;
    border: none;
    padding: 4px;

    &:active {
      border: none;
    }
  }


}

