@use "../../../../styles/config" as *;

.resource-instance-form {
  margin: 0;
  width: 100%;

  .form-action {
    width: 100%;
    margin-top: 24px;
    background-color: #fafafa;
    bottom: 0;
    position: sticky;
    padding: 24px;
    margin-left: -24px;
  }
}

.errorIfNoElement {
  margin-bottom: 36px;
}

