@import '../../../../assets/style/config';

.stepTwo {
  margin: 24px 56px !important;
  width: calc(100% - 144px);

  .btn-field {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

.standalone {
  margin: 0;
  width: 100%;

  .form-action {
    &.fixed-at-bottom {
      background-color: #fafafa;
      bottom: 0;
    }
  }
}

.form-action {
  width: 100%;
  margin-top: 24px;

  &.fixed-at-bottom {
    position: sticky;
    padding: 24px;
    bottom: -24px;
    margin-left: -24px;
    background-color: #fff;
  }
}

.errorIfNoElement {
  margin-bottom: 36px;
}
