<form *ngIf="!loading; else loadingTemplate" [formGroup]="dynamicForm" appInvalidControlScroll>
  <app-upload-2 [allowedFileTypes]="['image/png']" (selectedFile)="onSelectedFile($event)"></app-upload-2>

  <div style="display: flex">
    <h3
      class="mat-subtitle-2"
      matTooltip="Each resource needs a (preferably unique) label. It will be a kind of resource identifier."
      matTooltipPosition="above">
      Resource label *
    </h3>
    <app-common-input [control]="labelControl"></app-common-input>
  </div>

  <div style="display: grid; grid-template-columns: 100px 400px; grid-gap: 10px">
    <ng-container *ngFor="let prop of unsuitableProperties">
      <div style="padding-top: 16px">{{ prop.propertyDefinition.label }}</div>
      <div>
        <app-switch-properties-3
          [propertyDefinition]="prop.propertyDefinition"
          [property]="prop"
          [formArray]="dynamicForm.controls[prop.propertyDefinition.id]"
          [cardinality]="prop.cardinality"></app-switch-properties-3>
      </div>
    </ng-container>
  </div>

  <button mat-raised-button type="submit" color="primary" appLoadingButton [isLoading]="loading" (click)="submitData()">
    {{ 'appLabels.form.action.submit' | translate }}
  </button>
</form>

<ng-template #loadingTemplate>
  <dasch-swiss-app-progress-indicator></dasch-swiss-app-progress-indicator>
</ng-template>
