<form
  *ngIf="!loading; else loadingTemplate"
  [formGroup]="dynamicForm"
  (ngSubmit)="submitData()"
  appInvalidControlScroll>
  <app-upload-2 [allowedFileTypes]="['image/png']"></app-upload-2>
  <app-select-properties
    #selectProps
    *ngIf="resourceClass"
    [ontologyInfo]="ontologyInfo"
    [selectedResourceClass]="resourceClass"
    [properties]="unsuitableProperties"
    [parentForm]="dynamicForm"
    [currentOntoIri]="ontologyIri">
  </app-select-properties>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    appLoadingButton
    [isLoading]="loading"
    [disabled]="dynamicForm.invalid">
    {{ 'appLabels.form.action.submit' | translate }}
  </button>
</form>

<ng-template #loadingTemplate>
  <dasch-swiss-app-progress-indicator></dasch-swiss-app-progress-indicator>
</ng-template>
