<form [formGroup]="ontologyForm" (ngSubmit)="submitData()" class="form">
  <div class="form-content">
    <h3 *ngIf="!iri">Create new ontology</h3>
    <mat-form-field class="large-field ontology-name">
      <input
        matInput
        class="ontology-name"
        autocomplete="off"
        data-cy="name-input"
        [maxlength]="nameMaxLength"
        [formControl]="ontologyForm?.controls['name']"
        [placeholder]="'Set a unique name'" />
      <mat-icon
        matSuffix
        [matTooltip]="ontologyNameInfo"
        matTooltipPosition="above"
        matTooltipClass="multi-line-tooltip"
        >help</mat-icon
      >
      <mat-hint *ngIf="formErrors.name" class="medium-field"> {{ formErrors.name }} </mat-hint>
      <mat-hint align="end">{{ ontologyForm?.controls['name'].value.length }} / {{ nameMaxLength }}</mat-hint>
    </mat-form-field>

    <app-common-input label="Label" [control]="ontologyForm?.controls['label']" data-cy="label-input" />
    <app-common-textarea label="Comment" [control]="ontologyForm?.controls['comment']" data-cy="comment-textarea" />
    <div class="form-panel form-action">
      <span class="fill-remaining-space"></span>
      <span>
        <button
          mat-raised-button
          data-cy="submit-button"
          type="submit"
          [color]="error ? 'warn' : 'primary'"
          [disabled]="!ontologyForm?.valid || !ontologyForm?.dirty">
          <div class="progress-button-content">
            <dasch-swiss-app-progress-indicator
              *ngIf="loading"
              [color]="'white'"
              [status]="0"
              class="submit-progress" />
            <mat-icon *ngIf="error && !loading">close</mat-icon>
            <span>{{ error ? 'Failed' : iri ? 'Update' : 'Create' }}</span>
          </div>
        </button>
      </span>
    </div>
  </div>
</form>
