<app-dialog-header
  [title]="ontologyName ? ontologyName : 'Create new ontology'"
  [subtitle]="ontologyName ? 'Customize Data model' : ''">
</app-dialog-header>
<form [formGroup]="ontologyForm" (ngSubmit)="submitData()" class="form">
  <form [formGroup]="ontologyForm" class="form-content user-form">
    <app-common-input
      class="large-field"
      [control]="ontologyForm.controls.name"
      [validatorErrors]="[ontoNamePatternErrorMsg, ontoNameExistsErrorMsg]"
      [label]="'Set a unique name'"
      data-cy="name-input" />
    <app-common-input
      class="large-field"
      [control]="ontologyForm.controls.label"
      [label]="'Label'"
      data-cy="label-input" />
    <mat-form-field class="large-field ontology-comment">
      <mat-label>Comment</mat-label>
      <textarea
        matInput
        data-cy="comment-textarea"
        [formControl]="ontologyForm.controls.comment"
        [cdkTextareaAutosize]="true"
        [cdkAutosizeMinRows]="6"
        [cdkAutosizeMaxRows]="12">
      </textarea>
    </mat-form-field>
  </form>

  <div mat-dialog-actions align="end">
    <button color="primary" mat-button mat-dialog-close>{{ 'form.action.cancel' | translate }}</button>
    <button
      mat-raised-button
      color="primary"
      appLoadingButton
      [isLoading]="loading"
      [disabled]="!ontologyForm?.valid || loading"
      (click)="submitData()"
      data-cy="submit-button">
      {{ 'form.action.submit' | translate }}
    </button>
  </div>
</form>
