<span *ngIf="listRootNode !== undefined">
    <button mat-stroked-button [matMenuTriggerFor]="mainMenu" type="button">
        <span *ngIf="!selectedNode">Select list value</span>
        <span *ngIf="selectedNode">{{ selectedNode.label }}</span>
    </button>

    <mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
        <span *ngFor="let child of listRootNode.children">
            <span *ngIf="child.children && child.children.length > 0">
                <button
                    mat-menu-item
                    [matMenuTriggerFor]="menu.childMenu"
                    (click)="getSelectedNode(child)"
                    type="button"
                >
                    {{ child.label }}
                </button>
                <app-search-display-list
                    #menu
                    [children]="child.children"
                    (selectedNode)="getSelectedNode($event)"
                >
                </app-search-display-list>
            </span>

            <span *ngIf="!child.children || child.children.length === 0">
                <button
                    mat-menu-item
                    (click)="getSelectedNode(child)"
                    type="button"
                >
                    {{ child.label }}
                </button>
            </span>
        </span>
    </mat-menu>
</span>

<!-- hidden input field for the selected list item (listNode iri) -->
<span [formGroup]="form">
    <mat-form-field class="hidden">
        <input
            matInput
            [formControlName]="'listValue'"
            placeholder="list value"
        />
    </mat-form-field>
</span>
