@use "../../../../../styles/config" as *;

.read-mode-view .mat-icon,
.boolValue {
  display: block;
  color: $primary;

  &.more-space {
    margin-top: 16px;
  }
}

.boolValue {
  margin-top: 4px;
}

.read-mode-view .mat-icon {
  margin-top: 13px;
  margin-left: 4px;
}
