@use "../../../../../styles/config" as *;

.read-mode-view {
  .mat-icon {
    align-self: center;
    font-size: 26pt;
    min-width: 50px;
  }
}

.toggle-container {
  margin-bottom: 16px;
}

.right-align {
  margin-left: auto;
}

.toggle-icon-off {
  color: grey !important;
}

.toggle-icon-on {
  color: $secondary !important;
}
