<div class="app-search-panel" #fullSearchPanel cdkOverlayOrigin>

    <app-fulltext-search
        [projectfilter]="projectfilter"
        [(limitToProject)]="limitToProject"
        (search)="emitSearch($event)">
    </app-fulltext-search>

    <!-- Do not display advanced and expert search on mobile devices smaller than tablet -->
    <div class="advanced-expert-buttons">
        <!-- advanced search button: if advanced === true -->
        <button mat-flat-button *ngIf="advanced" [class.active]="showAdvanced"
            (click)="openPanelWithBackdrop('advanced')">advanced</button>

        <!-- expert search button: if expert === true -->
        <button mat-flat-button *ngIf="expert" [class.active]="showExpert"
            (click)="openPanelWithBackdrop('expert')">expert</button>
    </div>

</div>

<!-- full-text search menu -->
<ng-template #searchMenu>
    <div class="app-search-menu with-advanced-search" [class.with-project-filter]="projectfilter">
        <div class="app-menu-header">
            <span class="app-menu-title">
                <h4 *ngIf="showAdvanced">Advanced search</h4>
                <h4 *ngIf="!showAdvanced">Expert search</h4>
            </span>
            <span class="fill-remaining-space"></span>
            <span class="app-menu-close">
                <button mat-icon-button (click)="closeMenu()">
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </div>
        <div class="app-menu-content">
            <!-- <app-advanced-search *ngIf="showAdvanced" [limitToProject]="limitToProject" (search)="emitSearch($event)"></app-advanced-search> -->
            <app-expert-search *ngIf="!showAdvanced" (search)="emitSearch($event)"></app-expert-search>
        </div>
    </div>
</ng-template>
