@use "../../../../styles/config" as *;
@use "../../../../styles/search" as *;
@use "../../../../styles/responsive" as *;

//
// general css (applied on desktop/tablet versions)
//

.app-fulltext-search {
  border-radius: $border-radius;
  height: 40px;
  position: relative;
  z-index: 100;
  background-color: $bright;

  &.active {
    box-shadow: 0px 4px 4px $cool_gray_300;
  }

  .app-project-filter-button {
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: $border-radius 0 $border-radius 0;
    margin: 1px;
  }
}

.app-fulltext-search-field {
  background-color: $bright;
  border-radius: $border-radius;
  display: inline-flex;
  flex: 1;
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 1px;

  &.with-project-filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .app-fulltext-search-input {
    border-style: none;
    font-size: 14pt;
    height: 38px;
    padding-left: 12px;
    width: 100%;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .app-fulltext-search-button {
    background-color: $white;
  }

  .suffix {
    border-radius: 0 $border-radius $border-radius 0;
    margin: 1px 0 1px -3px;
  }
  .prefix {
    border-radius: $border-radius 0 0 $border-radius;
    margin: 1px 0 1px 3px;
  }
  .prefix,
  .suffix {
    border-style: none;
    color: $cool_gray_500;
    cursor: pointer;
    height: 38px;
    outline: none;
    position: relative;
    width: 39px;

    &.disabled {
      cursor: auto;
    }

    &:active {
      background-color: $cool_gray_200;
    }
  }
}

.app-search-menu {
  height: 100%;

  .app-menu-content {
    display: block;

    .app-previous-search-list {
      padding-bottom: 8px;

      .mat-list-item {
        .app-previous-search-item {
          cursor: pointer;
          padding: 12px !important;
        }

        &:hover {
          background-color: $cool_gray_300;

          .mat-icon {
            display: inline-block;
          }
        }

        .mat-icon {
          display: none;
        }

        .app-previous-search-item {
          display: inherit;

          .app-project-filter-label {
            overflow: hidden;
            text-overflow: ellipsis;
            width: $project-filter-width;

            &.not-empty {
              &::before {
                content: '[';
              }
              &::after {
                content: ']';
              }
            }
          }

          .app-previous-search-query {
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;

            &.fix-width {
              width: calc(100% - #{$project-filter-width});
            }
          }
        }
      }
    }
  }
}

.app-project-filter-menu {
  width: $project-filter-width;
  .mat-mdc-menu-item {
    text-transform: capitalize;
  }
}

.app-project-filter-button {
  height: 38px !important;
  display: block;
  text-align: left;

  .placeholder {
    margin: 0;
    padding: 0;
    font-size: x-small;
  }

  .label,
  .icon {
    display: inline;
    position: relative;
  }

  .label {
    top: -12px;
    font-size: smaller;
    text-transform: capitalize;
  }

  .icon {
    top: 15px;
    float: right;
  }
}

// tablet and desktop devices: hide phone-version classes
@media (min-width: map-get($grid-breakpoints, phone)) {
  .desktop-only {
    display: flex;
  }
  .mobile-only {
    display: none;
  }
}

// small mobile device: phone
@media (max-width: map-get($grid-breakpoints, phone)) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }

  .app-fulltext-search-mobile-panel {
    height: 100% !important;
    width: 100% !important;
    background-color: $cool_gray_50;
    z-index: 100;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;

    .app-fulltext-search-field,
    .app-project-filter {
      background: none;
      margin: 12px auto;
      max-width: $search-width;
      width: 90%;
      display: flex;

      .app-project-filter-button {
        width: 100%;
      }
    }

    .app-fulltext-search-input,
    .app-fulltext-search-button {
      border-radius: $border-radius;
    }

    .app-fulltext-search-input {
      margin-right: 12px;
    }
    .app-fulltext-search-button {
      width: 96px;
      border: .8px solid $grey;
    }
  }

  .app-project-filter-menu {
    width: 100vw;
  }

  .app-search-menu {
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    top: 128px;
    height: calc(100vh - 128px);
    width: 100%;
    padding: 0;

    .app-menu-content {
      text-align: left;
      overflow-y: auto;
    }
    .app-menu-action {
      position: absolute;
      bottom: 12px;
    }
  }

  // TODO: do not use ng-deep anymore!!!
  ::ng-deep .cdk-overlay-pane {
    .mat-mdc-menu-panel {
      box-shadow: none;
      max-width: 100% !important;
    }

    .mat-select-panel-wrap {
      margin-top: 20%;
      .mat-select-panel {
        max-height: 100% !important;
      }
    }
  }
}
