<div class="person">
    
    <div class="metadata-property">
        <div class="property-label">
            <p class="person-name">
                <span *ngFor="let title of person.jobTitle" class="comma"> {{ person.jobTitle }} </span>
                <span> {{ person.givenName }} </span>
                <span *ngIf="person.familyName"> {{ person.familyName }} </span>
            </p>
        </div>
    </div>
    
    <div *ngIf="person.sameAs">
        <app-url-template [urls]="person.sameAs" [displayLabel]="true" [label]="'ORCID'"></app-url-template>
    </div>
    
    <div *ngIf="person.email" class="metadata-property">
        <div class="property-label display-inline-block">
            Email(s):
        </div>
        <div class="display-inline-block add-left-margin">
            <span *ngFor="let em of person.email" class="comma">
                <a href="mailto:{{ em }}"> {{ em }} </a>
            </span>
        </div>
    </div>
    
    <app-address-template *ngIf="person.address" [address]="person.address"></app-address-template>
    
    <div class="metadata-property">
        <div class="property-label">
            Member of organization(s):
        </div>
        <div *ngFor="let org of organizationList" class="sub-block">
            <app-organisation-template  [organisation]="org"></app-organisation-template>
        </div>
    </div>
    
</div>
