<div *ngIf="list && list.length > 0">
  <div *ngFor="let node of list; let first = first; let last = last;" style="display: flex">
    <app-list-item-element [node]="node"></app-list-item-element>
  </div>
</div>

<!-- new list to create if list is empty -->
<app-list-item-form
  *ngIf="list && list.length === 0 && projectStatus"
  [parentIri]="parentIri"
  [projectIri]="projectIri"
  [projectUuid]="projectUuid"
  [isAdmin]="isAdmin"
  [language]="language"
  [newNode]="true"
  (refreshParent)="updateView($event)">
</app-list-item-form>
