<div *ngFor="let child of children; let first = first; let last = last;" style="display: flex">
  <app-list-item-element
    [node]="child"
    [language]="language"
    [childNode]="true"
    [parentIri]="child.id"
    [isAdmin]="isAdmin"
    [projectIri]="projectIri"
    [projectUuid]="projectUuid"
    [projectStatus]="projectStatus"></app-list-item-element>
</div>

<!-- new list to create if list is empty -->
<app-list-item-form
  [parentIri]="parentIri"
  [projectIri]="projectIri"
  [projectUuid]="projectUuid"
  [isAdmin]="isAdmin"
  [language]="language"
  [newNode]="true"
  [labels]="[]"
  (refreshParent)="updateView($event)">
</app-list-item-form>
