@use "../../../../styles/config" as *;

.list-view-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: sticky !important;
  top: 0;
  background: $bright;
  z-index: 1;

  .back {
    text-align: right;
    padding: 3% 0%;

    .back-button {
        border: 1px solid $primary;
        margin-right: 2%;
        color: $primary;
    }
  }
}

.no-results-container {
  background: $yellow_100;
  color: $yellow_700;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  gap: 10px;

  mat-icon {
    color: $yellow_500;
    min-width: 25px;
  }
}

.no-results {
  .back {
    padding: 0% 0% 3% 0%;

    .back-button {
        border: 1px solid $primary;
        margin-right: 2%;
        color: $primary;
    }
  }
}

button.active {
  background-color: $black-12-opacity;
}

.link:hover {
  background-color: $black-12-opacity;
}

::ng-deep .selected-resource {
  background-color: $primary_100;
}
