// Include non-theme styles for core.
@use '@angular/material' as mat;
@use "config";
@include mat.core();
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated*/
@include mat.all-component-typographies();
@include mat.all-component-typographies();
/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated*/
@include mat.core();
@include mat.core();

// Define the color palettes for the theme.
$primary: mat.define-palette(config.$blue_palette, 700, 500, 900);
$accent: mat.define-palette(config.$light_blue_palette, 900, 600, 900);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(config.$velvet_red_palette, 700, 500, 900);

// Define a theme.
$theme: mat.define-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated*/
@include mat.all-component-themes($theme);
@include mat.all-component-themes($theme);
