<div class="form" [formGroup]="form">
    <app-search-select-resource-class
        *ngIf="resourceClasses?.length > 0"
        #resourceClass
        class="select-resource-class"
        [formGroup]="form"
        [resourceClassDefinitions]="resourceClasses"
        (resourceClassSelected)="getPropertiesForResourceClass($event)"
    >
    </app-search-select-resource-class>

    <div
        class="select-property"
        [class.res-pointer-level]="!topLevel"
        *ngIf="properties !== undefined"
    >
        <!-- select property -->
        <app-search-select-property
            *ngFor="let prop of activeProperties; let i = index"
            #property
            [activeResourceClass]="activeResourceClass"
            [formGroup]="form"
            [index]="i"
            [properties]="properties"
            [topLevel]="topLevel"
        >
        </app-search-select-property>
    </div>

    <div class="select-property buttons" [class.res-pointer-level]="!topLevel">
        <button
            mat-mini-fab
            class="property-button add-property-button"
            color="primary"
            type="button"
            (click)="addProperty()"
            [disabled]="activeProperties.length >= 4"
        >
            <mat-icon aria-label="add a property">add</mat-icon>
        </button>

        <button
            mat-mini-fab
            class="property-button remove-property-button"
            color="warn"
            type="button"
            (click)="removeProperty()"
            [disabled]="!activeProperties.length"
        >
            <mat-icon aria-label="remove property">remove</mat-icon>
        </button>
    </div>
</div>
