@import '../../../../../assets/style/config';

.class-item-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0px;

  .content {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 6%);
    border-bottom: 2px solid #f9fafb;
    &.is-active {
      border-bottom: 2px solid #1f2937;
    }

    .top {
      display: inline-flex;
      align-items: center;
      padding: 20px 0px;
      width: 100%;

      .file-icon {
        .icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          background: #1f2937;
          border-radius: 6px;
          margin: 0px 20px;

          mat-icon {
            color: white;
          }
        }
      }

      .info {
        .label {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          padding-right: 16px;
          color: #6b7280;
          margin: 0px;
        }

        .entries {
          color: #111827;
          font-size: 24px;
          margin: 0px;
          padding-top: 5px;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      background: #f9fafb;

      .add-icon {
        margin: 0px 10px;

        mat-icon {
          font-size: 32px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
