<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let child of children">
        <span *ngIf="child.children && child.children.length > 0">
            <button
                mat-menu-item
                [matMenuTriggerFor]="menu.childMenu"
                (click)="setValue(child)"
                type="button"
            >
                {{ child.label }}
            </button>
            <app-search-display-list
                #menu
                [children]="child.children"
                (selectedNode)="setValue($event)"
            ></app-search-display-list>
        </span>

        <span *ngIf="!child.children || child.children.length === 0">
            <button mat-menu-item (click)="setValue(child)" type="button">
                {{ child.label }}
            </button>
        </span>
    </span>
</mat-menu>
