<kui-progress-indicator *ngIf="loading && !user"></kui-progress-indicator>

<div *ngIf="!loading && user" class="user-profile">
    <img kuiAdminImage [image]="user.email" [type]="'user'" class="user-profile-image">
    <div class="user-profile-headline">
        <!-- user names -->
        <h2 class="mat-title">{{user.givenName}}<br>{{user.familyName}}</h2>
        <h3 class="mat-subheading-2 mat-card-subtitle">{{user.username}}</h3>

        <mat-divider></mat-divider>

        <!-- user profile info: status, description etc.? -->
        <div class="user-profile-info">
            <br>
            <span class="badge status" [class.active]="user.status">
                <span *ngIf="user.status">Active</span>
                <span *ngIf="!user.status">Archived</span>
            </span>
        </div>
    </div>

    <mat-divider class="more-space"></mat-divider>
    <!-- edit button -->

</div>