<kui-progress-indicator *ngIf="loading && !user"></kui-progress-indicator>

<div *ngIf="!loading && user" class="content">
    <!-- user profile header -->
    <mat-card class="no-shadow">
        <mat-card-subtitle>
            User | {{user.username}}
            <span class="fill-remaining-space"></span>
            <span class="badge status" [class.active]="user.status">
                        <span *ngIf="user.status">Active</span>
                        <span *ngIf="!user.status">Archived</span>
                    </span>
        </mat-card-subtitle>
        <mat-card-title>{{user.familyName}}, {{user.givenName}}</mat-card-title>
    </mat-card>

    <!-- short profile info -->
    <mat-card class="no-shadow">
        <!-- description -->
        <mat-card-content>
            <p></p>
            <!--<p>{{user.email}}</p>-->
        </mat-card-content>

        <mat-card-actions>
            <button mat-icon-button class="right" *ngIf="sysAdmin" [routerLink]="'edit'">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="right" *ngIf="loggedInUser" [routerLink]="'/account'">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-divider></mat-divider>

    <!-- member in the following projects -->
    <!--<app-project-list [username]="user.username"></app-project-list>-->

</div>
