<div class="wrapper wide middle">

    <!-- show landing page in case of guest user -->
    <div class="landing-page">
        <h1 class="mat-headline">Welcome to the Knora User Interface Research Layer | KUIRL</h1>
        <h2 class="mat-title">This is a simple app to work with <a href="https://knora.org">Knora</a>, a software framework for storing, sharing, and working with primary sources and data in the humanities.</h2>

        <!--<img width="300" alt="KUIRL Logo" src="assets/images/kuirl-logo.svg">-->


        <div class="note developer wrapper narrow middle mat-elevation-z6">

            <h3 class="mat-subheader">[DEVELOPER REMARK N° 1]</h3>

            <p>This is the landing page for not registered or logged-in users. It will show the following elements:</p>

            <ol>
                <li>a fulltext search panel</li>

                <li>a short description about the app and Knora with an information about the end-user (for who is the software?). We will ask a question about the kind of data, a user is looking for and we offer links to FORS in case of "quantitative date", to NIE-INE in case of "edition data". In other case (qualitative data) the user can start with his own project here.</li>

                <li>list of projects and info box about them</li>

                <li>get more info, link to (workflow) manual / documentation</li>

                <li>info about the DaSCH and the partners</li>

                <li>footnote</li>
            </ol>


        </div>
    </div>

</div>



<section class="wrapper middle">
    <div class="note developer wrapper narrow middle mat-elevation-z6">
        <h3 class="mat-subheader">[DEVELOPER REMARK N° 2]</h3>
        <p>We have to decide to use the same typography everywhere</p>
        <p>Material design supports the following typography classes</p>
    </div>


    <table>
        <tr>
            <th>tag</th>
            <th>without class</th>
            <th>material class</th>
        </tr>
        <tr>
            <td>h1</td>
            <td><h1>h1 headline</h1></td>
            <td><h1 class="mat-headline">h1 with class mat-headline</h1></td>
        </tr>
        <tr>
            <td>h2</td>
            <td><h2>h2 headline</h2></td>
            <td><h2 class="mat-title">h2 with class mat-title</h2></td>
        </tr>
        <tr>
            <td>h3</td>
            <td><h3>h3 headline</h3></td>
            <td><h3 class="mat-subheading-2">h3 with class mat-subheading-2</h3></td>
        </tr>
        <tr>
            <td>h4</td>
            <td><h4>h4 headline</h4></td>
            <td><h4 class="mat-subheading-1">h4 with class mat-subheading-1</h4></td>
        </tr>
        <tr>
            <td>h5</td>
            <td><h5>h5 headline</h5></td>
            <td></td>
        </tr>
        <tr>
            <td>h6</td>
            <td><h4>h6 headline</h4></td>
            <td></td>
        </tr>
        <tr>
            <td>p</td>
            <td><p>Paragraph p only</p></td>
            <td><p class="mat-body-1">p with class mat-body-1</p></td>
        </tr>
        <tr>
            <td>p</td>
            <td><p>Paragraph p only</p></td>
            <td><p class="mat-body-2">p with class mat-body-2</p></td>
        </tr>
        <tr>
            <td>p</td>
            <td><p>Paragraph p only</p></td>
            <td><p class="mat-caption">p with class mat-caption or mat-small</p></td>
        </tr>

    </table>
</section>

<mat-divider></mat-divider>

<section class="wrapper middle">
    <p><strong>additional there are mat-display-n (1-4) classes</strong></p>
    <br>
    <h1 class="mat-display-4">h1 with class mat-display-4</h1>
    <h2 class="mat-display-3">h2 with class mat-display-3</h2>
    <h3 class="mat-display-2">h3 with class mat-display-2</h3>
    <h4 class="mat-display-1">h4 with class mat-display-1</h4>

</section>
