<!--The content below is only a placeholder and can be replaced.-->

<div class="content large middle">
    <app-design-question></app-design-question>
</div>

<hr>

<div class="content small middle center">
        <h1>
            Welcome to
        </h1>
        <img width="300" alt="KUIRL Logo" src="assets/images/kuirl-logo.svg">

        <!-- lorem ipsum (star trek) content -->
        <app-lorem-ipsum lang="esperanto"></app-lorem-ipsum>

</div>

<hr>

<div class="content medium middle">
        <h1>
            Welcome to
        </h1>
        <img width="300" alt="KUIRL Logo" src="assets/images/kuirl-logo.svg">

        <!-- lorem ipsum (star trek) content -->
        <app-lorem-ipsum lang="esperanto"></app-lorem-ipsum>

</div>

<hr>

<div class="content large">
        <h1>
            Welcome to
        </h1>
        <img width="300" alt="KUIRL Logo" src="assets/images/kuirl-logo.svg">

        <!-- lorem ipsum (star trek) content -->
        <app-lorem-ipsum lang="esperanto"></app-lorem-ipsum>

</div>
