@import '../../assets/style/config';
@import '../../assets/style/mixins';

.landing-page {
//    top: 0;
//    position: absolute;
//    height: 100vh;
//    width: 100vw;
}

section {
    background-color: #fff;
    min-height: 39vh;
    width: 100%;

    &.intro {
        height: 61vh;
    }

    .parallax-wrapper {
        padding: 30vh 0;
        text-align: center;
        &::after {
            content: "";
            @include background-cover(fixed, url('/assets/images/intro.jpg'));
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            height: 61vh;
            z-index: -1;

          }
    }

    &.transparent {
        background: none;;
    }

    &.darken-bg {
        background-color: $primary_50;
    }
}

// first section with introduction, search panel and full-size background image
.old-intro {
    background-image: url('/assets/images/intro.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    position: absolute;
    // z-index: -10;
    width: 100%;
    height: 80vh;
}

@media (max-width: 1140px) {
    .parallax-wrapper {
        background-attachment: scroll !important;
    }
}
