<!-- show landing page in case of guest user -->
<div class="landing-page">
    <div class="cookie-banner" *ngIf="showCookieBanner">
        <p class="note">
            This web-application uses cookies to provide you with great user experience. By using the application you
            accept our
            <a href="./cookie-policy">use of cookies</a>.
        </p>
        <div class="action">
            <button mat-flat-button color="accent" (click)="closeCookieBanner()">
                ACCEPT
            </button>
        </div>
    </div>
    <!-- introduction: headline, info and parallax background image -->
    <section class="intro parallax-wrapper bg-1">
        <div class="parallax-curtain">
            <div class="content medium middle">
                <!-- <h2 class="mat-title">Knora User Interface &middot; Research Layer</h2> -->
                <h1 class="mat-display-2 app-headline">bring everything together and simplify your research</h1>
                <h2 class="mat-title">This is the generic web application of the Data and Service Center for the
                    Humanities
                    DaSCH. It's the user interface research layer of DSP-API &ndash; a software framework for storing,
                    sharing, and working with primary sources and all kind of data in your research project in
                    the Humanities.
                </h2>
            </div>
        </div>

    </section>

    <!-- features: almost the same as in dsp-api -->
    <section class="features">
        <div class="content large middle">
            <h2 class="mat-title">The web application offers all features from DSP-API on a user-friendly platform.</h2>
            <app-grid [list]="features"></app-grid>
        </div>
    </section>

    <!-- contact and partner institutions -->
    <section class="research darken-bg">
        <div class="content large middle content-research">
            <h2 class="mat-title">You're interested in using the platform? What kind of research do you do?</h2>
            <mat-form-field class="research-question">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="researchField">
                    <mat-option value="qualitative">Qualitative data</mat-option>
                    <mat-option value="edition">Critical edition</mat-option>
                    <mat-option value="quantitative">Quantitative data</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="research-solution middle" [ngSwitch]="researchField">
                <div *ngSwitchCase="'qualitative'">
                    <h2 class="mat-title">Hooray, you're in the right place.</h2>
                    <mat-divider class="more-space-bottom"></mat-divider>
                    <h4 class="mat-subheading-2">The tool is designed to work with qualitative data. You can upload and
                        transcribe taped interviews. Describe images, photographs. Annotate the data and connect every
                        kind of media with each other.</h4>
                    <mat-divider class="more-space-bottom"></mat-divider>
                    <a mat-raised-button [color]="'accent'" href="https://dasch.swiss/team">Please contact us</a>
                </div>

                <div *ngSwitchCase="'quantitative'">
                    <h2 class="mat-title">Uh-oh, you should contact a team working on quantitative data.</h2>
                    <mat-divider class="more-space-bottom"></mat-divider>
                    <h4 class="mat-subheading-2">The tool is designed to work with qualitative data. If you are looking
                        for a tool to work with quantitative data, you should contact FORS.
                    </h4>
                    <mat-divider class="more-space-bottom"></mat-divider>
                    <a mat-raised-button [color]="'primary'" href="https://forscenter.ch/">Please contact FORS</a>
                </div>

                <div *ngSwitchCase="'edition'">
                    <h2 class="mat-title">Uh-oh, you should contact a team working on critical editions.</h2>
                    <mat-divider class="more-space-bottom"></mat-divider>
                    <h4 class="mat-subheading-2">Another tool based on DSP-API and designed to work on editions already
                        exists. You should contact NIE-INE.
                    </h4>
                    <mat-divider class="more-space-bottom"></mat-divider>
                    <a mat-raised-button [color]="'primary'" href="https://nie-ine.ch/">Please contact NIE-INE</a>
                </div>
            </div>
        </div>
    </section>

    <!-- list of projects -->
    <section class="projects">
        <div class="content large middle">
            <h2 class="mat-title">The following projects have already stored their data in DSP-API</h2>
            <dsp-progress-indicator [color]="'primary'" *ngIf="loading && !errorMessage"></dsp-progress-indicator>
            <div *ngIf="!loading">
                <app-grid class="project-list" [list]="projects"></app-grid>
            </div>
            <dsp-message *ngIf="errorMessage" [message]="errorMessage"></dsp-message>
            <!-- <app-grid ngIf="!loading && projects" [list]="projects"></app-grid> -->
        </div>
    </section>

    <section class="intersection parallax-wrapper bg-2">
        <div class="parallax-curtain">
            <div class="content medium middle">
                <h1 class="mat-display-2 app-headline">annotate, transcribe, connect and share</h1>
            </div>
        </div>
    </section>

    <!-- all about dasch and partners; code is open source on github -->
    <section class="about">
        <div class="content medium middle">
            <h2 class="mat-title">Who's behind all that?</h2>
            <h3 class="mat-subheading-2">
                Since 2017, the Data and Service Center for the Humanities (DaSCH) has been a member of the Swiss
                Academy of
                Humanities and Social Sciences. The main task of the institution is to operate a platform for humanities
                research data that ensures access to this data.
            </h3>
            <a href="https://dasch.swiss/" target="_blank">
                <img class="logo logo-dasch" src="/assets/images/logo-dasch.jpg"
                    alt="Data and Service Center for the Humanities">
            </a>
            <a href="https://sagw.ch/sagw/" target="_blank">
                <img class="logo logo-sagw" src="/assets/images/logo-sagw.jpg" alt="Swiss Academy of
                Humanities and Social Sciences">
            </a>
            <a href="http://snf.ch" target="_blank">
                <img class="logo logo-snf" src="/assets/images/logo-snf-fns.jpg" alt="Swiss NationalScience Foundation">
            </a>
            <a href="http://swissuniversities.ch" target="_blank">
                <img class="logo logo-swissuniversities" src="/assets/images/logo-swissuniversities.svg"
                    alt="swissuniversities">
            </a>
        </div>
        <div class="content large middle">
            <h2 class="mat-title">Partner institutions</h2>
            <a href="https://www.unibas.ch/de" target="_blank">
                <img class="logo logo-unibas" src="/assets/images/logo-unibas.jpg">
            </a>
            <a href="https://www.unil.ch/index.html" target="_blank">
                <img class="logo logo-unil" src="/assets/images/logo-unil.jpg">
            </a>
        </div>
    </section>

    <app-footer></app-footer>

</div>
