
<div class="tab-contents">

    <p>The following people are involved in the creation of the dataset:</p>

    <mat-card *ngFor="let attribution of attributions" class="attribution-entry">
        <div class="metadata-property">
            <div class="property-label">
                <p *ngFor="let role of attribution.role" class="color-for-role">
                    {{ role | titlecase }}
                </p>
            </div>
        </div>

        <h4>Agent(s):</h4>
        <div *ngFor="let agent of attribution.agent" class="sub-block" >
            <div [ngSwitch]="setAgent(agent)">
                <div *ngSwitchCase="'person'">
                    <app-person-template [person]="currentAgent" [subProperties]="subProperties"></app-person-template>
                </div>
                <div *ngSwitchCase="'organization'">
                    <app-organisation-template [organisation]="currentAgent"></app-organisation-template>
                </div>
            </div>
        </div>
    </mat-card>

</div>
