<h1>Attribution</h1>

<p>The following people are involved in the creation of the dataset:</p>

<div class="tab-contents">

    <mat-card *ngFor="let attribution of attributions" class="attribution-entry">

        <div *ngFor="let role of attribution.role">
            <h3 class="color-for-role"> {{ role | titlecase }} </h3>
        </div>
        <h4>Agent(s):</h4>
        <div class="add-margin-left" *ngFor="let agent of attribution.agent">
            <div [ngSwitch]="setAgent(agent)">
                <div *ngSwitchCase="'person'">
                    <app-person-template [person]="currentAgent" [subProperties]="subProperties"></app-person-template>
                </div>
                <div *ngSwitchCase="'organization'">
                    <app-organisation-template [organisation]="currentAgent"></app-organisation-template>
                </div>
            </div>
        </div>
    </mat-card>

</div>
