.page-subtitle {
  margin: 40px 0 80px 0;

  .subtitle-label {
    text-align: center;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);;
  grid-template-rows: auto;
  gap: 10px 10px;
  // align-items: center;
}

.grid-column-label {
  height: 36px;
  box-sizing: border-box;
  align-self: center;
  text-align: center;

  .column-label {
    margin-top: 8px;
    font-weight: 500;
  }
}

/* .grid-group-label {
  height: 36px;
  box-sizing: border-box;
  align-self: center;
  text-align: center;

  .group-name {
    margin-top: 8px;
    font-weight: 400;
  }
  .permission-info {
    margin-top: 8px;
    color: red;
  }
} */


.group-name {
  margin-top: 8px;
  font-weight: 500;
}
.permission-info {
  // margin-top: 8px;
  color: red;
}
