<div *ngIf="projectAdmin" class="content large middle">

    <div class="page-subtitle">
        <h4 class="subtitle-label subtitle">Specify the level of access for each user group.</h4>
    </div>

    <dsp-progress-indicator *ngIf="loading"></dsp-progress-indicator>

    <div *ngIf="!loading" class="content">

       <!-- GRID -->
        <div class="grid-container">
            <div *ngFor="let permission of columnLabels" class="grid-column-label">
                <span class="column-label">{{permission.fullname}}</span>
            </div>
        </div>

        <div *ngFor="let group of permissionList" class="grid-group-label">
            <div class="group-name">{{group.groupName}}</div>
            <div class="permission-info">{{group.apName}} + {{group.doapName}}</div>
        </div>

    </div>
</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>
