<div *ngIf="projectAdmin" class="content large middle">

    <div class="page-subtitle">
        <h4 class="subtitle-label subtitle">Specify the level of access for each user group.</h4>
    </div>

    <dsp-progress-indicator *ngIf="loading"></dsp-progress-indicator>

    <div *ngIf="!loading" class="content">

       <!-- GRID -->
        <div class="grid-container">
            <div *ngFor="let permission of columnLabels" class="grid-column-label">
                <span class="column-label">{{permission.fullname}}</span>
            </div>
            <!-- <div *ngFor="let doap of doaPermission" class="grid-item">
                <div *ngIf="doap.forGroup">
                    <p>{{doap?.forGroup}}</p>
                    <div *ngFor="let permission of doap.hasPermissions" class="perm-item">
                        <p>{{permission.name}} ({{permission.additionalInformation}})</p>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div *ngFor="let ap of adminPermission" class="grid-item">
                <div *ngIf="ap.forGroup">
                    <p>{{ap?.forGroup}}</p>
                    <div *ngFor="let permission of ap.hasPermissions" class="perm-item">
                        <span *ngIf="permission.name === 'ProjectResourceCreateAllPermission'">
                            <p>{{permission.name}} ({{permission.additionalInformation}})</p>
                        </span>

                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>
