



<div class="select-project-from-list">

    <!-- system administrator has an additional tab, to get access to all projects -->
    <mat-tab-group *ngIf="session.user.sysAdmin">
        <mat-tab label="Own">
            <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

            <app-project-list [list]="active" type="active"></app-project-list>

            <mat-divider></mat-divider>

            <app-project-list [list]="inactive" type="archived"></app-project-list>

        </mat-tab>
        <mat-tab label="System">
            <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

            <app-project-list [list]="systemActive" type="active"></app-project-list>

            <mat-divider></mat-divider>

            <app-project-list [list]="systemInactive" type="archived"></app-project-list>
        </mat-tab>
    </mat-tab-group>

    <!-- no system admin rights -->
    <div *ngIf="!session.user.sysAdmin">

        <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

        <app-project-list [list]="active" type="active"></app-project-list>

        <mat-divider></mat-divider>

        <app-project-list [list]="inactive" type="archived"></app-project-list>
    </div>

</div>
