<!--
<form [formGroup]="findProject" class="form" *ngIf="!loading">
    <mat-form-field class="large">
        <input matInput [placeholder]="Find project…" [formControl]="">
    </mat-form-field>
    <mat-autocomplete #user="matAutocomplete" (optionSelected)="selectProject()">
            <mat-option *ngFor="let project of filteredProjects | async" [value]="project?.name">
                {{ project?.label }}
            </mat-option>
        </mat-autocomplete>
</form>
 -->

<div *ngIf="!system">
    <!-- <mat-divider></mat-divider> -->
    <kui-progress-indicator *ngIf="loadProjects"></kui-progress-indicator>
    <app-projects-list *ngIf="!loadProjects" [projects]="projects"></app-projects-list>
</div>

<div *ngIf="system">
    <!-- <mat-divider></mat-divider> -->
    <kui-progress-indicator *ngIf="loadSystem"></kui-progress-indicator>
    <app-projects-list *ngIf="!loadSystem" [projects]="systemProjects" [system]="system"></app-projects-list>
</div>