<div class="no-shadow" *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- success message after updating -->
    <kui-message *ngIf="success" [message]="successMessage" [short]="true" (click)="closeMessage()"></kui-message>

    <!-- content -->
    <form *ngIf="!loading" [formGroup]="sourceTypeForm" class="form-content project-data" (ngSubmit)="submitData()">

        <!-- label -->
        <mat-form-field class="medium-field">
            <input matInput placeholder="Label *" formControlName="label">
            <mat-hint *ngIf="formErrors.label">
                {{ formErrors.label }}
            </mat-hint>
        </mat-form-field>

        <!-- TODO: add permissions of source type -->
        <mat-form-field class="medium-field">
            <mat-label>Who is able to do what with this source type?</mat-label>
            <mat-select formControlName="permission">
                <mat-option [value]="1">All</mat-option>
                <mat-option [value]="2">Project</mat-option>
                <mat-option [value]="3">User</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <!-- description -->
        <mat-form-field class="medium-field">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>


        <mat-divider></mat-divider>

        <h3 class="mat-body subtitle">Define the metadata for this source type</h3>

        <!-- TODO: properties -->
        <!-- one line, with "add" icon to add additional properties -->
        <div cdkDropList class="properties-list" (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="property-line"
                 *ngFor="let prop of properties?.controls; let last = last; let i = index;">

                <div class="drag-n-drop-placeholder" *cdkDragPlaceholder></div>

                <button *ngIf="properties.length > 1" cdkDragHandle mat-icon-button type="button"
                        aria-label="Change order of properties" class="prefix drag-n-drop-line">
                    <mat-icon>drag_indicator</mat-icon>
                </button>

                <app-source-type-property [propertyForm]="prop" [index]="i">
                </app-source-type-property>

                <button *ngIf="properties.length > 1" mat-icon-button type="button" color="warn"
                        aria-label="Delete this property" class="suffix delete-line" (click)="removeProperty(i)">
                    <mat-icon>delete_outlined</mat-icon>
                </button>
                <button *ngIf="last" [disabled]="!properties.valid" mat-icon-button type="button" color="primary"
                        aria-label="Add new property" class="add-new-line" (click)="addProperty()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </div>

        <mat-divider></mat-divider>

        <!-- action buttons -->
        <div class="form-panel form-action">
            <span>
                <button mat-button type="reset" (click)="resetForm($event)">
                    {{ 'appLabels.form.action.reset' | translate }}
                </button>
            </span>
            <span class="fill-remaining-space"></span>
            <span>
                <button mat-raised-button type="submit" color="primary" [disabled]="!formValid">
                    Create
                </button>
            </span>
        </div>
    </form>
</div>


<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <kui-message *ngIf="errorMessage" [message]="errorMessage"></kui-message>
</ng-template>
