<div class="no-shadow" *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- success message after updating -->
    <kui-message *ngIf="success" [message]="successMessage" [short]="true" (click)="closeMessage()"></kui-message>

    <!-- content -->
    <form *ngIf="!loading" [formGroup]="sourceTypeForm" class="form-content project-data" (ngSubmit)="submitData()">

        <!-- label -->
        <mat-form-field class="large-field hidden">
            <input matInput placeholder="Subclass of *" formControlName="subClassOf" [value]="subClassOf" readonly>
        </mat-form-field>

        <div class="medium-field string-literal-container">
            <kui-string-literal-input [placeholder]="'Label *'"></kui-string-literal-input>
            <mat-hint class="string-literal-error" *ngIf="formErrors.label">
                {{ formErrors.label }}
            </mat-hint>
        </div>

        <!-- <mat-form-field class="medium-field">
            <input matInput placeholder="Label *" formControlName="label">
            <mat-hint *ngIf="formErrors.label">
                {{ formErrors.label }}
            </mat-hint>
        </mat-form-field> -->

        <!-- TODO: add permissions of source type -->
        <mat-form-field class="small-field">
            <mat-label>Permissions (NYI!)</mat-label>
            <mat-select formControlName="permission">
                <mat-option [value]="1">All</mat-option>
                <mat-option [value]="2">Project</mat-option>
                <mat-option [value]="3">User</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <!-- description -->
        <div class="large-field string-literal-container">
            <kui-string-literal-input [placeholder]="'Description'" [textarea]="true"></kui-string-literal-input>
        </div>

        <!-- <mat-form-field class="large-field">
            <textarea matInput placeholder="Description" formControlName="comment" rows="4"></textarea>
        </mat-form-field> -->

        <!-- action buttons -->
        <div class="form-panel form-action">
            <span>
                <button mat-button type="reset" (click)="resetForm($event)">
                    {{ 'appLabels.form.action.reset' | translate }}
                </button>
            </span>
            <span class="fill-remaining-space"></span>
            <span>
                <button mat-raised-button type="submit" color="primary" [disabled]="!formValid">
                    Next
                </button>
            </span>
        </div>
    </form>
</div>


<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <kui-message *ngIf="errorMessage" [message]="errorMessage"></kui-message>
</ng-template>
