@use "config" as *;

.data-models-container {
    padding-top: 2.5%;
    padding-left: 2%;

    .header {
        .title,
        .icon {
            display: inline-flex;
            vertical-align: middle;
        }

        .icon {
            font-size: 16px;
        }
    }

    .action-buttons {
        .create {
            padding: 0% 7%;
            margin-right: 2%;
        }
    }

    .list {
        padding-bottom: 4%;
        
        &.top-padding {
            padding-top: 4%;
        }

        .list-item {
            border: 1px solid $primary_100;
            border-bottom: none;
            cursor: pointer;
            padding-left: 2%;
            padding-right: 1%;
            display: grid;
            grid-template-columns: 24px auto 0.7fr 24px;
            align-items: center;

            &.no-click {
                cursor: default;
            }

            .label {
                margin-left: 1%;
            }
        }

        .list-item:last-child {
            border-bottom: 1px solid $primary_100;
        }

    }

    .icon-prefix, .icon-suffix {
      color: $primary;
    }
}

@media (max-width: 975px) {
    .data-models-container {
        .action-buttons {
            .docs {
                margin: 2% 0%;
            }
        }
    }
}
