<!--
<mat-form-field class="small" *ngIf="projectIri" [formGroup]="parentForm">
    <mat-select placeholder="{{ 'appLabels.form.member.select.group' | translate }}"
                [formControlName]="'permission'"
                multiple>
        <mat-option *ngFor="let group of groupsList" [value]="group.iri">
            {{ group.name }}
        </mat-option>
    </mat-select>
</mat-form-field>
-->


<!-- chips instead of select -->

<mat-form-field class="example-chip-list" *ngIf="!loading">
    <mat-chip-list #chipList>
        <mat-chip
                *ngFor="let group of groups"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(group)">
            {{group.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

        <input
                placeholder="Permission Group"
                #auto
                [formControl]="groupCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let group of filteredGroups | async" [value]="group.name">
            {{group.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
