<mat-form-field *ngIf="projectGroups.length > 0">
    <mat-select
        placeholder="Permission group"
        [formControl]="groupCtrl"
        multiple
        (selectionChange)="onGroupSelect()"
        (openedChange)="onGroupChange()"
    >
        <mat-option
            *ngFor="let group of projectGroups"
            [value]="group.iri"
            [disabled]="disabled"
        >
            {{ group.name }}</mat-option
        >
    </mat-select>
</mat-form-field>

<div *ngIf="projectGroups.length === 0" class="center">
    No group defined yet.
</div>
