:host ::ng-deep .child-value-component {
  .mdc-line-ripple {
    display: none;
  }
  .mat-mdc-form-field-infix {
    border-top: 0.2em solid transparent !important;
    padding-top: 5px !important;
    min-height: 40px !important;
    .mdc-line-ripple {
      display: block;
    }
  }
}

.date,
.time {
  display: block;
}
