<div class="project-form-container">
    <form
        *ngIf="!loading && project.status"
        [formGroup]="form"
        class="project-form"
        (ngSubmit)="submitData()"
    >
        <div class="project-form-short">
            <!-- short and long name -->
            <mat-form-field class="shortcode">
                <input
                    matInput
                    placeholder="{{
                        'appLabels.form.project.general.shortcode' | translate
                    }}"
                    [maxlength]="shortcodeMaxLength"
                    [formControl]="form.controls['shortcode']"
                />
                <mat-hint *ngIf="formErrors.shortcode">
                    {{ formErrors.shortcode }}
                </mat-hint>
            </mat-form-field>

            <!-- short name -->
            <mat-form-field class="shortname">
                <input
                    matInput
                    [maxlength]="shortnameMaxLength"
                    placeholder="{{
                        'appLabels.form.project.general.shortname' | translate
                    }}"
                    [formControl]="form.controls['shortname']"
                />
                <mat-hint *ngIf="formErrors.shortname">
                    {{ formErrors.shortname }}
                </mat-hint>
            </mat-form-field>
        </div>
        <!-- long name -->
        <mat-form-field class="longname">
            <input
                matInput
                placeholder="{{
                    'appLabels.form.project.general.longname' | translate
                }}"
                [formControl]="form.controls['longname']"
            />
            <mat-hint *ngIf="formErrors.longname">
                {{ formErrors.longname }}
            </mat-hint>
        </mat-form-field>

        <!-- description -->
        <dasch-swiss-app-string-literal
            placeholder="{{
                'appLabels.form.project.general.description' | translate
            }} *"
            [disabled]="!project.status"
            [textarea]="true"
            [value]="project.description"
            (dataChanged)="getStringLiteral($event)"
        >
        </dasch-swiss-app-string-literal>
        <mat-hint class="string-literal-error" *ngIf="formErrors.description">
            {{ formErrors.description }}
        </mat-hint>

        <!-- institution -->
        <!--
        <mat-form-field class="large">
            <input matInput
                   placeholder="{{'appLabels.form.project.general.institution' | translate}}"
                   [formControl]="projectDataForm.controls['institution']">
            <mat-hint *ngIf="formErrors.institution">
                {{ formErrors.institution }}
            </mat-hint>
        </mat-form-field>
        -->
        <!-- keywords -->
        <mat-form-field class="keywords">
            <mat-chip-grid #chipList>
                <mat-chip-row
                    *ngFor="let tag of keywords; trackBy: trackByFn"
                    [removable]="project.status"
                    (removed)="removeKeyword(tag)"
                >
                    {{ tag }}
                    <mat-icon matChipRemove *ngIf="project.status"
                        >cancel</mat-icon
                    >
                </mat-chip-row>
                <input
                    placeholder="{{
                        'appLabels.form.project.general.keywords' | translate
                    }} {{ projectIri ? '' : '*' }}"
                    [formControl]="form.controls['keywords']"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addKeyword($event)"
                />
            </mat-chip-grid>
            <mat-hint *ngIf="formErrors.keywords">
                {{ formErrors.keywords }}
            </mat-hint>
        </mat-form-field>

        <!-- upload logo -->
        <!--
        <app-file-uploader (uploadStatus)="sipiUpload($event)"></app-file-uploader>
        <!- the form needs an input field for the logo name
            the following input will be hidden and it gets the file name from the app-file-uploader -->
        <!-- dev control for image uploader
        <input matInput [hidden]="false"
            [placeholder]=" 'appLabels.form.project.general.logo.name' | translate "
            [formControl]="projectDataForm.controls['logo']"
            formControlName="logo">
        -->

        <div class="form-panel form-action">
            <span>
                <button class="cancel-button"
                    color="primary"
                    mat-button
                    type="reset"
                    (click)="goBack()">
                    {{ 'appLabels.form.action.cancel' | translate }}
                </button>
            </span>
            <span>
                <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    [disabled]="
                        !form.valid ||
                        !this.description.length ||
                        (projectIri && !project.status)
                    "
                >
                    <dasch-swiss-app-progress-indicator
                        [color]="'white'"
                        [status]="0"
                        *ngIf="loading"
                        class="submit-progress"
                    >
                    </dasch-swiss-app-progress-indicator>
                    <span *ngIf="projectIri">{{ 'appLabels.form.action.update' | translate }}</span>
                    <span *ngIf="!projectIri">{{ 'appLabels.form.action.submit' | translate }}</span>
                </button>
            </span>
        </div>
    </form>
</div>
