:host ::ng-deep .child-value-component {
  .mdc-line-ripple {
    display: none;
  }
  .mat-mdc-form-field-infix {
    border-top: 0.2em solid transparent !important;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    min-height: 45px !important;
    .mdc-line-ripple {
      display: block;
    }
  }
}

.interval-start,
.interval-end {
  display: block;
}
