<span *ngIf="mode === 'read'; else showForm" class="read-mode-view">
    <div class="rm-value">
        <span>{{ valueFormControl.value | knoraDate }}</span>
    </div>
    <span class="rm-comment" *ngIf="shouldShowComment">
        {{ commentFormControl.value }}
    </span>
</span>
<ng-template #showForm>
    <span [formGroup]="form">
        <span class="large-field child-value-component">
            <app-date-picker
                #dateInput
                class="value"
                [formControlName]="'value'"
                [errorStateMatcher]="matcher">
            </app-date-picker>
            <mat-error *ngIf="valueFormControl.hasError('valueNotChanged')">
               New value must be different than the current value.
            </mat-error>
            <mat-error *ngIf="valueFormControl.hasError('duplicateValue')">
                <span class="custom-error-message">This value already exists for this property. Duplicate values are not allowed.</span>
            </mat-error>
        </span>
        <mat-form-field class="large-field value-component-comment">
            <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="6"
                [formControlName]="'comment'"
                class="comment"
                placeholder="Comment"
                type="text"
                spellcheck="false">
            </textarea>
        </mat-form-field>
    </span>
</ng-template>
