:host ::ng-deep .child-value-component {
  width: fit-content;

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    border-top: 0.2em solid transparent !important;
    .mat-form-field-underline {
      display: block;
    }
  }
}

.rm-value {
  border: 1px solid rgba(33, 33, 33, 0.5);
  border-radius: 4px;
  padding: 3px 12px;
  margin: 6px 0 10px 0 !important;
  width: 6em;
  min-height: 8px;
}
