:host ::ng-deep .child-value-component {
  width: fit-content;
  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field-infix {
    border-top: 0.2em solid transparent !important;
    padding-top: 16px;

    .mat-mdc-form-field-underline {
      display: block;
    }
  }
}

.color-field {
  // unfortunate necessary use of ng-deep to override the default
  ::ng-deep .mat-mdc-text-field-wrapper {
    overflow: visible;
    z-index: 999;
  }
}

.rm-value {
  border: 1px solid rgba(33, 33, 33, 0.5);
  border-radius: 4px;
  padding: 3px 12px;
  margin: 6px 0 10px 0 !important;
  width: 6em;
  min-height: 8px;
}
