<div class="app-toolbar transparent">
    <div class="app-toolbar-row">
        <h3 class="mat-body subtitle">Edit your data model</h3>
    </div>
    <div class="app-toolbar-row">
        <h2 class="mat-title">Add source types</h2>
        <span class="fill-remaining-space"></span>
        <span class="app-toolbar-action">

            <form [formGroup]="selectSourceTypeForm" class="form" *ngIf="!loading">

                <!-- auto complete list to select source types -->
                <div class="form-content">
                    <mat-form-field class="large-field select-source-type">

                        <input matInput [matAutocomplete]="sourceTypes"
                               [formControl]="selectSourceTypeForm.controls['type']"
                               placeholder="What kind of source do you have?">

                        <button mat-icon-button matSuffix *ngIf="selectSourceTypeForm.controls['type'].value"
                                (click)="resetInput($event)" type="button">
                            <mat-icon>close</mat-icon>
                        </button>

                        <mat-autocomplete #sourceTypes="matAutocomplete"
                                          (optionSelected)="addSourceType($event.option.value)">
                            <mat-option *ngFor="let type of filteredSourceTypes | async" [value]="type?.iri">
                                {{ type?.label }}
                            </mat-option>
                        </mat-autocomplete>

                        <!--
                        <mat-hint *ngIf="selectSourceTypeErrors.type">
                            {{ selectSourceTypeErrors.type }}
                        </mat-hint>
                        -->

                    </mat-form-field>
                    <!--
                    <button mat-stroked-button [disabled]="!selectSourceTypeForm.valid" class="add-new"
                            (click)="openDialog('addSourceType')">Customize and add it</button>
                    -->

                </div>

            </form>

        </span>
        <span class="fill-remaining-space"></span>
    </div>
</div>
