<body>
<div>
    <span class="dimensions">
      Dimensions:
      <mat-radio-group name="dimensions" aria-label="Select a dimension" labelPosition="before" (change)="dimensionHandler($event)">
        <mat-radio-button value="2" >2D</mat-radio-button>
        <mat-radio-button value="3" checked="true">3D</mat-radio-button>
      </mat-radio-group>
    </span>
    <span class="forceSlider">Link Force
     <mat-slider [min]=20 [max]=200 [step]=5 (change)="updateLinkDistance($event)" [thumbLabel]="true"></mat-slider>
    </span>
    <span class="showLabels">
      <mat-slide-toggle labelPosition="before" (change)="nodeLabelHandler($event)">Show Node Labels</mat-slide-toggle>
      <mat-slide-toggle labelPosition="before" (change)="linkLabelHandler($event)">Show Link Labels</mat-slide-toggle>
    </span>

</div>
<div #graphcontainer></div>

</body>
