.dimensions{
    margin-left: 16px;
}
.mat-radio-button{
    margin-left: 10px;
}

.forceSlider{
    margin-top: 30px;
    margin-left: 100px;
}

.showLabels{
    margin-left: 100px;
}
.mat-slide-toggle{
    margin-right: 16px;
    margin-top: 30px;
}
