<form [formGroup]="form" (ngSubmit)="submit()" class="app-form-content">
    <div *ngIf="ontologiesMetadata?.ontologies.length > 0">
        <app-search-select-ontology
            [formGroup]="form"
            [ontologiesMetadata]="ontologiesMetadata"
            (ontologySelected)="setActiveOntology($event)"
        ></app-search-select-ontology>
    </div>

    <app-resource-and-property-selection
        *ngIf="activeOntology !== undefined"
        #resAndPropSel
        [formGroup]="form"
        [activeOntology]="activeOntology"
        [topLevel]="true"
    >
    </app-resource-and-property-selection>

    <div class="app-form-action">
        <button
            class="reset"
            mat-button
            type="button"
            (click)="resourceAndPropertySelection?.resetForm()"
            [disabled]="this.activeOntology === undefined"
        >
            Reset
        </button>
        <span class="fill-remaining-space"></span>
        <button
            class="advanced-search-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!formValid"
        >
            Search
        </button>
    </div>
</form>
