<div [formGroup]="form" class="date-input-container">

    <mat-checkbox class="period-checkbox" [formControlName]="'isPeriod'" (change)="_handleInput()">
        is time period
    </mat-checkbox>

    <div class="date-form-grid">
        <div class="date-form-field">
            <app-jdn-datepicker [activeCalendar]="startDateControl.value?.calendarName">
                <mat-form-field class="start">
                    <mat-label>Choose a <span *ngIf="isPeriodControl.value">start</span> date
                        <span class="calendar" *ngIf="startDateControl.value">({{startDateControl.value?.calendarName}})</span>
                    </mat-label>
                    <input matInput [matDatepicker]="picker1" [formControlName]="'dateStart'"
                        [errorStateMatcher]="matcher" (dateChange)="_handleInput()" readonly placeholder="Start">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [calendarHeaderComponent]="calendarHeaderComponent"></mat-datepicker>
                </mat-form-field>
            </app-jdn-datepicker>
        </div>

        <div class="date-form-field">
            <app-jdn-datepicker [activeCalendar]="endDateControl.value?.calendarName">
                <mat-form-field *ngIf="isPeriodControl.value" class="end">
                    <mat-label>Choose an end date
                        <span class="calendar" *ngIf="endDateControl.value">({{endDateControl.value?.calendarName}})</span>
                    </mat-label>
                    <input matInput [matDatepicker]="picker2" [formControlName]="'dateEnd'"
                        (dateChange)="_handleInput()" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 [calendarHeaderComponent]="calendarHeaderComponent"></mat-datepicker>
                </mat-form-field>
            </app-jdn-datepicker>
        </div>
    </div>

    <div class="date-form-error">
        <mat-error *ngIf="startDateControl.hasError('required')">
            <span class="custom-error-message">Start date is <strong>required</strong></span>
        </mat-error>
        <mat-error *ngIf="startDateControl.hasError('sameCalendarRequired') && (startDateControl.value !== null || endDateControl.value !== null)">
            <span class="custom-error-message">In a period, start and end dates are <strong>required</strong> and must use the same
                <strong>calendar</strong></span>
        </mat-error>
        <mat-error *ngIf="startDateControl.hasError('periodStartEnd') && startDateControl.value !== null && endDateControl.value !== null">
            <span class="custom-error-message">In a period, start must be <strong>before</strong> end</span>
        </mat-error>
    </div>

</div>
