<<<<<<<< HEAD:apps/dsp-app/src/app/project/beta/ontology-classes/ontology-class-instance/ontology-class-instance.component.scss
@import '../../../../../assets/style/config';
========
@use "config" as *;
>>>>>>>> main:src/app/project/ontology-classes/ontology-class-instance/ontology-class-instance.component.scss

.multiple-instances {
  height: calc(100vh - #{$header-height});
}

.single-instance-form {
  max-width: 720px;
  display: block;
  padding: 16px;
}
