@use "responsive" as *;

.app-headline {
  margin: 64px 0;
}

.toggle-view {
  margin-bottom: 16px;
}

// mobile device: tablet and smaller than a tablet
@media (max-width: map-get($grid-breakpoints, phone)) {
  .app-headline {
    margin: 10px 0 30px 0;
    width: 100%;
   }

   .app-toolbar {
    width: 100%;

      .app-toolbar-row {
        padding: 0;
      }
   }

   .toggle-view {
    display: none;
  }

  .toggle-view-mobile {
    margin-bottom: 16px;
  }

  .mat-title {
    white-space: normal;
    font-size: 1.1em;
  }

  .show-projects-title {
    color: #616161;
  }
}

// tablet and desktop devices: greater than phone
@media (min-width: map-get($grid-breakpoints, phone)) {

  .toggle-view-mobile {
    display: none;
  }
}
