@use "responsive" as *;

.app-toolbar-action {
  &.select-form {
    margin-top: -18px;
  }

  .form-content {
    display: contents;

    .select-user {
      margin: 0 24px 0 0;
    }
  }

  .create-user-btn {
    margin: 0 0 16px;
    min-width: 140px;
  }
}

// phone devices
@media (min-width: map-get($grid-breakpoints, phone)) {
  .add-new-mobile {
    display: none;
  }
}

// mobile device: tablet and smaller than a tablet
@media (max-width: map-get($grid-breakpoints, tablet)) and (min-width: map-get($grid-breakpoints, phone)) {
  .form-content {
    display: contents;

    .select-user {
      margin: 0 16px 0 16px;
    }

    .large-field {
      min-width: 380px;
    }
  }
}

// phone devices
@media (max-width: map-get($grid-breakpoints, phone)) {
  .fill-remaining-space {
    display: none;
  }

  .add-new {
    display: none;
  }

  .add-new-mobile {
    padding: 0;
    min-width: 36px;
  }

  .toolbar-subtitle {
    display: none;
  }

  .toolbar-form {
    display: block;

    .mat-headline-6 {
      margin: 10px 0 0;
    }

    .app-toolbar-action {
      display: block !important;
      width: fit-content;

      .form-content {
        display: contents;

        .select-user {
          margin: 0 30px 0 0;
        }

        .large-field {
          min-width: 380px;
        }
      }
    }
  }
}
