.todo {
  background-color: bisque;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
}

.deletion-comment {
  width: calc(100% - 48px);
  margin: 8px;
  padding: 8px;
  height: 64px;
}

.mat-dialog-content {
  margin: 0 auto;
}

.elem-center {

}
