.add-to-project {
  .select-project {
    width: 80%;
  }
}

.item-container  {
  display: flex;
  align-items: center;
}

.item-container h4 {
  max-width: 85%;
  text-overflow: ellipsis;
  overflow: clip;
}
