$header-height: 64px;

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .app-header {
    height: $header-height;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .app-content {
    flex: 1;
    height: calc(100vh - #{$header-height});
    overflow: auto;
    z-index: 1;
  }
}


