<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

<div *ngIf="user && !loading" class="content">

    <!-- password update form -->
    <div class="app-toolbar transparent more-space-bottom">
        <div class="app-toolbar-row">
            <h3 class="mat-body subtitle">
                {{ 'appLabels.form.user.title.edit' | translate }}
            </h3>
            <span class="fill-remaining-space"></span>
            <span class="app-toolbar-action">

            </span>
        </div>
        <div class="app-toolbar-row">
            <h2 class="mat-title">
                {{ 'appLabels.form.user.title.password' | translate }}
            </h2>
            <span class="fill-remaining-space"></span>
            <span class="app-toolbar-action">

            </span>
        </div>
    </div>

    <app-user-password [username]="username"></app-user-password>

    <!-- danger zone: delete account -->
    <div class="app-danger-zone more-space-top">
        <div class="app-toolbar more-space-bottom">
            <div class="app-toolbar-row">
                <h3 class="mat-body subtitle">
                    {{ 'appLabels.form.action.danger' | translate }}
                </h3>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action">

                </span>
            </div>
            <div class="app-toolbar-row">
                <h2 class="mat-title">
                    {{ 'appLabels.form.user.title.delete' | translate }}
                </h2>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action">

                </span>
            </div>
        </div>

        <div class="center more-space-top more-space-bottom">
            <button *ngIf="user.status" mat-button [color]="'warn'" (click)="delete()">
                {{ 'appLabels.form.user.title.deleteButton' | translate | uppercase }}
            </button>

            <button *ngIf="!user.status" mat-button [color]="'primary'" (click)="activate()">ACTIVATE ACCOUNT</button>
        </div>

    </div>

</div>
