<!-- <span class="link" [routerLink]="link">
    <h2 matLine class="label mat-subheading-1">{{resClass.label}}</h2>
    <span matLine class="instances">
        {{results | i18nPlural: itemPluralMapping['resource']}}
    </span>
</span>

<span class="overlay-buttons hover-only" *ngIf="projectMember">
    <button mat-icon-button class="add" [routerLink]="link + '/add'">
        <mat-icon>add</mat-icon>
    </button>
</span> -->

<div class="class-container">
    <div class="content">
        <div class="top link" [routerLink]="link">
            <div class="file-icon">
                <div class="icon-wrapper">
                    <mat-icon>{{icon}}</mat-icon>
                </div>
            </div>
            <div class="info">
                <p class="label" matTooltip="{{resClass.label}}" matTooltipShowDelay="750"> {{resClass.label}}</p>
                <p class="entries">{{results | i18nPlural: itemPluralMapping['entry']}}</p>
            </div>
        </div>
        <div class="bottom link" [routerLink]="link + '/add'">
            <div class="add-icon">
                <mat-icon>add_circle_outline</mat-icon>
            </div>
            <div class="add-new">
                <p class="add-new-label">Add a new resource</p>
            </div>
        </div>
    </div>
</div>