<span class="link" [routerLink]="link">
    <h2 matLine class="label mat-subheading-1">{{resClass.label}}</h2>
    <span matLine class="instances">
        {{results | i18nPlural: itemPluralMapping['instance']}}
    </span>
</span>

<span class="overlay-buttons hover-only">
    <button mat-icon-button class="conf" [routerLink]="link + '/conf'">
        <mat-icon>tune</mat-icon>
    </button>
    <button mat-icon-button class="add" [routerLink]="link + '/add'">
        <mat-icon>add</mat-icon>
    </button>
</span>
