<!-- select user to add to the team -->
<!-- TODO: disable if project is not active! -->
<app-add-user [projectcode]="projectcode" (refreshParent)="refresh()"></app-add-user>

<!--<button mat-button (click)="openUserForm()">
    <mat-icon prefix>add</mat-icon>
    Add new member
</button>

<div *ngIf="!addMember">
    <app-select-user [projectIri]="project.id"></app-select-user>
</div>-->

<mat-divider></mat-divider>

<div class="simple-list">
    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <div *ngIf="!loading">
        <!-- list of active users -->
        <app-user-list [list]="active" (userRemoved)="refresh()"></app-user-list>

        <br>

        <!-- list of inactive / deleted users -->
        <app-user-list [list]="inactive" [disabled]="true"></app-user-list>
    </div>

</div>


