<mat-card class="no-shadow">
    <!-- select user to add to the team -->
    <mat-card-subtitle>Collaboration</mat-card-subtitle>
    <mat-card-title>{{"appLabels.form.user.title.add2project" | translate}}</mat-card-title>

    <app-add-user [projectcode]="projectcode" (refreshParent)="refresh()" *ngIf="project?.status" #addUser></app-add-user>
</mat-card>

<mat-divider></mat-divider>

<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

<div *ngIf="!loading" class="content">

    <!-- list of active users -->
    <mat-card class="no-shadow simple-list">
        <mat-card-subtitle>Active</mat-card-subtitle>
        <mat-card-title>{{active.length | i18nPlural: itemPluralMapping['member']}}</mat-card-title>
        <mat-card-content>
            <app-user-list [list]="active" (userUpdate)="refresh()" [disabled]="!project.status"></app-user-list>
        </mat-card-content>
    </mat-card>

    <mat-divider class="more-space"></mat-divider>

    <!-- list of active users -->
    <mat-card class="no-shadow simple-list">
        <mat-card-subtitle>Inactive</mat-card-subtitle>
        <mat-card-title>{{inactive.length | i18nPlural: itemPluralMapping['member']}}</mat-card-title>
        <mat-card-content>
            <app-user-list [list]="inactive" (userUpdate)="refresh()" [disabled]="true"></app-user-list>
        </mat-card-content>
    </mat-card>

</div>


