/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated */
@include mat.all-legacy-component-typographies();
@include mat.all-component-typographies();
/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated */
@include mat.legacy-core();
@include mat.core();

// Define the color palettes for the theme.
$primary: mat.define-palette(mat.$teal-palette, 700, 500, 800);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Define a theme.
$theme: mat.define-light-theme($primary, $accent, $warn);

// Include all theme styles for the components.
/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated */
@include mat.all-legacy-component-themes($theme);
@include mat.all-component-themes($theme);

app-calendar-header {
  .mat-mdc-select {
    background: #00796b;
    color: white;
    padding: 20px;
    margin-bottom: -20px;
    box-sizing: border-box;
  }

  .mat-mdc-select-value,
  .mat-mdc-select-arrow {
    color: #fff;
  }
}

.mat-datepicker-content {
  height: 400px;
}
