// overall styles
.form-container {
  margin: 20px auto;
  width: 50%;
}
.full-width {
  width: 100%;
}
.delete-file {
  &:hover {
    color: red;
  }
}

// drag & drop input
.dd-container {
  height: 200px;
  margin: 20px 0;
  border: 2px solid #000;
  border-radius: 2px;
  position: relative;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #ddd !important;
  }
}
.upload-icon {
  width: auto;
  font-size: 48px;
  padding: 0;
  position: inherit;
  top: 35%;
}
.title {
  bottom: 20%;
}
.bottom-line,
.title {
  width: 100%;
  position: absolute;
  padding: 5px 0;
}
.bottom-line {
  bottom: 0;
  color: #fff;
  background-color: #000;
}

// thumbnail
.thumbnail {
  text-align: center;

  & button {
    position: absolute;
    padding: 0;
  }

  & mat-icon {
    position: absolute;
  }
}

// files table
.files-list {
  display: flex;
  justify-content: space-between;
  // width: calc(80% + 4px);
  margin: 10px auto;
  background: #fff;
  color: #000;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #9ecbec;
  text-align: left;
}
td,
th {
  border: 1px solid #000;
  padding: 3px;
}
tr td:last-child {
  text-align: center;
}
