@use '../../../styles/config' as *;
@use '../../../styles/responsive' as *;

.representation-container {
  width: 100%;
  margin-bottom: 64px;
  min-width: 500px;
}

.previousBtn {
  margin: 24px 48px;
  position: absolute;
}

.active {
  border: 1px solid $primary_800;
}

.restricted-message {
  background: $yellow_100;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  gap: 10px;
  margin: 2%;

  mat-icon {
    color: $yellow_500;
    min-width: 25px;
  }

  p {
    color: $yellow_700;
  }
}

.close {
  cursor: pointer;
}

.resource-header {
  margin-bottom: 24px;
}

.resource-label {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;

  h4 {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 16px;
  }

  button {
    margin-left: 14px;
  }
}

.resource-class-header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;

  h3.label-info {
    cursor: help;
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1.25px;
    margin-block-end: 0em;
  }

  .action {
    display: inline-block;
    white-space: nowrap;

    button {
      border-radius: 0;
    }
  }
}

.infobar {
  margin-top: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.87);
}

@media (max-width: map-get($grid-breakpoints, notebook)) {
  .previousBtn {
    margin: 12px auto 0 12px;
    // position: relative;
  }

  .large-screen-only {
    display: none;
  }
}
