<div class="restricted-message" *ngIf="resource?.userHasPermission === 'RV' && showRestrictedMessage">
  <mat-icon>report_problem</mat-icon>
  <p>This resource is restricted, file representations may be of lower quality and some properties may be hidden.</p>
  <mat-icon class="close" (click)="showRestrictedMessage = false">clear</mat-icon>
</div>
<div class="content large middle">
  <div
    *ngIf="(stillImageRepresentationsAsPartOfSequenceCount$ | async) && (stillImageRepresentationsAsPartOfSequenceCount$ | async) > 0">
    <app-compound-still-image
      [resource]="resource"
      [totalPages$]="stillImageRepresentationsAsPartOfSequenceCount$ |async"></app-compound-still-image>
  </div>
  <div class="resource-view" *ngIf="resource">
    <div class="representation-container center" *ngIf="resource?.readFileValueType">
      <div>{{resource.readFileValueType.constructor.name}}</div>
      <ng-container [ngSwitch]="resource?.readFileValueType?.constructor.name">
        <app-still-image_ [resource]="resource"></app-still-image_>

        <app-document
          #document
          class="dsp-representation document"
          *ngSwitchCase="'ReadDocumentFileValue'"
          [class.pdf]="resource.documentRepresentations[0].filename.split('.').pop() === 'pdf'"
          [src]="resource.documentRepresentations[0]"
          [parentResource]="resource"
          (loaded)="representationLoaded($event)">
        </app-document>

        <app-audio
          *ngSwitchCase="'ReadAudioFileValue'"
          class="dsp-representation audio"
          [src]="resource.audioRepresentations[0]"
          [parentResource]="resource"
          (loaded)="representationLoaded($event)">
        </app-audio>

        <app-video
          *ngSwitchCase="'ReadMovingImageFileValue'"
          class="dsp-representation video"
          [src]="resource.movingImageRepresentations[0]"
          [parentResource]="resource"
          [splitSizeChanged]="splitSizeChanged"
          (loaded)="representationLoaded($event)">
        </app-video>

        <app-archive
          #archive
          class="dsp-representation archive"
          *ngSwitchCase="'ReadArchiveFileValue'"
          [src]="resource.archiveRepresentations[0]"
          [parentResource]="resource"
          (loaded)="representationLoaded($event)">
        </app-archive>

        <app-text
          *ngSwitchCase="'ReadTextFileValue'"
          #text
          class="dsp-representation text"
          [src]="resource.textFileRepresentations[0]"
          [parentResource]="resource"
          (loaded)="representationLoaded($event)">
        </app-text>
      </ng-container>
    </div>
    <div
      class="resource-view"
      *ngIf="!resource.readFileValueType || resource?.readFileValueType !== 'ReadStillImageFileValue'">
      <app-resource-without-representation [resource]="resource"></app-resource-without-representation>
    </div>
  </div>

  <!-- resource not found  -->
  <div *ngIf="!resource && !loading" class="no-results">
    <p>
      The resource
      <span *ngIf="resourceIri">&mdash; <strong> {{resourceIri}}</strong> &mdash;</span>
      could not be found.
    </p>
    <p>Reasons:</p>
    <ul>
      <li>It could be a deleted resource and does not exist anymore.</li>
      <li>You don't have the permissions to open this resource.</li>
      <li>The identifier or the ARK URL is wrong.</li>
    </ul>
  </div>
</div>
