<div class="restricted-message" *ngIf="resource?.res?.userHasPermission === 'RV' && showRestrictedMessage">
  <mat-icon>report_problem</mat-icon>
  <p>This resource is restricted, file representations may be of lower quality and some properties may be hidden.</p>
  <mat-icon class="close" (click)="showRestrictedMessage = false">clear</mat-icon>
</div>
<div class="content large middle">
  <div class="resource-view" *ngIf="resource">
    <app-resource-header [resource]="resource"></app-resource-header>

    <app-resource-representations
      [resource]="resource"
      [selectedRegion]="selectedRegion"
      [selectedTabLabel]="selectedTabLabel"
      [incomingResource]="incomingResource"
      [compoundPosition]="compoundPosition"
      [representationsToDisplay]="representationsToDisplay"
      (openRegion)="openRegion($event)"
      (compoundNavigation)="compoundNavigation($event)"
      (getIncomingRegions)="getIncomingRegions($event.resource, $event.offset)"></app-resource-representations>
    <div class="data-container" *ngIf="!loading">
      <!-- tabs -->
      <mat-tab-group
        *ngIf="!resource.res.isDeleted"
        animationDuration="0ms"
        [(selectedIndex)]="selectedTab"
        (selectedTabChange)="tabChanged($event)">
        <!-- first tab for the main resource e.g. book -->
        <mat-tab #matTabProperties [label]="'appLabels.resource.properties' | translate">
          <app-properties-display
            *ngIf="resourceProperties"
            [resource]="resource"
            [properties]="resourceProperties"></app-properties-display>
        </mat-tab>

        <!-- incoming resource -->
        <mat-tab *ngIf="incomingResource" #matTabIncoming [label]="resourceClassLabel(incomingResource)">
          <app-properties-display
            [resource]="incomingResource"
            [properties]="incomingResource.resProps"></app-properties-display>
        </mat-tab>

        <!-- annotations -->
        <mat-tab
          label="annotations"
          *ngIf="representationsToDisplay?.length && representationsToDisplay[0].fileValue && representationsToDisplay[0].fileValue.type === representationConstants.stillImage">
          <ng-template matTabLabel class="annotations">
            <span
              [matBadge]="representationsToDisplay[0]?.annotations.length"
              [matBadgeHidden]="representationsToDisplay[0]?.annotations.length === 0"
              matBadgeColor="primary"
              matBadgeOverlap="false">
              Annotations
            </span>
          </ng-template>
          <div
            class="region-property"
            *ngFor="let annotation of annotationResources; trackby: trackAnnotationByFn"
            [id]="annotation.res.id"
            [class.active]="annotation.res.id === selectedRegion">
            <app-properties-display [resource]="annotation" [properties]="annotation.resProps" isAnnotation="true">
            </app-properties-display>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- progress indicator -->
    <dasch-swiss-app-progress-indicator *ngIf="loading"></dasch-swiss-app-progress-indicator>
  </div>
  <dasch-swiss-app-progress-indicator *ngIf="!resource && loading"></dasch-swiss-app-progress-indicator>
  <!-- resource not found  -->
  <div *ngIf="!resource && !loading" class="no-results">
    <p>
      The resource
      <span *ngIf="resourceIri">&mdash; <strong> {{ resourceIri }}</strong> &mdash;</span>
      could not be found.
    </p>
    <p>Reasons:</p>
    <ul>
      <li>It could be a deleted resource and does not exist anymore.</li>
      <li>You don't have the permissions to open this resource.</li>
      <li>The identifier or the ARK URL is wrong.</li>
    </ul>
  </div>
</div>
