@use '../../../styles/config' as *;
@use '../../../styles/responsive' as *;

:host ::ng-deep .mat-mdc-tab-body {
  min-height: 70vh;
}

.representation-container {
  width: 100%;
  min-width: 500px;
}

.previousBtn {
  margin: 24px 48px;
  position: absolute;
}

.active {
  border: 1px solid $primary_800;
}

.restricted-message {
  background: $yellow_100;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  gap: 10px;
  margin: 2%;

  mat-icon {
    color: $yellow_500;
    min-width: 25px;
  }

  p {
    color: $yellow_700;
  }
}

.close {
  cursor: pointer;
}

.resource-header {
  margin-bottom: 24px;
}

.resource-label {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;

  h4 {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 16px;
  }

  button {
    margin-left: 14px;
  }
}


::ng-deep .header-tooltip.mdc-tooltip .mdc-tooltip__surface {
  max-width: unset;
}

@media (max-width: map-get($grid-breakpoints, notebook)) {
  .previousBtn {
    margin: 12px auto 0 12px;
    // position: relative;
  }

  .large-screen-only {
    display: none;
  }
}
