/* Initialize counter */
body {
  counter-reset: footnote-counter;
}

/* Style <footnote> elements */
footnote:not(app-ck-editor footnote) {
  display: inline-block; /* Allows numbering inline */
  position: relative;
  visibility: hidden; /* Hide the original footnote text */
}

/* Hide the actual content of the <footnote> */
footnote:not(app-ck-editor footnote)::before {
  counter-increment: footnote-counter;
  content: counter(footnote-counter);
  font-size: 0.8em; /* Slightly smaller font size for superscript */
  vertical-align: super; /* Position as superscript */
  visibility: visible; /* Show the number */
}
