// Include non-theme styles for core.
@use '@angular/material' as mat;
@use "styles/config";
@use "styles/font";
@use "styles/theme";
@use "styles/layout";
@use "styles/elements";
@use "styles/search";
@use "styles/typography" as t;
@use "styles/viewer";
@use "styles/ontology";

@include mat.elevation-classes();
@include mat.app-background();

// Include all typography configurations for the components (Angular Material 18 compatible)
@include mat.all-component-typographies(t.$dsp-typography-config);

// Define the color palettes for the theme (Material 18 compatible)
$primary: mat.m2-define-palette(config.$blue_palette, 700, 500, 900);
$accent: mat.m2-define-palette(config.$light_blue_palette, 900, 600, 900);

// The warn palette is optional (defaults to red).
$warn: mat.m2-define-palette(config.$velvet_red_palette, 700, 500, 900);

// Define a theme with typography.
$theme: mat.m2-define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
  typography: t.$dsp-typography-config,
  density: 0
));

// Include all theme styles for the components.
@include mat.all-component-themes($theme);

// Global snack-bar theme override for Angular Material v18
:root {
  --mat-snack-bar-button-color: rgba(51, 103, 144, 1);
  --mat-snackbar-container-color: rgba(51, 103, 144, 0.9);
  --mat-snackbar-supporting-text-color: rgb(255, 255, 255);
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}


// mat-form-field overrides
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.mat-mdc-form-field-focus-overlay {
  background-color: whitesmoke;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 1;
}

// ckEditor
.ck-editor__editable_inline {
  min-height: 256px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.mat-mdc-menu-panel {
  min-height: 48px !important;
  max-width: 400px !important;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.mat-mdc-dialog-content { //prevent horizontal scrollbar in dialog
  overflow-x: hidden !important;
}
