// Include non-theme styles for core.
@use '@angular/material' as mat;
@use "styles/config" as *;
@use "styles/config";
@use "styles/font";
@use "styles/theme";
@use "styles/layout";
@use "styles/elements";
@use "styles/search";
@use "styles/typography" as t;
@use "styles/viewer";
@use "styles/ontology";

/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated*/
@include mat.legacy-core();
@include mat.core();

// Include all typography configurations for the components (now separate from mat.core())
/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated*/
@include mat.all-legacy-component-typographies();
@include mat.all-component-typographies(t.$dsp-typography-config);

// Define the color palettes for the theme.
$primary: mat.define-palette(config.$blue_palette, 700, 500, 900);
$accent: mat.define-palette(config.$light_blue_palette, 900, 600, 900);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(config.$velvet_red_palette, 700, 500, 900);

// Define a theme.
$theme: mat.define-light-theme((
        color: (primary: $primary, accent: $accent, warn: $warn),
        density: 0
));

// Include all theme styles for the components.
/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated*/
@include mat.all-legacy-component-themes($theme);
@include mat.all-component-themes($theme);


body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

// material icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// The following styles will override material design!

// jdnconvertiblecalendar main style
.mat-datepicker-content {
  .mat-calendar {
    height: auto !important;
  }
}

.grid-card .mat-mdc-card-header > div.mat-card-header-text {
  margin: 0 0 !important;
}

app-color-value {
  .mat-form-field-flex,
  .color-picker-input {
    cursor: pointer !important;
  }

  .mat-form-field-label span {
    display: block;
    padding: 8px 4px;
    margin: 0 auto;
  }
}

// String literal input
// string literal textarea: overwrite material styling !important
.string-literal {
  &.short-text {
    .mat-form-field-infix {
      margin-left: 12px;
    }
  }

  &.long-text {
    .mat-button-toggle-appearance-standard {
      .mat-button-toggle-label-content {
        line-height: 36px !important;
        padding: 0 8px !important;
      }
    }

    // textarea
    .mat-form-field-wrapper {
      width: 100%;

      .mat-form-field-flex {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        min-height: calc(4 * 36px + 2px);

        .mat-form-field-infix {
          // negative values are not the best choice,
          // but with this margin-top the placeholder is at the
          // same position as in the short-text input
          margin: -12px auto auto 12px;
        }
      }
    }
  }
}

.mat-mdc-menu-panel.res-share-menu {
  max-width: 360px !important;
  padding: 6px !important;
}

.info-tooltip {
  white-space: pre-line;
}

// date picker adaption
.mat-mdc-menu-panel.date-picker {
  max-width: 312px !important;
}

.year.withButtonToggle {
  top: -0.05em;

  .mat-form-field-suffix {
    .suffix-toggle-group {
      font-size: 12px;
      border-radius: 0;
      height: calc(36px - 0.25em);

      .mat-button-toggle-label-content {
        line-height: 36px !important;
      }
    }
  }
}

.year,
.month {
  // hide dropdown arrow
  .mat-select-arrow {
    border: none;
  }

  // hide number de- and increase buttons
  // input[type="number"]::-webkit-inner-spin-button,
  // input[type="number"]::-webkit-outer-spin-button {
  //   -webkit-appearance: none;
  // }

  // input[type="number"] {
  //   -moz-appearance: textfield;
  // }
}

// our own date picker value does not need additional space at the bottom
// because of the combination with mat-menu which contains the date picker form
.mat-form-field.date-picker-value {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;

    .mat-form-field-underline {
      bottom: 0 !important;
    }
  }
}

.mat-form-field.without-border {
  .mat-form-field-underline {
    display: none;
  }
}

.mat-caption.space-reducer {
  margin-top: 0;
  margin-bottom: 6px;
}

.project-actions {
  border-left: 1px solid $primary_200;
  padding: 0 12px;

  .mat-caption.space-reducer {
    margin-top: -6px;
    margin-bottom: 6px;
  }
}

button.space-reducer {
  margin: 0;
}

// ckEditor
.ck-editor__editable_inline {
  min-height: 256px;
}

// mat-menu with form element
.form-menu {
  &.mat-mdc-menu-panel {
    min-width: 320px !important;
    max-width: 320px !important;
  }
}

.mat-mdc-menu-panel {
  min-height: 48px !important;
}

.full-size-dialog {
  transition: unset !important;

  .mat-mdc-dialog-container {
    transition: none !important;
    border-radius: 0 !important;
  }
}

.ontology-editor {
  .mat-drawer-inner-container {
    width: 200px;
    position: fixed;
  }
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
