// Include non-theme styles for core.
@use '@angular/material' as mat;
@use "styles/config";
@use "styles/font";
@use "styles/layout";
@use "styles/elements";
@use "styles/ck-editor";
@use "styles/material-theme";
@use "styles/m3_classes";

@include mat.elevation-classes();
@include mat.app-background();

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

// OTHER
.mat-mdc-menu-panel {
  min-height: 48px !important;
  max-width: 400px !important;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.mat-mdc-dialog-content { //prevent horizontal scrollbar in dialog
  overflow-x: hidden !important;
}

.mat-mdc-menu-panel.res-share-menu {
  max-width: 360px !important;
  padding: 6px !important;
}
