@import "../../../assets/style/theme";

.login-page {
  background: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

app-login-form {
  margin: 160px auto;
  max-width: 80%;
  display: block;

  @media (max-width: map-get($grid-breakpoints, phone)) {
    max-width: 100%;
  }
}
