<mat-toolbar>
    <span class="logo">
        <button mat-button routerLink="/" class="main-toolbar-button home-button">
            <!-- <mat-icon svgIcon="knora_app_banner" class="large"></mat-icon> -->
            <mat-icon svgIcon="knora_app_icon" class="small"></mat-icon>
            <!-- {{appName}} -->
        </button>
    </span>

    <span class="fill-remaining-space space-before"></span>

    <!-- search-panel (in desktop and tablet version) -->
    <span class="action searchbar-large-screen">
        <dsp-search-panel [route]="'/search'" [projectfilter]="true" [expert]="false" [advanced]="false">
        </dsp-search-panel>
    </span>

    <!-- advanced and expert search (in desktop version) -->
    <button mat-button [matMenuTriggerFor]="menu" class="hide-search">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="hide-search">
        <button mat-menu-item routerLink="/search/advanced">
            <span>Advanced search</span>
        </button>
        <button mat-menu-item routerLink="/search/expert">
            <span>Expert search</span>
        </button>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <!-- button to display search bar (in phone version) -->
    <button mat-button class="search-link searchbar-phone-screen" (click)="showSearchBar()">
        <mat-icon>search</mat-icon>
    </button>

    <!-- action tools: info menu, select language, login button, user menu -->
    <span class="action">
        <button mat-button [routerLink]="'/help'" class="main-toolbar-button help">Help</button>

        <app-select-language></app-select-language>

        <button mat-raised-button color="primary" *ngIf="!session" class="login-button"
            (click)="goToLogin()">LOGIN</button>
        <app-user-menu *ngIf="session"></app-user-menu>
    </span>

</mat-toolbar>

<!-- search-panel (in phone version) -->
<div class="search-panel-phone" *ngIf="show">
    <dsp-fulltext-search class="dsp-fulltext-search" (search)="doSearch($event)" [projectfilter]="true">
    </dsp-fulltext-search>
</div>
