@import "../../../assets/style/responsive";

.logo {
  // margin-left: -16px;

  .mat-icon {
    height: 40px;

    &.large {
      width: 180px;
    }

    &.small {
      // margin-left: 12px;
      width: 40px;
    }
  }
}

.version {
  margin: auto 0 9px -9px;
}

.project-selector {
  margin-right: 6px;
  font-size: inherit;
}
.ps-btn {
  font-size: inherit;
}

.login-button {
  margin: 0 16px;
}

// mobile device: tablet and smaller than a tablet
@media (max-width: map-get($grid-breakpoints, tablet)) {
  .hide-search {
    display: none;
  }
}

// tablet and desktop device
@media (min-width: map-get($grid-breakpoints, phone)) {
  .searchbar-phone-screen {
    display: none;
  }
}


// mobile device: phone
@media (max-width: map-get($grid-breakpoints, phone)) {
  .info-menu-button {
    display: none;
  }
  .searchbar-large-screen {
    display: none;
  }
  .search-link {
    padding: 0;
    min-width: 45px;
  }
  .action {
    padding: 0;
  }
}
