<mat-toolbar class="app-header" [class.mat-elevation-z6]="session" [class.transparent]="!session">
    <span class="logo">
        <button mat-button routerLink="/">
            <mat-icon svgIcon="kuirl_banner" class="large"></mat-icon>
            <mat-icon svgIcon="kuirl_icon" class="small"></mat-icon>
        </button>
    </span>

    <span class="fill-remaining-space"></span>

    <span class="action">
        <app-select-language></app-select-language>
        <button mat-raised-button color="primary" routerLink="/login" *ngIf="!session" class="login">LOGIN</button>
        <app-user-menu *ngIf="session"></app-user-menu>
    </span>
</mat-toolbar>
