.logo {
  // margin-left: -16px;

  .mat-icon {
    height: 40px;

    &.large {
      width: 180px;
    }

    &.small {
      // margin-left: 12px;
      width: 40px;
    }
  }
}

.version {
  margin: auto 0 9px -9px;
}

.project-selector {
  margin-right: 6px;
  font-size: inherit;
}
.ps-btn {
  font-size: inherit;
}

.login-button {
  margin: 0 16px;
}
