@import '../../../../assets/style/search';

:host {
  display: flex;
  height: 72px;

  .advanced-expert-buttons {
    display: flex;
    height: 24px;
    margin-left: auto;

    button {
      margin-left: 3px;
      justify-self: end;
      line-height: 18px !important;
      font-size: 0.8em;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-top: 4px;

      &.active {
        background-color: $black-12-opacity;
      }

      &.hint {
        color: $accent_200;

        &.active {
          color: $dark;
        }
      }

      .mat-icon {
        margin-top: -2px;
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }

  // responsive style: do not display expert and advanced search on phones
  @media (max-width: map-get($grid-breakpoints, phone)) {
    .advanced-expert-buttons {
      display: none;
    }
  }
}
