// sizes
$max-width: 800px;
$nav-width: 36px;

$osd-width: calc(100% - (2 * #{$nav-width}));
$osd-max-width: calc(#{$max-width} - (2 * #{$nav-width}));

$osd-height: 400px;
$full-height: calc(#{$osd-height} + 64px + 24px);

// colors
$dark: #000;
$bright: #ccc;

.still-image-viewer {
  display: inline-flex;
  width: 100%;

  @media (max-height: 636px) {
    height: 300px;
  }

  .navigation {
    height: $full-height;
    width: $nav-width;

    .mat-button.full-size {
      height: 100% !important;
      width: $nav-width !important;

      padding: 0 !important;
      min-width: $nav-width !important;
    }
  }

  .content {
    height: $full-height;
    width: 100%;

    .osd-container {
      color: $bright;
      background-color: $dark;
      height: $osd-height;

      &.fullscreen {
        max-width: 100vw;
      }
    }

    .footer p {
      color: $bright;
      background-color: $dark;
      height: 24px;
      margin: 0;
      padding: 0 16px;
    }
  }
}


/*
 Overlay styling
 */

::ng-deep .roi-svgoverlay {
  filter: alpha(opacity=40);
  opacity: 0.4;
  fill: transparent;
  stroke: #00695C;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}

::ng-deep .roi-svgoverlay:hover, .roi-svgoverlay:focus {
  filter: alpha(opacity=100);
  opacity: 1.0;
}

::ng-deep .roi-svgoverlay.active {
  filter: alpha(opacity=100);
  opacity: 1.0;
}
