<div *ngIf="list && !loading">
    <div class="list-header">
        <h4 class="mat-title">{{list.length | i18nPlural: itemPluralMapping['member']}}
<!--
            <span *ngIf="disabled"> | <span class="smaller">already deleted</span>
            </span>
-->
        </h4>
        <span class="fill-remaining-space"></span>
        <span class="list-action">
            <kui-sort-button *ngIf="list.length > 1"
                             [sortProps]="sortProps"
                             [(sortKey)]="sortBy"
                             [position]="'right'">
            </kui-sort-button>
        </span>
    </div>

    <table class="table">
        <tr *ngFor="let item of list | kuiSortBy: sortBy;">
            <td class="avatar-cell">
                <img kuiAdminImage [image]="item.email" [type]="'user'" class="avatar-image link" [routerLink]="'/user/' + item.username" />
            </td>
            <td>
                <h5 class="mat-subheading-2 link" [routerLink]="'/user/' + item.username">{{item.givenName}} {{item.familyName}}</h5>
                <p class="mat-subheading-1 link" [routerLink]="'/user/' + item.username">
                    {{item.username}} | {{item.email}} <!-- TODO: question: how public should the email address be? -->
                </p>
                <!--
                <p class="mat-subheading-1">
                    <span>{{item.id}}</span>
                </p>
                -->
            </td>
            <td>

            </td>
            <td>
                <p>
                    <!-- TODO: add selection -->
                <span *ngIf="item.permissions.groupsPerProject[project.id]">
                    <span *ngFor="let iri of item.permissions.groupsPerProject[project.id]">
                        <span color="primary" selected="true"
                              *ngIf="iri === 'http://www.knora.org/ontology/knora-base#ProjectAdmin'">admin</span>
                    </span>
                </span>
                </p>
            </td>
            <td class="table-action">
                <div class="hidden">
                    <button mat-icon-button
                            *ngIf="!disabled"
                            (click)="removeUser(item.id)"
                            matTooltip="Remove {{item.username}} as a collaborator"
                            matTooltipPosition="above">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>



