<form [formGroup]="propertyForm" class="form-content project-data">
    <span class="index">{{index + 1}}) &nbsp;</span>

    <!-- Property name; will be used for prop id -->
    <!-- TODO: Autocomplete input with list of existing prop ids; by selecting one update the other fields and set them as disabled -->
    <mat-form-field class="small-field">
        <input matInput placeholder="Property name *" formControlName="name">
    </mat-form-field>

    <!-- Property label -->
    <mat-form-field class="small-field">
        <input matInput placeholder="Property label *" formControlName="label">
    </mat-form-field>

    <!-- Property value type and gui element  -->
    <mat-form-field class="small-field">
        <mat-label>Property type *</mat-label>

        <mat-select formControlName="type" (selectionChange)="updateAttributeField($event)">
            <mat-select-trigger>
                {{propertyForm.controls['type'].value.group}}:&nbsp;
                {{propertyForm.controls['type'].value.label}}
            </mat-select-trigger>
            <mat-optgroup *ngFor="let type of propertyTypes" [label]="type.group">
                <mat-option *ngFor="let ele of type.elements" [value]="ele">
                    <span *ngIf="ele.label === 'Integer' || ele.label === 'Decimal'; else defaultIcons">
                        <mat-icon [svgIcon]="ele.icon"></mat-icon>
                    </span>
                    <ng-template #defaultIcons>
                        <mat-icon>{{ele.icon}}</mat-icon>
                    </ng-template>
                    {{ele.label}}
                </mat-option>
            </mat-optgroup>
        </mat-select>

    </mat-form-field>

    <br>

    <!-- new line for cardinality and set gui attributes -->
    <!-- Cardinality -->
    <div class="small-field">
        <mat-slide-toggle formControlName="multiple">
            Multiple values?
        </mat-slide-toggle>
    </div>

    <div class="small-field">
        <mat-slide-toggle formControlName="required">
            Required field?
        </mat-slide-toggle>
    </div>


    <!-- TODO: additional mat-form-field for settings depending on the type selection -->
    <div class="small-field" *ngIf="showGuiAttr">
        <div [ngSwitch]="propertyForm.controls['type'].value.subPropOf">
            <div *ngSwitchCase="'knora-api:ListValue'">Select list</div>
            <div *ngSwitchCase="'knora-api:LinkValue'">Select source type</div>
            <div *ngSwitchDefault>Not yet implemented</div>
        </div>
    </div>


    <!-- Permissions -->
    <!-- <mat-form-field class="small-field">
        <input matInput placeholder="Property permissions" formControlName="permission">
    </mat-form-field> -->
