<form *ngIf="!loading" [formGroup]="propertyForm" class="form-content project-data">
    <span class="index">{{index + 1}}) &nbsp;</span>
    <!-- Property label -->
    <mat-form-field class="small-field">
        <input matInput placeholder="Property label *" formControlName="label">
    </mat-form-field>

    <!-- Property value type and gui element  -->
    <mat-form-field class="small-field">
        <mat-label>Property type *</mat-label>

        <mat-select formControlName="type">
            <mat-select-trigger>
                {{propertyForm.controls['type'].value.group}}:&nbsp;
                {{propertyForm.controls['type'].value.label}}
            </mat-select-trigger>
            <mat-optgroup *ngFor="let type of valueTypes" [label]="type.label">
                <mat-option *ngFor="let ele of type.elements" [value]="ele"
                            (onSelectionChange)="updateAttributeField(ele)">
                    <span *ngIf="ele.label === 'Integer' || ele.label === 'Decimal'; else defaultIcons">
                        <mat-icon [svgIcon]="ele.icon"></mat-icon>
                    </span>
                    <ng-template #defaultIcons>
                        <mat-icon>{{ele.icon}}</mat-icon>
                    </ng-template>
                    {{ele.label}}
                </mat-option>
            </mat-optgroup>
        </mat-select>

    </mat-form-field>

    <!-- TODO: additional mat-form-field for settings depending on the type selection -->


    <br>
    <!-- new line for cardinality, splited into two elements; and permissions -->

    <!-- Cardinality -->
    <div class="small-field">
        <mat-slide-toggle formControlName="multiple">
            Multiple values?
        </mat-slide-toggle>
    </div>

    <div class="small-field">
        <mat-slide-toggle formControlName="required">
            Required field?
        </mat-slide-toggle>
    </div>

    <!-- Permissions -->
    <mat-form-field class="small-field">
        <input matInput placeholder="Property permissions" formControlName="permission">
    </mat-form-field>
