<mat-form-field class="small-field">
    <input matInput placeholder="Property label *" [formControl]="form.controls['label']">
</mat-form-field>
<mat-form-field class="ultra-small-field">
    <input matInput placeholder="Property type" [formControl]="form.controls['label']">
</mat-form-field>
<mat-form-field class="ultra-small-field">
    <input matInput placeholder="Cardinality" [formControl]="form.controls['label']">
</mat-form-field>
<mat-form-field class="small-field">
    <input matInput placeholder="Property permissions" [formControl]="form.controls['label']">
</mat-form-field>
