// Firefox:
// Hide number picker
input[type=number] {
    -moz-appearance:textfield;
}

// Show number picker on focus
input[type=number]:focus{
    -moz-appearance:number-input;
}

input:read-only {
    pointer-events: none;
    -moz-appearance:textfield;
 }

.material-icons.comment-lock {
  margin-right: 0.5em;
  fill: grey;
  color: grey;
}

.invalid-comment {
  text-decoration: line-through;
}
