<span *ngIf="mode === 'read'; else showForm" class="read-mode-view">
    <span class="rm-value">{{valueFormControl.value}}</span>
    <span class="rm-comment" *ngIf="shouldShowComment">{{commentFormControl.value}}</span>
</span>
<ng-template #showForm>
    <span [formGroup]="form">
        <mat-form-field class="large-field child-value-component" floatLabel="never" (input)="disallowCommentIfEmpty(form.value)">
            <input matInput [formControlName]="'value'" class="value" placeholder="Int value" type="number" [errorStateMatcher]="matcher">
            <mat-error *ngIf="valueFormControl.hasError('valueNotChanged') &&
                (valueFormControl.touched || valueFormControl.dirty)">
                <span class="custom-error-message">New value must be different than the current value.</span>
            </mat-error>
            <mat-error *ngIf="valueFormControl.hasError('pattern')">
                <span class="custom-error-message">New value must be an integer.</span>
            </mat-error>
            <mat-error *ngIf="valueFormControl.hasError('required')">
                <span class="custom-error-message">An integer value is <strong>required</strong>.</span>
            </mat-error>
            <mat-error *ngIf="valueFormControl.hasError('duplicateValue')">
                <span class="custom-error-message">This value already exists for this property. Duplicate values are not allowed.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="large-field value-component-comment">
            <textarea
                matInput
                [ngClass]="{'comment': valueFormControl.value ,'invalid-comment' : !valueFormControl.value}"
                placeholder="Comment"
                spellcheck="false"
                [readonly] = "[commentReadOnly]"
                [cdkTextareaAutosize]="true"
                [cdkAutosizeMinRows]="1"
                [cdkAutosizeMaxRows]="6"
                [formControlName]="'comment'">
            </textarea>
            <mat-icon matPrefix class="material-icons comment-lock" *ngIf="commentReadOnly && !(commentFormControl.value && !valueFormControl.value)">lock</mat-icon>
            <mat-hint *ngIf="commentFormControl.value && !valueFormControl.value">
                <span class="custom-error-message">This comment won't be saved if there is an invalid or an empty property value above.</span>
            </mat-hint>
        </mat-form-field>
    </span>
</ng-template>
