@use '@angular/material' as mat;
@use "config" as *;
@use "mixins" as *;

.resource-class {
  min-height: 60px;
  height: auto;
  position: relative;
  @include mat.elevation-transition;
  @include mat.elevation(2);
  padding: 12px;
  margin: 6px;
  background-color: $white;

  .resource-class-header {
    cursor: move;
    margin-left: -12px;
    padding: 0px 16px 0;

    .resource-class-header-action {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .resource-class-content {
    padding: 0;
  }

  .resource-class-footer {
    text-align: left;
    padding-left: 32px;
    margin-top: 16px;
  }

  .resource-class-properties {
    li.property-info {
      list-style-type: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: -24px;
      list-style-position: inside;
    }
  }

  &:active {
    @include mat.elevation(8);
  }
}

.drag-n-drop-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 54px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.property {
  &.odd {
    background-color: $primary_50;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $primary_100;

    .gui-order {
      .display-on-hover {
        display: block;
      }

      .hide-on-hover {
        display: none;
      }
    }
  }


  .gui-order {
    .display-on-hover {
      display: none;
    }

    .drag-n-drop-handle {
      cursor: move;
    }
  }

  .list-icon {
    font-size: 16px;
    margin-left: -16px;
  }

  &.link {
    border-top: 1px solid rgba(black, 0.12);
  }
}

.cdk-drag-preview {
  background-color: rgba(254, 254, 254, 1);
  @include box-shadow();
  cursor: move;
  .gui-order {
    .display-on-hover {
      display: block;
    }

    .hide-on-hover {
      display: none;
    }
  }
  .property-info {
    position: fixed;
    left: 32px;
    top: 4px;
  }
}

.link {
  color: $primary;
}
