<div *ngIf="projectAdmin" class="content large middle">

    <!-- add user to the project -->
    <app-group-form *ngIf="project?.status && sysAdmin" [projectcode]="projectcode" (refreshParent)="refresh()" #groupFormComponent></app-group-form>

    <!-- <mat-divider *ngIf="project?.status" ></mat-divider> -->

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <div *ngIf="!loading" class="content">

        <!-- list of active groups? -->
        <app-group-list></app-group-list>

        <!-- list of inactive groups -->


    </div>

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>
