<div *ngIf="!errorMessage; else errorMsg">
    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- success message after updating -->
    <!--<kui-message *ngIf="success" [message]="successMessage" [short]="true"></kui-message>-->

    <!-- content -->
    <form *ngIf="!loading" [formGroup]="form" class="form-content user-data">

        <h3 class="large-field center">
            <!--<span *ngIf="user?.id">{{ 'appLabels.form.user.title.edit' | translate }}</span>-->
            <!--<span *ngIf="!user?.id">{{ 'appLabels.form.user.title.new' | translate }}</span>-->
        </h3>

        <!-- email -->
        <mat-form-field class="large-field">
            <input matInput type="email" [formControl]="form.controls['email']" placeholder="{{ 'appLabels.form.user.general.email' | translate }} *">
            <mat-hint *ngIf="formErrors.email">
                {{ formErrors.email }}
            </mat-hint>
        </mat-form-field>

        <!-- username -->
        <mat-form-field class="large-field">
            <input matInput type="text" autocomplete="username"  [formControl]="form.controls['username']" placeholder="{{ 'appLabels.form.user.general.username' | translate }} *">
            <mat-hint *ngIf="formErrors.username">
                {{ formErrors.username }}
            </mat-hint>
        </mat-form-field>

        <!-- given name -->
        <mat-form-field class="small-field">
            <input matInput [formControl]="form.controls['givenName']" placeholder="{{ 'appLabels.form.user.general.givenName' | translate }} *">
            <mat-hint *ngIf="formErrors.givenName">
                {{ formErrors.givenName }}
            </mat-hint>
        </mat-form-field>

        <!-- family name -->
        <mat-form-field class="medium-field">
            <input matInput [formControl]="form.controls['familyName']" placeholder="{{ 'appLabels.form.user.general.familyName' | translate }} *">
            <mat-hint *ngIf="formErrors.familyName">
                {{ formErrors.familyName }}
            </mat-hint>
        </mat-form-field>

        <!-- password -->
        <mat-form-field class="large-field" *ngIf="!this.standalone">
            <input matInput [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" [formControl]="form.controls['password']" placeholder="{{ 'appLabels.form.user.general.password' | translate }} *">

            <button mat-button matSuffix mat-icon-button class="input-icon" attr.aria-label="{{showPassword ? 'Hide password' : 'Show password'}}"
                (click)="toggleVisibility()">
                <mat-icon>
                    {{showPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-hint *ngIf="formErrors.password">
                {{ formErrors.password }}
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="large-field">

            <mat-select [formControl]="form.controls['lang']" [placeholder]="'appLabels.form.user.general.language' | translate">
                <mat-option *ngFor="let lang of languagesList" [value]="lang.id">
                    {{ lang.name }}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <div class="form-panel large-field" *ngIf="standalone; else stepperNav">
            <span class="fill-remaining-space"></span>
            <button mat-button type="button" color="primary" (click)="submitData()" [disabled]="!form.valid">
                {{ 'appLabels.form.action.update' | translate }}
            </button>
        </div>

        <ng-template #stepperNav>
            <div class="form-panel large-field">
                <button mat-button matStepperPrevious>{{ 'appLabels.form.action.back' | translate }}</button>
                <span class="fill-remaining-space"></span>
                <button mat-button color="primary" matStepperNext [disabled]="!form.valid" (click)="submitData()">
                    {{ 'appLabels.form.action.next' | translate }}
                </button>
            </div>
        </ng-template>

    </form>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <!--<kui-message *ngIf="errorMessage" [message]="errorMessage"></kui-message>-->
</ng-template>
