<div *ngIf="!error; else StatusMsg">
    <!-- normal version -->
    <div *ngIf="!beta">
        <nav *ngIf="projectMember && !loading" mat-tab-nav-bar mat-align-tabs="center"
            class="navigation tab-bar margin-from-top" animationDuration="0ms" [color]="color">
            <a mat-tab-link *ngFor="let link of navigation; let first = first; let i = index" id="{{link.route}}"
                [routerLink]="link.route" routerLinkActive="active-tab" #rla="routerLinkActive" [active]="rla.isActive"
                [disabled]="!projectAdmin && !first && i !== TAB_DATA_MODEL && i !== TAB_LISTS"
                [class.deactivated]="!project?.status">
                <mat-icon class="tab-icon">{{link.icon}}</mat-icon>
                {{link.label}}
            </a>
        </nav>
        <app-progress-indicator *ngIf="loading"></app-progress-indicator>
        <router-outlet *ngIf="!loading"></router-outlet>
    </div>
    <!-- new concept of project view: sidenav instead tabs -->
    <div *ngIf="beta">
        <mat-sidenav-container class="project-view">
            <mat-sidenav mode="side" opened class="project-nav">
                <!-- Project label -->
                <div *ngIf="project !== undefined" class="link project-title"
                    [routerLink]="'/beta/project/' + projectUuid">
                    <p #projectTitle matTooltip="{{project.longname}}" matTooltipShowDelay="500"
                        [matTooltipDisabled]="compareElementHeights(projectTitle)" matTooltipPosition="right">
                        {{project.longname}}
                    </p>
                </div>
                <mat-list class="main-list">
                    <!-- Maybe we can have a project selector here (similar to the github dashboard page) -->
                    <mat-divider></mat-divider>
                    <mat-list-item class="link" (click)="goToOverview()">
                        <span class="link section-label">
                            <p>Go to projects overview</p>
                        </span>
                        <span class="fill-remaining-space"></span>
                        <span mat-icon>
                            <mat-icon>chevron_right</mat-icon>
                        </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <!-- Ontology Section -->
                    <div class="section-title">
                        <span class="section-label">
                            <mat-icon class="sidenav-prefix-icon">bubble_chart</mat-icon>
                            <p>Data models</p>
                        </span>
                    </div>
                    <!-- <mat-list-item class="section-title">
                        <span class="section-label">
                            <mat-icon class="sidenav-prefix-icon">bubble_chart</mat-icon>
                            <p>Data models</p>
                        </span>
                    </mat-list-item> -->
                    <mat-list-item class="link add-new" [class.list-item-deactivated]="!project?.status"
                        *ngIf="projectAdmin" (click)="open('add-ontology')">
                        <span class="add-new-label">
                            <mat-icon class="sidenav-prefix-icon">add_circle_outline</mat-icon>
                            <p>Add a new data model</p>
                        </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <!-- Project Ontologies -->
                    <mat-accordion *ngFor="let onto of projectOntologies; let first = first" multi
                        [displayMode]="'flat'">
                        <mat-expansion-panel [expanded]="first">
                            <mat-expansion-panel-header>
                                <div class="sidenav-panel-header"
                                    (click)="projectMember ? $event.stopPropagation() : true">
                                    <mat-panel-title class="mat-subheading-2"
                                        (click)="projectMember ? open('ontology', onto.id) : null">
                                        <p #ontoTitle matTooltip="{{onto.label}}" matTooltipShowDelay="500"
                                            matTooltipPosition="right"
                                            [matTooltipDisabled]="compareElementHeights(ontoTitle)">{{onto.label}}</p>
                                    </mat-panel-title>
                                </div>
                            </mat-expansion-panel-header>
                            <!-- list of ontology classes -->
                            <app-ontology-classes [resClasses]="onto.getAllClassDefinitions()"
                                [projectMember]="projectMember">
                            </app-ontology-classes>
                        </mat-expansion-panel>
                        <mat-divider></mat-divider>
                    </mat-accordion>

                    <!-- Lists Section -->
                    <span *ngIf="projectMember">
                        <div class="section-title">
                            <span class="section-label">
                                <mat-icon class="sidenav-prefix-icon">list</mat-icon>
                                <p>Lists</p>
                            </span>
                        </div>
                        <mat-list-item class="link add-new" *ngIf="projectAdmin" (click)="open('add-list')">
                            <span class="add-new-label">
                                <mat-icon class="sidenav-prefix-icon">add_circle_outline</mat-icon>
                                <p>Add a new list</p>
                            </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <!-- Project lists -->
                        <mat-list-item *ngFor="let list of projectLists" class="list link"
                            (click)="open('list', list.id)">
                            <p #listTitle matTooltip="{{list.labels | appStringifyStringLiteral}}"
                                matTooltipShowDelay="500" matTooltipPosition="right"
                                [matTooltipDisabled]="compareElementHeights(listTitle)">
                                {{list.labels | appStringifyStringLiteral}}
                            </p>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </span>

                    <mat-divider></mat-divider>

                    <!-- Project members if project admin -->
                    <!-- <mat-list-item *ngIf="projectAdmin" class="link section-title" routerLink="settings/collaboration">
                        <h2 class="mat-title">Members</h2>
                    </mat-list-item> -->

                    <!-- Project permissions ??? will it ever come? -->

                    <div class="sidenav-footer" *ngIf="projectAdmin">
                        <mat-list-item class="link section-title footer" (click)="open('settings')">
                            <span class="section-label">
                                <mat-icon class="sidenav-prefix-icon">settings</mat-icon>
                                <h2 class="mat-title">Settings</h2>
                            </span>
                            <span class="fill-remaining-space"></span>
                            <span mat-icon>
                                <mat-icon>chevron_right</mat-icon>
                            </span>
                        </mat-list-item>
                    </div>
                </mat-list>

            </mat-sidenav>
            <mat-sidenav-content>
                <app-progress-indicator *ngIf="loading"></app-progress-indicator>
                <router-outlet *ngIf="!loading"></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

</div>

<ng-template #StatusMsg>
    <div class="content large middle">
        <app-status *ngIf="error" [status]="404"></app-status>
    </div>
</ng-template>