<div *ngIf="!error; else StatusMsg">
    <!-- normal version -->
    <div *ngIf="!beta">
        <nav *ngIf="projectAdmin && !loading" mat-tab-nav-bar mat-align-tabs="center"
            class="navigation tab-bar margin-from-top" animationDuration="0ms" [color]="color">
            <a mat-tab-link *ngFor="let link of navigation; let first = first" id="{{link.route}}"
                [routerLink]="link.route" routerLinkActive="active-tab" #rla="routerLinkActive" [active]="rla.isActive"
                [disabled]="!first && !projectAdmin" [class.deactivated]="!project?.status">
                <mat-icon class="tab-icon">{{link.icon}}</mat-icon>
                {{link.label}}
            </a>
        </nav>
        <app-progress-indicator *ngIf="loading"></app-progress-indicator>
        <router-outlet *ngIf="!loading"></router-outlet>
    </div>
    <!-- new concept of project view: sidenav instead tabs -->
    <div *ngIf="beta">
        <mat-sidenav-container class="project-view">
            <mat-sidenav mode="side" opened class="project-nav">
                <mat-list class="main-list">
                    <!-- Project label -->
                    <mat-list-item class="link" [routerLink]="'/beta/project/' + project.shortcode">
                        <span matLine>
                            <p class="mat-caption">{{project.longname}}</p>
                        </span>
                        <span matLine>
                            <h1 class="mat-headline">
                                {{project.shortname | uppercase}}
                            </h1>
                        </span>
                    </mat-list-item>
                    <!-- Maybe we can have a project selector here (similar to the github dashboard page) -->
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="link section-label" (click)="goToOverview()">
                            <p>Go to projects overview</p>
                        </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!-- Ontology Section -->
                    <mat-list-item class="section-title">
                        <span class="link section-label" (click)="open('ontology')">
                            <mat-icon class="sidenav-prefix-icon">bubble_chart</mat-icon>
                            <h2 class="mat-title">Data Models</h2>
                        </span>
                        <span class="fill-remaining-space"></span>
                        <button mat-icon-button *ngIf="projectAdmin" class="hover-only" (click)="open('add-ontology')">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-list-item>
                    <!-- <mat-divider></mat-divider> -->

                    <!-- Project Ontologies -->
                    <mat-accordion *ngFor="let onto of projectOntologies" multi [displayMode]="'flat'">
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <div class="sidenav-panel-header" (click)="$event.stopPropagation();">
                                    <mat-panel-title class="mat-subheading-2"
                                        (click)="projectAdmin ? open('ontology', onto.id) : null">
                                        {{onto.label}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <!-- <button mat-icon-button>
                                            <mat-icon>settings</mat-icon>
                                        </button> -->
                                    </mat-panel-description>
                                </div>
                            </mat-expansion-panel-header>
                            <!-- list of ontology classes -->
                            <!-- <mat-list-item>
                                Classes
                                <span class="fill-remaining-space"></span>
                                <button mat-icon-button (click)="open('class')">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </mat-list-item> -->
                            <mat-list>
                                <app-ontology-classes [resClasses]="onto.getAllClassDefinitions()"
                                    [projectMember]="projectMember">
                                </app-ontology-classes>
                            </mat-list>
                        </mat-expansion-panel>
                        <mat-divider></mat-divider>
                    </mat-accordion>
                    <!-- link to ontology properties ??? if project admin -->


                    <!-- Lists Section -->
                    <span *ngIf="projectAdmin">
                        <mat-list-item class="section-title">
                            <span class="link section-label" (click)="open('list')">
                                <mat-icon class="sidenav-prefix-icon">list</mat-icon>
                                <h2 class="mat-title">Lists</h2>
                            </span>
                            <span class="fill-remaining-space"></span>
                            <button mat-icon-button class="hover-only" (click)="open('add-list')">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-list-item>
                        <!-- Project lists -->
                        <mat-list-item *ngFor="let list of projectLists" class="link" (click)="open('list', list.id)">
                            {{list.labels | appStringifyStringLiteral}}
                        </mat-list-item>
                    </span>

                    <mat-divider></mat-divider>

                    <!-- Project members if project admin -->
                    <!-- <mat-list-item *ngIf="projectAdmin" class="link section-title" routerLink="settings/collaboration">
                        <h2 class="mat-title">Members</h2>
                    </mat-list-item> -->

                    <!-- Project permissions ??? will it ever come? -->

                    <div class="sidenav-footer" *ngIf="projectAdmin">
                        <mat-list-item class="section-title">
                            <span class="link section-label" (click)="open('settings')">
                                <mat-icon class="sidenav-prefix-icon">settings</mat-icon>
                                <h2 class="mat-title">Settings</h2>
                            </span>
                        </mat-list-item>
                    </div>
                </mat-list>

            </mat-sidenav>
            <mat-sidenav-content>
                <app-progress-indicator *ngIf="loading"></app-progress-indicator>
                <router-outlet *ngIf="!loading"></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

</div>

<ng-template #StatusMsg>
    <div class="content large middle">
        <app-status *ngIf="error" [status]="404"></app-status>
    </div>
</ng-template>