@import "../../assets/style/config";
@import "../../assets/style/responsive";

.deactivated {
  color: $warn;
}

.section-title {
  .hover-only {
    display: none;
  }

  &:hover {
    .hover-only {
      display: block;
    }
  }
}

// mobile device: tablet and smaller than a tablet
@media (max-width: map-get($grid-breakpoints, tablet)) {
  a[id="ontologies"] {
    display: none;
  }
  a[id="lists"] {
    display: none;
  }
}

// phone devices
@media (max-width: map-get($grid-breakpoints, phone)) {
  .navigation {
    display: none;
  }
}
