<mat-sidenav-container class="sidenav-container full-size" [autosize]="true">

    <mat-sidenav #sidenav mode="side" [opened]="true" [class.wide]="open" [class.narrow]="!open"
                 class="sidenav border-right">
        <!-- side nav list: navigation and tools -->
        <div class="side-nav-content scroll-y-only">

            <!-- the navigation depends on the route -->
            <app-navigation [navigation]="navigation"></app-navigation>

        </div>
        <div class="side-nav-footer">
            <button mat-button (click)="open = !open">
                <mat-icon *ngIf="!open">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="open">keyboard_arrow_left</mat-icon>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <kui-progress-indicator *ngIf="loading && !route"></kui-progress-indicator>

        <!-- main content: router outlet -->
        <div class="content" [ngSwitch]="route" *ngIf="!loading && route">

            <!-- user profile -->
            <app-profile [username]="username" *ngSwitchCase="'profile'"></app-profile>

            <!-- edit user data -->
            <app-account [username]="username" *ngSwitchCase="'account'"></app-account>

            <!-- user's projects -->
            <app-projects [username]="username" *ngSwitchCase="'projects'"></app-projects>

            <!-- user's collections (!!!NOT YET IMPLEMENTED!!!) -->
            <app-collection-list *ngSwitchCase="'collections'"></app-collection-list>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
