<app-navigation [navigation]="navigation"></app-navigation>

<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>
<app-error *ngIf="error"></app-error>

<!-- main content: router outlet -->
<div class="content large middle" [ngSwitch]="route" *ngIf="!loading && route">

    <!-- user profile -->
    <app-profile [username]="username" *ngSwitchCase="'profile'"></app-profile>

    <!-- edit user data -->
    <app-account [username]="username" *ngSwitchCase="'account'"></app-account>

    <!-- user's projects -->
    <app-projects [username]="username" *ngSwitchCase="'projects'"></app-projects>

    <!-- user's collections (!!!NOT YET IMPLEMENTED!!!) -->
    <app-collection-list *ngSwitchCase="'collections'"></app-collection-list>

</div>
