@import "../../assets/style/responsive";

// mobile device: tablet and smaller than a tablet
@media (max-width: map-get($grid-breakpoints, phone)) {
    .content {
        /* display: flex;
        flex-direction: row; */
    
        .full-width {
            width: 100%;
        }
    
       /*  .content-sidebar {
            width: 25%;
            padding-right: 48px;
        } */
    
        .content-container {
            width: 75%;
    
        }
    }
}

  // tablet and desktop devices: greater than phone
@media (min-width: map-get($grid-breakpoints, phone)) {
    .content {
        display: flex;
        flex-direction: row;
    
        .full-width {
            width: 100%;
        }
    
        .content-sidebar {
            width: 25%;
            padding-right: 48px;
        }
    
        .content-container {
            width: 75%;
    
        }
    }
}
