<span class="action">
    <button mat-button [matMenuTriggerFor]="userMenu" class="main-toolbar-button">
        <img kuiAdminImage [image]="username" [type]="'user'" class="avatar"/>
    </button>
</span>

<mat-menu #userMenu="matMenu" xPosition="before" class="menu">
    <!-- first line: user name and close button -->
    <div class="menu-header">
        <p class="menu-title">
            {{username}}
        </p>
        <!--
        <span class="menu-action">
            <button mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </span>
        -->
    </div>

    <!-- menu items -->
    <div class="menu-content">

        <mat-list class="navigation">
            <mat-list-item *ngFor="let item of items" class="nav-item">
                <button mat-button [routerLink]="item.route" routerLinkActive="active-link" class="nav-item button">
                    <mat-icon class="prefix">{{item.icon}}</mat-icon>
                    <span class="label">{{item.label}}</span>
                </button>
            </mat-list-item>
        </mat-list>

    </div>
    <!--
        <mat-grid-list cols="2" gutterSize="6px">
            <mat-grid-tile *ngFor="let item of items">
                <button mat-button [routerLink]="item.route">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <br>
                    {{item.label}}
                </button>
            </mat-grid-tile>
        </mat-grid-list>-->

    <div class="menu-footer">
        <button mat-button class="menu-action logout" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            Logout
        </button>
    </div>
</mat-menu>
