<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

<form [formGroup]="selectUserForm" class="form-content" *ngIf="!loading">

    <!-- auto complete list to select user -->

    <mat-form-field class="large">
        <!--<span matPrefix><mat-icon>add</mat-icon>&nbsp;</span>-->
        <input matInput [matAutocomplete]="user" [formControl]="selectUserForm.controls['username']">
               <!--[placeholder]="'appLabels.form.user.title.select' | translate">-->
        <!--
              <input matInput [formControl]="selectUserForm.controls['username']"
                     [placeholder]="'appLabels.form.user.title.select' | translate">-->

        <!--
        <button mat-button color="primary" matSuffix matStepperNext [disabled]="!selectUserForm.valid"
                (click)="setSelected()">
          {{ 'appLabels.form.action.next' | translate }}
        </button>
  -->

        <button mat-button color="primary" matSuffix [disabled]="!selectUserForm.valid"
                (click)="setSelected()">
            <!--{{ 'appLabels.form.action.add' | translate }}-->
        </button>

        <mat-autocomplete #user="matAutocomplete">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user?.name"
                        (onSelectionChange)="resetSelected()">
                {{ user?.label }}
            </mat-option>
        </mat-autocomplete>

        <mat-hint *ngIf="selectUserErrors.username">
            {{ selectUserErrors.username }}
        </mat-hint>

    </mat-form-field>

</form>
