<div class="content large middle advanced-search-container">
    <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Advanced search
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <kui-extended-search (gravsearch)="setGravsearch($event)"></kui-extended-search>
        </mat-expansion-panel>
</div>

<div class="content large middle" *ngIf="gravsearchQuery">
    <kui-search-results
        [searchMode]="'extended'"
        [searchQuery]="gravsearchQuery"
        [complexView]="true"
    >
    </kui-search-results>
</div>
