<div [ngSwitch]="data.mode">

    <!-- all about USER -->
    <!-- Create new user profile -->
    <div *ngSwitchCase="'createUser'">
        <app-dialog-header [title]="'appLabels.form.user.title.profile' | translate" [subtitle]="'appLabels.form.user.title.new' | translate" (close)="dialogRef.close()"></app-dialog-header>
        <app-user-form [name]="data.name" [projectcode]="data.project" (closeDialog)="dialogRef.close()">
        </app-user-form>
    </div>

    <!-- Modify user data -->
    <div *ngSwitchCase="'editUser'">
        <app-dialog-header [title]="data.name" [subtitle]="'appLabels.form.user.title.edit' | translate" (close)="dialogRef.close()"></app-dialog-header>
        <app-user-form [username]="data.name" (closeDialog)="dialogRef.close()"></app-user-form>
    </div>

    <!-- Update password -->
    <div *ngSwitchCase="'editPassword'">
        <app-dialog-header [title]="data.name" [subtitle]="'appLabels.form.user.title.password' | translate" (close)="dialogRef.close()"></app-dialog-header>
        <app-user-password [username]="data.name" (closeDialog)="dialogRef.close()"></app-user-password>
    </div>

    <!-- Delete user -->
    <div *ngSwitchCase="'deleteUser'">
        Confirm dialog: you're sure? Delete user
    </div>

    <!-- Reactivate user -->
    <div *ngSwitchCase="'activateUser'">
        Confirm dialog: you're sure? Reactivate user
    </div>

    <!-- all about PROJECT -->
    <!-- Create project -->
    <div *ngSwitchCase="'createProject'">
        <app-dialog-header [title]="'appLabels.form.project.title.profile' | translate" [subtitle]="'appLabels.form.project.title.new' | translate" (close)="dialogRef.close()"></app-dialog-header>
        <app-project-form (closeDialog)="dialogRef.close()"></app-project-form>
    </div>

    <!-- Modify project information -->
    <div *ngSwitchCase="'editProject'">
        <app-dialog-header [title]="data.name" [subtitle]="'appLabels.form.project.title.edit' | translate" (close)="dialogRef.close()"></app-dialog-header>
        <app-project-form [projectcode]="data.name" (closeDialog)="dialogRef.close()"></app-project-form>
    </div>

    <!-- Delete project -->
    <div *ngSwitchCase="'deleteProject'">
        <app-dialog-header [title]="data.name" [subtitle]="'appLabels.form.project.title.delete' | translate" (close)="dialogRef.close()"></app-dialog-header>
        Confirm dialog: you're sure? Delete project
        <!-- <app-project-form [projectcode]="data.name" (closeDialog)="dialogRef.close()"></app-project-form> -->
    </div>

    <!-- Reactivate project -->
    <div *ngSwitchCase="'activateProject'">
        <app-dialog-header [title]="data.name" [subtitle]="'appLabels.form.project.title.activate' | translate" (close)="dialogRef.close()"></app-dialog-header>
        Confirm dialog: you're sure? Reactivate project
        <!-- <app-project-form [projectcode]="data.name" (closeDialog)="dialogRef.close()"></app-project-form> -->
    </div>

    <!-- Unknown method (or not yet defined) -->
    <!-- Default dialog content component -->
    <div *ngSwitchDefault>
        <app-dialog-header [title]="'Not yet implemented'" [subtitle]="'ERROR 400'"></app-dialog-header>
        This component {{data.mode}} is not implemented yet.
    </div>
</div>
