@import "../../../assets/style/responsive";

section {
  margin: 24px auto;
}

// phone devices
@media (max-width: map-get($grid-breakpoints, phone)) {
  
  .fill-remaining-space {
    display: none;
  }

  .app-toolbar-action {
    display: none;
  }

  .more-space-bottom {
    margin-bottom: 0 !important;
  }

  .app-toolbar-mobile {
    display: flex;

    .fill-remaining-space-action {
      flex: 1 1 auto;
    }
    .app-toolbar-action-status {
      padding: 12px 0 0 16px;
    }
    .app-toolbar-action-edit {
      padding-right: 16px;
    }
  }

  .description {
    margin: 0 auto 36px auto;
  }
}

// desktop and tablet devices
@media (min-width: map-get($grid-breakpoints, phone)) {
   
  .app-toolbar-mobile {
    display: none;
  }
}
