<dsp-progress-indicator *ngIf="metadataLoading && !projectsMetadata"></dsp-progress-indicator>

<div *ngIf="!loading && project">
    <div class="content large middle">
        <!--  mobile version: status and edit icon displayed before the title -->
        <div class="app-toolbar-mobile">
        <span class="app-toolbar-action-status">
            <span class="badge status" [class.active]="project.status">
                <span *ngIf="project.status">Active</span>
                <span *ngIf="!project.status">Deactivated</span>
            </span>
        </span>
        <span class="fill-remaining-space-action"></span>
        <span class="app-toolbar-action-edit">
            <button mat-icon-button class="right"
                    (click)="openDialog('editProject', project.shortname, project.shortcode)"
                    *ngIf="projectAdmin && project.status">
                <mat-icon>edit</mat-icon>
            </button>
        </span>
        </div>

        <!-- desktop and tablet version -->
        <div class="app-toolbar transparent more-space-bottom">
            <div class="app-toolbar-row">
                <h3 class="mat-body subtitle">
                    Project {{ project.shortcode }} | {{ project.shortname | uppercase }}
                </h3>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action">
                    <span class="badge status" [class.active]="project.status">
                        <span *ngIf="project.status">Active</span>
                        <span *ngIf="!project.status">Deactivated</span>
                    </span>
                </span>
            </div>
            <div class="app-toolbar-row">
                <h2 class="mat-title">
                    {{ project.longname }}
                </h2>
                <span class="fill-remaining-space"></span>
                <span class="app-toolbar-action">
                    <button mat-icon-button
                            *ngIf="projectAdmin && project.status"
                            (click)="openDialog('editProject', project.shortname, project.shortcode)"
                            class="right">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="project-info-container flex-panel" *ngIf="!metadataLoading && selectedDataset">

        <div class="left-info column">
            
            <section class="project description">
                <h3>Description</h3>
                <div [innerHtml]="selectedProject.description"></div>
            </section>

            <section>
                <mat-tab-group animationDuration="0ms" [color]="color" class="tab-bar margin-from-top">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">perm_data_setting</mat-icon>
                            Project
                        </ng-template>
                        <app-project-tab-view [selectedProject]="selectedProject" [subProperties]="subProperties"></app-project-tab-view>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">collections</mat-icon>
                            Dataset
                        </ng-template>
                        <app-dataset-tab-view [metadata]="selectedDataset" [noOfDatasets]="datasetOptions.length"></app-dataset-tab-view>
                    </mat-tab>
                    
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">assignment</mat-icon>
                            Attribution
                        </ng-template>
                        <app-attribution-tab-view [attributions]="selectedDataset.qualifiedAttribution" [subProperties]="subProperties"></app-attribution-tab-view>
                    </mat-tab>
                
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">receipt</mat-icon>
                            Terms & conditions
                        </ng-template>
                        <app-terms-tab-view [conditions]="selectedDataset.conditionsOfAccess" [license]="selectedDataset.license"></app-terms-tab-view>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">portrait</mat-icon>
                            Contact
                        </ng-template>
                        <app-contacts-tab-view [contactDetails]="selectedProject.contactPoint" [subProperties]="subProperties"></app-contacts-tab-view>
                    </mat-tab>
                </mat-tab-group>
            </section>
        </div>

        <div class="right-info column">
            <div class="metadata-box">
                <h3>Dataset(s)</h3>
                <div>
                    <mat-radio-group
                        aria-label="Select a dataset"
                        name="datasetsList"
                        fxLayout="column"
                        (change)="updateDataset($event)">
                        <mat-radio-button
                            *ngFor="let ds of datasetOptions"
                            name="datasetsList"
                            [checked]="ds.checked"
                            [value]="ds.id">
                            {{ ds.name }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="metadata-box">
                <div>
                    <h3 class='display-inline-block'>Cite as</h3>
                    <button mat-button class="btn-copy-to-clipboard" [cdkCopyToClipboard]="selectedDataset.howToCite"
                        matTooltip="Copy citation url" matTooltipPosition="below" (click)="copyToClipboard('Citation link')">
                        <mat-icon class="icon-arkurl">content_copy</mat-icon>
                    </button>
                </div>
                <div class="sidenav-prop-text">
                    <p [innerHTML]="selectedDataset.howToCite"></p>
                </div>
            </div>

            <div class="metadata-box">
                <div class="sidenav-properties-container">
                    <div class="property">
                        <div>
                            <div class="property-label display-inline-block">
                                Persistent identifier
                            </div>
                                <button mat-button class="btn-copy-to-clipboard" [cdkCopyToClipboard]="selectedProject.id"
                                matTooltip="Copy persistent identifier" matTooltipPosition="below" (click)="copyToClipboard('Persistent identifier')">
                                <mat-icon class="icon-arkurl">content_copy</mat-icon>
                            </button>
                        </div>
                        <div class="sidenav-prop-text property-value">
                            <a href="{{ selectedProject.id }}" target="_blank"> {{ selectedProject.id }} </a>
                        </div>
                    </div>
                    <div class="property">
                        <div class="property-label display-inline-block">
                            License
                        </div>
                        <div class="sidenav-prop-text property-value">
                            <p class="p-block" *ngFor="let license of selectedDataset.license">
                                <a *ngIf="license.url" href="{{ license.url }}" target="_blank"> {{ license.url }} </a>
                            </p>
                        </div>
                    </div>
                    <div class="property" *ngIf="selectedDataset.datePublished">
                        <div class="property-label">
                            Publication date
                        </div>
                        <div class="sidenav-prop-text property-value">
                            {{ selectedDataset.datePublished | date:'MMMM d, yyyy' }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="metadata-box">
                <h3>Keyword(s)</h3>
                <div class="sidenav-prop-text">
                    <mat-chip-list>
                        <mat-chip *ngFor="let kword of selectedProject.keywords"> {{ kword }} </mat-chip>
                    </mat-chip-list>
                </div>
            </div>

            <div class="metadata-box">
                <h3>Download metadata</h3>
                <div class="sidenav-prop-text">
                    <a [routerLink]="" (click)="downloadMetadata()">JSON</a>
                    <!-- Functionality to be implemented -->
                    <a href *ngFor="let dformat of metadataDownloadFormats" class="download-metadata"> {{ dformat }} </a>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!metadataLoading && !projectsMetadata">
        <p class="note error center">Metadata is not available for the selected project.</p>
    </div>
</div>