<app-progress-indicator *ngIf="loading"></app-progress-indicator>

<div *ngIf="!loading && project"
    class="content large middle">
    <!-- beta hint with feature toggle to switch between the stable and the beta version  -->
    <div class="note warning">
        <span *ngIf="beta">This is a preview of a new project view concept!</span>
        <span *ngIf="!beta">We are working on a new project view concept. Switch to the beta version.</span>
        <span class="fill-remaining-space"></span>
        <mat-slide-toggle [(ngModel)]="beta"
            [style.color]="'primary'"
            (change)="featureToggle()">Beta Preview</mat-slide-toggle>
    </div>
    <!--  mobile version: status and edit icon displayed before the title -->
    <div class="app-toolbar-mobile">
        <span class="app-toolbar-action-status">
            <span [class.active]="project.status"
                class="badge status">
                <span *ngIf="project.status">Active</span>
                <span *ngIf="!project.status">Deactivated</span>
            </span>
        </span>
        <span class="fill-remaining-space-action"></span>
        <span class="app-toolbar-action-edit"
            *ngIf="projectAdmin">
            <button mat-icon-button
                *ngIf="project.status"
                (click)="openDialog('editProject', project.shortname, project.id)"
                class="right">
                <mat-icon>edit</mat-icon>
            </button>
        </span>
    </div>

    <!-- desktop and tablet version -->
    <div class="app-toolbar transparent more-space-bottom">
        <div class="app-toolbar-row">
            <h3 class="mat-body subtitle">
                Project {{ project.shortcode }} | {{ project.shortname | uppercase }}
            </h3>
            <span class="fill-remaining-space"></span>
            <span class="app-toolbar-action">
                <span [class.active]="project.status"
                    class="badge status">
                    <span *ngIf="project.status">Active</span>
                    <span *ngIf="!project.status">Deactivated</span>
                </span>
            </span>
        </div>
        <div class="app-toolbar-row">
            <h2 class="mat-title">
                {{ project.longname }}
            </h2>
            <span class="fill-remaining-space"></span>
            <span class="app-toolbar-action">
                <button mat-icon-button
                    *ngIf="projectAdmin && project.status"
                    (click)="openDialog('editProject', project.shortname, project.id)"
                    class="right">
                    <mat-icon>edit</mat-icon>
                </button>
            </span>
        </div>
    </div>

    <!-- description -->
    <section class="project description"
        *ngFor="let description of project.description">
        <div [innerHtml]="description.value"></div>
    </section>

    <mat-divider *ngIf="project.keywords.length > 0"></mat-divider>

    <!-- keywords -->
    <section class="project keywords">
        <mat-chip-list>
            <mat-chip *ngFor="let k of project.keywords">{{k}}</mat-chip>
        </mat-chip-list>
    </section>

</div>
