:host {
  width: 100%;

  .search-property-header {
    width: 100%;
    display: inline-flex;
  }

  .search-property-line {
    display: inline-flex;
    width: 100%;

    .search-property-field {
      margin-right: 8px;
    }

    .sort-criterion-toggle {
      margin: 16px 16px 0 0;
    }
  }
}
