@import "../../../../assets/style/theme";

.mat-icon-text {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 8px;
  }
}

.funder, .grant {
  ::ng-deep .organization-name, ::ng-deep .person-name, .grant-name {
    margin-top: 0px !important;
  }
}

.funder:not(:last-child), .grant:not(:last-child) {
  border-bottom: 1px solid $primary_100;
}

.funder:not(:first-child), .grant:not(:first-child) {
  margin-top: 1em;
}

