<p>Metadata for selected project is listed below.</p>

<div class="properties-container">
    <div class="properties">
        <div *ngFor="let prop of metadata | keyvalue; let last = last; let i = index;" class="border-bottom">
            <div *ngIf="excludeKeys.indexOf(prop.key) < 0" class="property">
                <div class="property-label">
                    <h3 class="label mat-subheading-1">
                        {{ prop.key }}
                    </h3>
                </div>
                <div [ngSwitch]="prop.key" class="property-value">

                    <!-- #################### template for discipline ################# -->
                    <div *ngSwitchCase="'discipline'">
                        <a href="{{ metadata.discipline.url }}" target="_blank"> {{ metadata.discipline.name }} </a>
                    </div>

                    <!-- #################### template for temporalCoverage ################# -->
                    <div *ngSwitchCase="'temporalCoverage'">
                        <a href="{{ metadata.temporalCoverage.url }}" target="_blank"> {{ metadata.temporalCoverage.name }} </a>
                    </div>

                    <!-- #################### template for url ################# -->
                    <div *ngSwitchCase="'url'">
                        <a href="{{ metadata.url.value }}" target="_blank"> {{ metadata.url.value }} </a>
                    </div>

                    <!-- #################### template for funder ################# -->
                    <div *ngSwitchCase="'funder'">
                        <a href="{{ metadata.funder.id }}" target="_blank"> {{ metadata.funder.id }} </a>
                    </div>

                    <!-- #################### template for keywords ################# -->
                    <div *ngSwitchCase="'keywords'">
                        <mat-chip-list>
                            <mat-chip *ngFor="let kword of metadata.keywords"> {{ kword }} </mat-chip>
                        </mat-chip-list>
                    </div>

                    <!-- #################### template for dataManagementPlan ################# -->
                    <div *ngSwitchCase="'dataManagementPlan'">
                        <p class="remove-top-margin"> {{ metadata.dataManagementPlan.isAvailable? 'Available' : 'Unavailable' }} </p>
                        <p *ngIf="metadata.dataManagementPlan.isAvailable">
                            URL: <a href="{{ metadata.dataManagementPlan.url.value }}" target="_blank"> {{ metadata.dataManagementPlan.url.value }} </a>
                        </p>
                    </div>

                    <!-- #################### template for dataManagementPlan ################# -->
                    <div *ngSwitchCase="'grant'">
                        <span *ngIf="metadata.grant.name"> {{ metadata.grant.name }} </span>
                        <p> Id: <a href="{{ metadata.grant.id }}" target="_blank"> {{ metadata.grant.id }} </a> </p>
                        <p> URL: <a href="{{ metadata.grant.url.value }}" target="_blank"> {{ metadata.grant.url.value }} </a></p>
                        <p> Funder: <a href="{{ metadata.grant.funder.id }}" target="_blank"> {{ metadata.grant.funder.id }} </a></p>
                        <div *ngIf="metadata.grant.number" class="mat-icon-text">
                            <mat-icon aria-hidden="false" aria-label="Call" class="small">call</mat-icon>
                            <a href="tel:{{ metadata.grant.number }}"> {{ metadata.grant.number }} </a>
                        </div>
                    </div>

                    <!-- #################### template for dataManagementPlan ################# -->
                    <div *ngSwitchCase="'spatialCoverage'">
                        <div *ngFor="let coverage of metadata.spatialCoverage">
                            {{ coverage.place.name }} (<a href="{{ coverage.place.url }}" target="_blank"> {{ coverage.place.url }} </a>)
                        </div>
                    </div>

                    <!-- #################### default template ################# -->
                    <div *ngSwitchDefault>
                        <div *ngIf="dateKeys.indexOf(prop.key) < 0;">
                            {{ prop.value }}
                        </div>
                        <div *ngIf="dateKeys.indexOf(prop.key) > -1;">
                            {{ prop.value | date:'MMMM d, yyyy' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
