<p>Metadata for selected project is listed below.</p>

<div class="properties-container">
    <div class="properties">
        <div *ngFor="let prop of selectedProject | keyvalue; let last = last; let i = index;" class="border-bottom">
            <div *ngIf="excludeKeys.indexOf(prop.key) < 0" class="property">
                <div class="property-label">
                    <h3 class="label mat-subheading-1">
                        {{ prop.key }}
                    </h3>
                </div>
                <div [ngSwitch]="prop.key" class="property-value">

                    <!-- template for discipline -->
                    <div *ngSwitchCase="'discipline'">
                        <a href="{{ selectedProject.discipline[0].url }}" target="_blank"> {{ selectedProject.discipline[0].name }} </a>
                    </div>

                    <!-- template for temporalCoverage -->
                    <div *ngSwitchCase="'temporalCoverage'">
                        <a href="{{ selectedProject.temporalCoverage[0].url }}" target="_blank"> {{ selectedProject.temporalCoverage[0].name }} </a>
                    </div>

                    <!-- template for url -->
                    <div *ngSwitchCase="'url'">
                        <p class="remove-top-margin" *ngFor="let link of selectedProject.url">
                            <a *ngIf="link.url" href="{{ link.url }}" target="_blank"> {{ link.url }} </a>
                        </p>
                    </div>

                    <!-- template for funder -->
                    <div *ngSwitchCase="'funder'">
                        <mat-card *ngFor="let funder of funders">
                            <div [ngSwitch]="funderType">
                                <div *ngSwitchCase="'person'">
                                    <app-person-template [person]="funder" [subProperties]="subProperties"></app-person-template>
                                </div>
                                <div *ngSwitchCase="'organization'">
                                    <app-organisation-template [organisation]="funder"></app-organisation-template>
                                </div>
                            </div>
                        </mat-card>
                    </div>

                    <!-- template for keywords -->
                    <div *ngSwitchCase="'keywords'">
                        <mat-chip-list>
                            <mat-chip *ngFor="let kword of selectedProject.keywords"> {{ kword }} </mat-chip>
                        </mat-chip-list>
                    </div>

                    <!-- template for dataManagementPlan -->
                    <div *ngSwitchCase="'dataManagementPlan'">
                        <div *ngFor="let dmp of dmps">
                            <p class="remove-top-margin"> {{ dmp.isAvailable? 'Available' : 'Unavailable' }} </p>
                            <div *ngIf="!dmp.isAvailable">
                                <p *ngIf="dmp.url.name"> Name: {{ dmp.url.url }} </p>
                                <p *ngIf="dmp.url.url">
                                    URL: <a href="{{ dmp.url.url }}" target="_blank"> {{ dmp.url.url }} </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- template for grant -->
                    <div *ngSwitchCase="'grant'">
                        <mat-card *ngFor="let grant of grants">
                            <p *ngIf="grant.name"> {{ grant.name }} </p>
                            <div *ngIf="grant.url">
                                URL(s):
                                <p class="add-margin-left"  *ngFor="let entry of grant.url">
                                    <a href="{{ entry.url }}" target="_blank"> {{ entry.url }} </a>
                                </p>
                            </div>
                            <div *ngIf="grant.number" class="mat-icon-text">
                                <mat-icon aria-hidden="false" aria-label="Call" class="small">call</mat-icon>
                                <a href="tel:{{ grant.number }}"> {{ grant.number }} </a>
                            </div>
                            <div> Funder(s):
                                <div class="add-margin-left" *ngFor="let funder of grant.funder">
                                    <div [ngSwitch]="grant.funderType">
                                        <div *ngSwitchCase="'person'">
                                            <app-person-template [person]="funder" [subProperties]="subProperties"></app-person-template>
                                        </div>
                                        <div *ngSwitchCase="'organization'">
                                            <app-organisation-template [organisation]="funder"></app-organisation-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>

                    <!-- template for spatialCoverage -->
                    <div *ngSwitchCase="'spatialCoverage'">
                        <div *ngFor="let coverage of selectedProject.spatialCoverage">
                            {{ coverage.place.name }} (<a href="{{ coverage.place.url }}" target="_blank"> {{ coverage.place.url }} </a>)
                        </div>
                    </div>

                    <!-- default template -->
                    <div *ngSwitchDefault>
                        <div *ngIf="dateKeys.indexOf(prop.key) < 0;">
                            {{ prop.value }}
                        </div>
                        <div *ngIf="dateKeys.indexOf(prop.key) > -1;">
                            {{ prop.value | date:'MMMM d, yyyy' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
