<p>Metadata for selected project is listed below.</p>

<div class="properties-container">
    <div class="properties">
        <div *ngFor="let prop of selectedProject | keyvalue; let last = last; let i = index;" class="border-bottom">
            <div *ngIf="excludeKeys.indexOf(prop.key) < 0" class="property">
                <div class="property-label">
                    <h3 class="label mat-subheading-1">
                        {{ prop.key }}
                    </h3>
                </div>
                <div [ngSwitch]="prop.key" class="property-value">

                    <!-- template for discipline -->
                    <div *ngSwitchCase="'discipline'">
                        <a href="{{ selectedProject.discipline[0].url }}" target="_blank"> {{ selectedProject.discipline[0].name }} </a>
                    </div>

                    <!-- template for temporalCoverage -->
                    <div *ngSwitchCase="'temporalCoverage'">
                        <a href="{{ selectedProject.temporalCoverage[0].url }}" target="_blank"> {{ selectedProject.temporalCoverage[0].name }} </a>
                    </div>

                    <!-- template for url -->
                    <div *ngSwitchCase="'url'">
                        <p class="remove-top-margin" *ngFor="let link of selectedProject.url">
                            <a *ngIf="link.url" href="{{ link.url }}" target="_blank"> {{ link.url }} </a>
                        </p>
                    </div>

                    <!-- template for funder 
                    <div *ngSwitchCase="'funder'">
                        <a href="{{ selectedProject.funder.id }}" target="_blank"> {{ selectedProject.funder.id }} </a>
                    </div>
                    -->

                    <!-- template for keywords -->
                    <div *ngSwitchCase="'keywords'">
                        <mat-chip-list>
                            <mat-chip *ngFor="let kword of selectedProject.keywords"> {{ kword }} </mat-chip>
                        </mat-chip-list>
                    </div>

                    <!-- template for dataManagementPlan -->
                    <div *ngSwitchCase="'dataManagementPlan'">
                        <div *ngFor="let dmp of dmps">
                            <p class="remove-top-margin"> {{ dmp.isAvailable? 'Available' : 'Unavailable' }} </p>
                            <div *ngIf="!dmp.isAvailable">
                                <p *ngIf="dmp.url.name"> Name: {{ dmp.url.url }} </p>
                                <p *ngIf="dmp.url.url">
                                    URL: <a href="{{ dmp.url.url }}" target="_blank"> {{ dmp.url.url }} </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- template for grant 
                    <div *ngSwitchCase="'grant'">
                        <span *ngIf="selectedProject.grant.name"> {{ selectedProject.grant.name }} </span>
                        <p> Id: <a href="{{ selectedProject.grant.id }}" target="_blank"> {{ selectedProject.grant.id }} </a> </p>
                        <p> URL: <a href="{{ selectedProject.grant.url.value }}" target="_blank"> {{ metaselectedProjectdata.grant.url.value }} </a></p>
                        <p> Funder: <a href="{{ selectedProject.grant.funder.id }}" target="_blank"> {{ selectedProject.grant.funder.id }} </a></p>
                        <div *ngIf="selectedProject.grant.number" class="mat-icon-text">
                            <mat-icon aria-hidden="false" aria-label="Call" class="small">call</mat-icon>
                            <a href="tel:{{ selectedProject.grant.number }}"> {{ selectedProject.grant.number }} </a>
                        </div>
                    </div> -->

                    <!-- template for spatialCoverage -->
                    <div *ngSwitchCase="'spatialCoverage'">
                        <div *ngFor="let coverage of selectedProject.spatialCoverage">
                            {{ coverage.place.name }} (<a href="{{ coverage.place.url }}" target="_blank"> {{ coverage.place.url }} </a>)
                        </div>
                    </div>

                    <!-- default template -->
                    <div *ngSwitchDefault>
                        <div *ngIf="dateKeys.indexOf(prop.key) < 0;">
                            {{ prop.value }}
                        </div>
                        <div *ngIf="dateKeys.indexOf(prop.key) > -1;">
                            {{ prop.value | date:'MMMM d, yyyy' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
