@import "~@angular/material/theming";
@import "../../../../assets/style/config";

.mat-list-item {
  height: 56px !important;
  margin: 4px 0;
  &:hover {
    background-color: $black-12-opacity;
  }
}

.additional-info {
  color: $primary_700;
}

.mat-list-icon.order {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.mat-line.title {
  line-height: 1.8;
  .mat-icon {
    top: 4px;
    position: relative;
  }
}


.mat-line.info {
  font-size: small;

  .mat-icon {
    width: 12px;
    height: 12px;
    font-size: small;
    top: 2px;
    position: relative;
  }
}

.not-used {
  color: $warn;
}
