@use "config" as *;

:host {
  width: 100%;
}

.property-info.standalone {
  padding: 16px;
}

.flex {
  display: flex !important;
}

.mat-line {
  &.title {
    line-height: 1.8;
    .mat-icon {
      top: 4px;
      position: relative;
    }
  }

  &.info {
    font-size: small;

    .mat-caption {
      color: rgba($dark, .7);
    }

    .mat-icon {
      width: 12px;
      height: 12px;
      font-size: small;
      top: 2px;
      position: relative;
    }
  }

  &.with-line-break {
    white-space: normal;
  }
}

.not-used {
  color: $red;
  font-size: 12px;
}

.type {
  margin-right: 12px;
}
