<!--<head>
    <script src="//unpkg.com/3d-force-graph@1"></script>
    <script src="//unpkg.com/d3-dsv"></script>
</head>-->
<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>



<body>
<div id="3d-graph">
    <mat-toolbar>
        <mat-toolbar-row>
            <h3 class="mat-title" [matTooltip]="ontology.id">{{ontology?.label}} Graph</h3>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="dimensions-selector">
    Dimensions:
    <input type="radio" name="num-dimensions" onChange="toggleDimensions(2)" checked> 2D
    <input type="radio" name="num-dimensions" onChange="toggleDimensions(3)"> 3D
</div>

</body>
