<!-- list of properties -->
<div class="properties-container">
  <div class="properties" *ngIf="resource.resProps.length > 0; else noProperties">
    <!-- list of properties -->
    <div *ngFor="let prop of resource.resProps; let last = last; trackBy: trackByPropertyInfoFn">
      <!-- show property; all in case of showAll === true or only the ones with prop.values -->
      <div
        *ngIf="((showAllProps$ | async) || ( prop.values && prop.values.length > 0 ) || (prop.propDef.id === hasIncomingLinkIri && numberOffAllIncomingLinkRes > 0)) && (
                !prop.propDef['isLinkProperty'] &&
                prop.propDef.objectType !== representationConstants.stillImage &&
                prop.propDef.objectType !== representationConstants.movingImage &&
                prop.propDef.objectType !== representationConstants.audio &&
                prop.propDef.objectType !== representationConstants.document &&
                prop.propDef.objectType !== representationConstants.text &&
                prop.propDef.objectType !== representationConstants.archive &&
                !(isAnnotation && (
                    prop.propDef.subjectType === representationConstants.region &&
                    prop.propDef.objectType !== representationConstants.color
                ))
            )"
        [class.border-bottom]="prop.values && !last"
        class="property">
        <div class="property-label">
          <!-- label of the property -->
          <h3
            class="label mat-subtitle-2"
            [class.label-info]="prop.propDef.comment"
            [matTooltip]="prop.propDef.comment"
            matTooltipPosition="above">
            {{prop.propDef.label}}
          </h3>
        </div>
        <div class="property-value">
          <!-- the value(s) of the property -->
          <div *ngFor="let val of prop.values; trackBy: trackByValuesFn">
            <app-display-edit
              *ngIf="val"
              #displayEdit
              [parentResource]="resource.res"
              [displayValue]="val"
              [propArray]="resource.resProps"
              [canDelete]="deleteValueIsAllowed(prop)"
              [cantDeleteReason]="cantDeleteReason"
              [projectStatus]="attachedProject?.status"
              [user]="attachedUser"
              [valueUuidToHighlight]="valueUuidToHighlight"
              (referredResourceClicked)="openResource($event)"
              (referredResourceHovered)="previewResource()">
            </app-display-edit>
          </div>
          <!-- Add value form -->
          <div *ngIf="addValueFormIsVisible && propID === prop.propDef.id && attachedProject?.status">
            <app-add-value
              #addValue
              class="add-value"
              [parentResource]="resource.res"
              [resourcePropertyDefinition]="$any(resource.res.entityInfo.properties[prop.propDef.id])"
              (operationCancelled)="hideAddValueForm()">
            </app-add-value>
          </div>
          <!-- Add button -->
          <div *ngIf="addValueIsAllowed(prop) && attachedProject?.status">
            <button
              mat-icon-button
              type="button"
              class="value-action create"
              (click)="showAddValueForm(prop, $event)"
              title="Add a new value">
              <mat-icon>add_box</mat-icon>
            </button>
          </div>

          <!-- in case of incoming links we have to display them here -->
          <div *ngIf="prop.propDef.id === hasIncomingLinkIri">
            <div>
              <!-- the value(s) of the incoming links -->
              <a
                class="link link-value"
                *ngFor="let inRes of displayedIncomingLinkResources; trackBy: trackByFn"
                (click)="openResource(inRes.id)"
                >{{inRes.resourceClassLabel}}: <strong>{{inRes.label}}</strong></a
              >
              <!-- <mat-paginator *ngIf="numberOffAllIncomingLinkRes > amount_resources" [length]=numberOffAllIncomingLinkRes
                                           [pageSize]="amount_resources" [hidePageSize]="true" [pageIndex]="pageEvent.pageIndex"
                                           (page)="goToPage($event)">
                            </mat-paginator> -->
              <div class="pagination" *ngIf="allIncomingLinkResources.length > amount_resources">
                <p>Show more</p>
                <button [disabled]="pageEvent.pageIndex < 1" (click)="handleIncomingLinkBackward()">
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <button
                  [disabled]="allIncomingLinkResources.length/ amount_resources <= pageEvent.pageIndex + 1"
                  (click)="handleIncomingLinkForward()">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- deleted resource or resource without any defined properties -->
  <ng-template #noProperties>
    <div *ngIf="resource.res.isDeleted" class="properties">
      <div class="property border-bottom">
        <div class="property-label">
          <!-- delete date -->
          <h3 class="label mat-subtitle-2">Deleted on</h3>
        </div>
        <div class="property-value">{{ resource.res.deleteDate | date }}</div>
      </div>
      <div class="property">
        <div class="property-label">
          <!-- Delete comment -->
          <h3 class="label mat-subtitle-2">Comment</h3>
        </div>
        <div class="property-value">{{ resource.res.deleteComment }}</div>
      </div>
    </div>
    <!-- no defined property -->
    <div *ngIf="!resource.res.isDeleted" class="properties">
      <div class="property border-bottom">
        <div class="property-label">
          <h3 class="label mat-subtitle-2">Info</h3>
        </div>
        <div class="property-value">This resource has no defined properties.</div>
      </div>
    </div>
  </ng-template>
</div>
<dasch-swiss-app-progress-indicator *ngIf="loading"></dasch-swiss-app-progress-indicator>
