@import "../../../assets/style/responsive";
@import "../../../assets/style/theme";

.overview {
    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    .project-tiles {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
        padding-bottom: 2%;
    }

    .project-tile-container {
        text-align: center;
    }
}