<!-- <kui-progress-indicator *ngIf="loading"></kui-progress-indicator> -->

<mat-sidenav-container class="sidenav-container full-size" [autosize]="true">

    <mat-sidenav #sidenav mode="side" [opened]="true" [class.wide]="open" [class.narrow]="!open" class="sidenav border-right">
        <!-- search navigation bar: fulltext, extended, faceted, gravsearch  -->
        <div class="side-nav-content scroll-y-only">

            <!-- the navigation depends on the route -->
            <app-navigation [navigation]="navigation"></app-navigation>

        </div>
        <div class="side-nav-footer">
            <button mat-button (click)="open = !open">
                <mat-icon *ngIf="!open">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="open">keyboard_arrow_left</mat-icon>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <kui-progress-indicator *ngIf="loading"></kui-progress-indicator> -->

        <!-- search form -->
        <div class="content-search">
            <router-outlet></router-outlet>
        </div>

        <!-- search results -->
        <mat-tab-group mat-stretch-tabs class="content-search-results">
            <mat-tab label="List">
                <app-search-results></app-search-results>
            </mat-tab>
            <mat-tab label="Grid">
                <app-search-results></app-search-results>
            </mat-tab>
            <mat-tab label="Table">
                <app-search-results></app-search-results>
            </mat-tab>
            <mat-tab label="Gravsearch query">
                <app-search-results></app-search-results>
            </mat-tab>
        </mat-tab-group>

    </mat-sidenav-content>

</mat-sidenav-container>

<!-- <app-error *ngIf="error"></app-error> -->