.toolbar,
.infobar {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  padding: 0 16px;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);

}
.toolbar {
  background: whitesmoke;

  .label {
    margin: 0 !important;
    max-width: 48%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.clipboard-arkurl {
  width: 264px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 4px 0 0 4px;
}
.ark-url-label {
  margin-bottom: 8px
}
.btn-copy-arkurl {
  border-radius: 0 4px 4px 0;
  background-color: rgba(0, 0, 0, 0.35);
}
