<form [formGroup]="ontologyForm"
    (ngSubmit)="submitData()"
    class="form">
    <div class="form-content">
        <h3 *ngIf="beta && !iri">Create new ontology</h3>
        <mat-form-field class="large-field ontology-name">
            <input matInput
                class="ontology-name"
                autocomplete="off"
                [maxlength]="nameMaxLength"
                [formControl]="ontologyForm.controls['name']"
                [placeholder]="'Set a unique name'">
            <mat-icon matSuffix
                [matTooltip]="ontologyNameInfo"
                matTooltipPosition="above"
                matTooltipClass="multi-line-tooltip">help</mat-icon>
            <mat-hint *ngIf="formErrors.name"
                class="medium-field">
                {{ formErrors.name }}
            </mat-hint>
            <mat-hint align="end">{{ontologyForm.controls['name'].value.length}} / {{nameMaxLength}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="large-field ontology-label">
            <span *ngIf="!iri"
                matPrefix>{{project.shortname}}:&nbsp;</span>
            <input matInput
                placeholder="Label"
                [formControl]="ontologyForm.controls['label']"
                [value]="ontologyLabel">
            <mat-hint *ngIf="formErrors.label">
                {{ formErrors.label }}
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="large-field ontology-comment">
            <textarea matInput
                placeholder="Comment"
                [value]="ontologyComment"
                [formControl]="ontologyForm.controls['comment']"
                [cdkTextareaAutosize]="true"
                [cdkAutosizeMinRows]="6"
                [cdkAutosizeMaxRows]="12">
            </textarea>
        </mat-form-field>

        <div class="form-panel form-action">
            <button mat-button
                type="button"
                (click)="closeDialog.emit()"
                *ngIf="!beta || iri">
                {{ 'appLabels.form.action.cancel' | translate }}
            </button>
            <span class="fill-remaining-space"></span>
            <span>
                <button mat-raised-button
                    type="submit"
                    [style.color]="error ? 'warn' : 'primary'"
                    [disabled]="!ontologyForm.valid">
                    <app-progress-indicator [style.color]="'white'"
                        [status]="0"
                        *ngIf="loading"
                        class="submit-progress">
                    </app-progress-indicator>
                    <mat-icon *ngIf="error && !loading">close</mat-icon>
                    {{error ? 'Failed' : (iri ? 'Update' : 'Create')}}
                </button>
            </span>
        </div>
    </div>
</form>
