@use "../../../styles/config" as *;
@use "../../../styles/responsive" as *;

footer {
  padding: 16px;
  background: $primary_900;
  color: $white;
  min-height: 128px;
  font-weight: 100;
  letter-spacing: 1px;

  .panel {
    align-items: center;
    display: flex;
    width: calc(100vw - 32px);
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 50px 30px;
    box-sizing: border-box;

    &.no-padding {
      padding-top: 0;
      padding-bottom: 0;
      color: $primary_100;
    }

    p {
      text-align: center;
      width: 100%;
    }
    .box {
      box-sizing: content-box;
      margin: 0;
      padding: 0 24px;
      text-align: justify;
      width: 30%;

      &.about p {
        max-width: 320px;
      }
    }
  }
  a {
    color: inherit;
    font-weight: 700;

    &.mat-mdc-button {
      display: block;
      text-align: left;
    }
  }

  .mat-icon {
    margin-right: 12px;
  }
}

@media (max-width: 992px) {
  footer .panel {
    display: inline;

    .box {
      width: auto;
      padding: 0;

      p,
      a {
        text-align: center;
      }

      &.about p {
        max-width: 100%;
      }
    }
  }
}
