.ontology-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .ontology-editor {
        // width:
//        position: fixed;
        overflow: hidden;
    }

    .ontology-default-elements {
      width: 320px;
      // TODO: fix height
      height: calc(100vh - 150px);
      background: #ccc;

      ul {
          padding-inline-start: 0;
          li {
              list-style-type: none;
              border: 1px solid black;
              padding: 6px;
              margin: 6px;
          }
      }

    }

}
