<div *ngIf="projectAdmin" class="desktop-only">

    <p class="note warning center">
        This is a first version of the data model editor. Some features may not work as intended.
    </p>
    <dsp-progress-indicator *ngIf="loading"></dsp-progress-indicator>

    <!-- toolbar: select ontology -->
    <div class="content large middle" *ngIf="!loading && ontologies">
        <div class="app-toolbar transparent more-space-bottom">
            <div class="app-toolbar-row toolbar-subtitle">
                <h3 class="mat-body subtitle">Define your metadata</h3>
            </div>
            <div class="app-toolbar-row toolbar-form">
                <h2 class="mat-title">
                    <span *ngIf="ontologies.length > 0">
                        Project has {{ontologies.length | i18nPlural: itemPluralMapping['ontology']}}
                    </span>
                    <span *ngIf="ontologies.length === 0 || !ontologies">
                        It seems there's no data model defined yet
                    </span>
                </h2>

                <span class="fill-remaining-space"></span>

                <span class="app-toolbar-action" [class.select-form]="ontologies.length">
                    <form [formGroup]="ontologyForm" class="form" *ngIf="!loading && ontologies.length > 1">

                        <!-- list to select ontology -->
                        <div class="form-content">
                            <mat-form-field class="large-field select-ontology" *ngIf="ontologies.length">
                                <mat-label>
                                    Open from list...
                                </mat-label>
                                <mat-select [formControl]="ontologyForm.controls['ontology']" [(value)]="ontologyIri">
                                    <mat-option *ngFor="let onto of ontologies; let first = first" [value]="onto.id">
                                        {{onto.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </span>

                <span class="fill-remaining-space"></span>

                <span class="app-toolbar-action" [class.select-form]="ontologies.length">
                    <button mat-raised-button color="primary" class="create-data-model-btn"
                        (click)="openOntologyForm('createOntology')">
                        {{ontologies.length ? 'New data model' : 'Create your first data model'}}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!-- main content: overview shows resource classes of ontology -->
    <div *ngIf="!loading && ontology" class="ontology-editor">

        <mat-toolbar class="ontology-editor-header">
            <mat-toolbar-row>
                <span class="ontology-info">
                    <h3 class="mat-title space-reducer" [matTooltip]="ontology.id">{{ontology?.label}}</h3>
                    <p class="mat-caption" [matTooltip]="'Last modification date: ' + ontology.lastModificationDate"
                        matTooltipPosition="above">
                        <span *ngIf="ontology.lastModificationDate; else noModificationDate">
                            Updated on: {{ontology.lastModificationDate | date:'medium'}}
                        </span>
                        <ng-template #noModificationDate>
                            <span class="note warning">
                                <!-- <mat-icon>report</mat-icon> -->
                                This data model can't be edited because of missing "lastModificationDate"!
                            </span>
                        </ng-template>
                    </p>
                </span>

                <span class="fill-remaining-space"></span>

                <!-- toggle view -->
                <span class="ontology-actions">
                    <p class="mat-caption space-reducer">Display as</p>
                    <button mat-button [class.active]="view === 'classes' || view === 'properties'"
                        (click)="openOntologyRoute(ontology.id, 'classes')">
                        <mat-icon>view_module</mat-icon>
                        Grid
                    </button>
                    <button mat-button [class.active]="view === 'graph'"
                        (click)="openOntologyRoute(ontology.id, 'graph')">
                        <mat-icon>scatter_plot</mat-icon>
                        Graph
                    </button>
                </span>

                <!-- edit options -->
                <span class="ontology-actions">
                    <p class="mat-caption space-reducer">Data model configuration</p>
                    <!-- TODO: remove following span as soon edit mode is implemented; it's only for tooltip to use with disabled button  -->
                    <span [matTooltip]="'Edit data model info (not yet implemented)'" matTooltipPosition="above">
                        <button mat-button [disabled]="!ontology.lastModificationDate" [disabled]="true"
                            (click)="$event.stopPropagation(); openOntologyForm('editOntology', ontology.id)">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                    </span>
                    <button mat-button [disabled]="!ontology.lastModificationDate"
                        (click)="$event.stopPropagation(); delete(ontologyIri, 'Ontology', ontology.label)">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </span>

            </mat-toolbar-row>
        </mat-toolbar>

        <mat-sidenav-container #ontologyEditor *ngIf="!loadOntology && (view === 'classes' || view === 'properties')"
            class="ontology-editor-container">
            <mat-sidenav class="ontology-editor-sidenav" mode="side" position="end" opened>
                <mat-list>
                    <a mat-list-item routerLinkActive="active" [routerLink]="'../classes'"
                        (click)="view = 'classes'">Classes</a>
                    <a mat-list-item routerLinkActive="active" [routerLink]="'../properties'"
                        (click)="view = 'properties'">Properties</a>
                </mat-list>
            </mat-sidenav>
            <!-- <mat-sidenav-content>Main content</mat-sidenav-content> -->

            <!-- <div class="ontology-editor-subheader">
                <p *ngIf="!ontology.lastModificationDate" class="note warning center">
                    This data model can't be edited because of missing "lastModificationDate"!
                </p>
                <!-- button to select and add new resource class to the ontology --
                <div class="add-resource-class"
                    *ngIf="project?.status && (sysAdmin || projectAdmin) && ontologyIri && ontology.lastModificationDate">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="addResClassMenu">
                        Add resource class&nbsp;
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #addResClassMenu="matMenu" xPosition="before">
                        <button mat-menu-item *ngFor="let type of resourceClass"
                            (click)="openResourceClassForm('addResourceClass', type)">
                            {{ type?.label }}
                        </button>
                    </mat-menu>
                </div>
            </div> -->

            <mat-sidenav-content class="ontology-editor-canvas drag-drop-stop">
                <div class="ontology-editor-grid" *ngIf="view === 'classes'">

                    <!-- list of resource classes -->
                    <div *ngFor="let resClass of ontoClasses; let i = index" class="resource-class" cdkDrag
                        cdkDragBoundary=".drag-drop-stop">
                        <mat-toolbar class="resource-class-header" cdkDragHandle>
                            <mat-toolbar-row>
                                <h4 mat-card-title [matTooltip]="resClass.comment" matTooltipPosition="above">
                                    {{resClass.label | dspTruncate: 24}}</h4>
                                <span class="fill-remaining-space"></span>
                                <button mat-icon-button [matMenuTriggerFor]="resClassMenu"
                                    [matTooltip]="(ontology.lastModificationDate ? null : 'This data model can\'t be edited because of missing lastModificationDate!')"
                                    matTooltipPosition="above">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #resClassMenu="matMenu" xPosition="before">
                                    <button mat-menu-item [disabled]="!ontology.lastModificationDate"
                                        (click)="openResourceClassForm('editResourceClass', {iri: resClass.id, name: '', label: resClass.label})">
                                        Edit resource class info
                                    </button>
                                    <button mat-menu-item [disabled]="!ontology.lastModificationDate"
                                        (click)="updateCard(resClass)">
                                        Update corresponding properties
                                    </button>
                                    <button mat-menu-item [disabled]="!ontology.lastModificationDate"
                                        (click)="delete(resClass.id, 'ResourceClass', resClass.label)">
                                        Delete resource class
                                    </button>
                                </mat-menu>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <mat-list class="resource-class-properties">
                            <span *ngFor="let prop of resClass.propertiesList">
                                <!-- display only properties with guiOrder and if they exist in list of properties;
                                         objectType is not a linkValue (otherwise we have the property twice) -->
                                <app-property-info
                                    *ngIf="ontology?.properties[prop.propertyIndex]
                                        && ontology?.properties[prop.propertyIndex].objectType !== 'http://api.knora.org/ontology/knora-api/v2#LinkValue'"
                                    [propDef]="ontology?.properties[prop.propertyIndex]" [propCard]="prop"
                                    [projectcode]="projectcode">
                                </app-property-info>
                            </span>
                        </mat-list>

                    </div>

                </div>
                <div class="ontology-editor-list" *ngIf="view === 'properties'">

                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>

        <div *ngIf="view === 'graph'" class="ontology-viewer">
            <app-ontology-visualizer [ontology]="ontology" [ontoClasses]="ontoClasses"></app-ontology-visualizer>
        </div>

        <dsp-progress-indicator *ngIf="loadOntology"></dsp-progress-indicator>
    </div>

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>


<div class="mobile-only">
    <dsp-message [message]="{status: 415, statusText: 'This content is not supported on small devices.'}">
    </dsp-message>
</div>
