@import "~@angular/material/theming";
@import "../../../assets/style/config";

$width: 200px;

.ontology-editor {
  border: 1px dotted $primary_200;
  height: calc(100vh - #{$header-height} - #{$tab-bar-margin} - 300px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
}

.resource-class {
  width: 180px;
  min-height: 240px;
  height: auto;
  position: relative;
  top: 48px;
  left: 48px;
  @include mat-elevation-transition;
  @include mat-elevation(2);
  padding: 12px;

  background-color: #fff;

  &:active {
    @include mat-elevation(8);
  }
}

.ontology-container {
  // display: flex;
  // flex-direction: row;
  width: 100%;

  .ontology-editor {
    overflow: hidden;
  }

  .ontology-default-elements {
    width: 220px;
    // TODO: fix height
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding: 72px 6px 6px;
    background: rgb(255, 255, 255);

    .list-item {
      border: 1px solid black;
      padding: 6px;
      margin: 6px;
    }

    ul {
      padding-inline-start: 0;

      li {
        list-style-type: none;
      }
    }
  }
}
