<div *ngIf="projectAdmin" class="desktop-only">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- toolbar: select ontology -->
    <div class="content large middle" *ngIf="!loading && ontologies">
        <div class="app-toolbar transparent more-space-bottom">
            <div class="app-toolbar-row toolbar-subtitle">
                <h3 class="mat-body subtitle">Define your metadata</h3>
            </div>
            <div class="app-toolbar-row toolbar-form">
                <h2 class="mat-title">
                    <span *ngIf="ontologies.length > 0">
                        Project has {{ontologies.length | i18nPlural: itemPluralMapping['ontology']}}
                    </span>
                    <span *ngIf="ontologies.length === 0">
                        It seems there's no data model defined yet
                    </span>
                </h2>

                <span class="fill-remaining-space"></span>

                <span class="app-toolbar-action" [class.select-form]="ontologies.length">
                    <form [formGroup]="ontologyForm" class="form" *ngIf="!loading">

                        <!-- list to select ontology -->
                        <div class="form-content">
                            <mat-form-field class="large-field select-ontology" *ngIf="ontologies.length">
                                <mat-label>
                                    Open from list...
                                </mat-label>
                                <mat-select [formControl]="ontologyForm.controls['ontology']" [(value)]="ontologyIri">
                                    <mat-option *ngFor="let onto of ontologies; let first = first" [value]="onto.id">
                                        {{onto.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </span>

                <span class="fill-remaining-space"></span>

                <span class="app-toolbar-action" [class.select-form]="ontologies.length">
                    <button mat-raised-button color="primary" class="create-data-model-btn"
                        (click)="openDialog('createOntology')">
                        {{ontologies.length ? 'New data model' : 'Create your first data model'}}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!-- main content: overview shows resource classes of ontology -->
    <div *ngIf="ontology && !loadOntology" class="ontology-editor drag-drop-stop">

        <mat-toolbar>
            <mat-toolbar-row>
                <h3 class="mat-title" [matTooltip]="ontology.label">{{ontology['rdfs:label']}}</h3>

                <span class="fill-remaining-space"></span>
                <!-- <p class="mat-body" [matTooltip]="ontology.comments | kuiStringifyStringLiteral"
                    matTooltipPosition="above">
                    {{ontology.comments | kuiStringifyStringLiteral | kuiTruncate:[64]}}</p> -->
                <span class="fill-remaining-space"></span>

                <button mat-stroked-button
                    (click)="$event.stopPropagation(); openDialog('editOntologyInfo', ontology.label, ontology.id)">
                    Edit info
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div #ontologyEditor class="ontology-editor-canvas" *ngIf="!loadOntology">
            <!-- button to define and add new source type to the ontology -->
            <app-add-source-type *ngIf="project?.status && sysAdmin && ontologyIri" [projectcode]="projectcode"
                class="add-source-type" (refreshParent)="initList()" #addSourceTypeComponent>
            </app-add-source-type>

            <!-- list of source types -->
            <!-- <svg width="100%" height="1200" class="mySvg" (click)="clicked($event)"></svg> -->

            <div *ngFor="let resClass of ontology['@graph'] | filter: '@type' : 'owl:Class'; let i = index"
                class="resource-class" cdkDrag cdkDragBoundary=".drag-drop-stop">
                <strong>{{resClass['rdfs:label']}}</strong>
                <ul>
                    <span *ngFor="let prop of resClass['rdfs:subClassOf']">
                        <li *ngIf="prop['owl:onProperty']">
                            {{prop['owl:onProperty']['@id']}}
                        </li>
                    </span>

                </ul>
            </div>
        </div>

        <kui-progress-indicator *ngIf="loadOntology"></kui-progress-indicator>

    </div>

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>


<!--

<div class="content ontology-editor drag-drop-boundary desktop-only">

    <mat-card class="resource-type" cdkDragBoundary=".drag-drop-boundary" cdkDrag>
        Create your data model: add the first source type here
    </mat-card>


    <!--
        <div id="ontology-editor" class="ontology-editor" >
                Create your data model first:
                - Drag'n'drop your source types from the list on the right hand side.
                - You can customize the predefined sources to your needs later.
        </div>
    -->
<!--
    <mat-toolbar>
                <span>Select ontology to edit</span>
                <span class="fill-remaining-space"></span>
                <span>
                    <mat-icon>add</mat-icon>
                    Add new source type</span>
            </mat-toolbar>


    <div id="ontology-editor" class="ontology-editor" >
        Create your data model first:
        - Drag'n'drop your source types from the list on the right hand side.
        - You can customize the predefined sources to your needs later.
        <mat-accordion #ontologyEditor>
            <app-resource-type></app-resource-type>
        </mat-accordion>

    </div>

    <div class="ontology-default-elements">
        Select your source types from this list:<br><br>

        <div class="default-source-types">
            <div class="list-item"
              *ngFor="let st of sourcetypes"
              (click)="loadComponent()">
              <mat-icon>keyboard_arrow_left</mat-icon>
                  {{st}}
            </div>
          </div>

    </div>
</div>
-->

<div class="mobile-only">
    <kui-message [message]="{status: 415, statusText: 'This content is not supported on small devices.'}">
    </kui-message>
</div>
