<div *ngIf="projectAdmin && ontologies" class="desktop-only">

    <!-- toolbar: select ontology -->
    <div class="content large middle" *ngIf="!loading">
        <app-ontology-list [ontologies]="ontologies" [projectcode]="projectcode" (refreshParent)="resetOntology($event)"
            [selected]="ontologyIri">
        </app-ontology-list>
    </div>

    <!-- main content: overview shows resource classes of ontology -->
    <div *ngIf="ontology && !loading" class="ontology-editor drag-drop-stop">

        <!-- button to define and add new source type to the ontology -->
        <app-add-source-type *ngIf="project?.status && sysAdmin && ontologyIri" [projectcode]="projectcode"
            class="add-source-type" (refreshParent)="refresh()" #addSourceTypeComponent>
        </app-add-source-type>

        <!-- list of source types -->
        <div *ngFor="let resClass of ontology['@graph'] | filter: '@type' : 'owl:Class'; let i = index"
            class="resource-class" cdkDrag cdkDragBoundary=".drag-drop-stop">
            {{i}} {{resClass['rdfs:label']}}
        </div>

    </div>

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

</div>

<div *ngIf="!projectAdmin" class="content large middle">
    <app-error [status]="403"></app-error>
</div>


<!--

<div class="content ontology-editor drag-drop-boundary desktop-only">

    <mat-card class="resource-type" cdkDragBoundary=".drag-drop-boundary" cdkDrag>
        Create your data model: add the first source type here
    </mat-card>


    <!--
        <div id="ontology-editor" class="ontology-editor" >
                Create your data model first:
                - Drag'n'drop your source types from the list on the right hand side.
                - You can customize the predefined sources to your needs later.
        </div>
    -->
<!--
    <mat-toolbar>
                <span>Select ontology to edit</span>
                <span class="fill-remaining-space"></span>
                <span>
                    <mat-icon>add</mat-icon>
                    Add new source type</span>
            </mat-toolbar>


    <div id="ontology-editor" class="ontology-editor" >
        Create your data model first:
        - Drag'n'drop your source types from the list on the right hand side.
        - You can customize the predefined sources to your needs later.
        <mat-accordion #ontologyEditor>
            <app-resource-type></app-resource-type>
        </mat-accordion>

    </div>

    <div class="ontology-default-elements">
        Select your source types from this list:<br><br>

        <div class="default-source-types">
            <div class="list-item"
              *ngFor="let st of sourcetypes"
              (click)="loadComponent()">
              <mat-icon>keyboard_arrow_left</mat-icon>
                  {{st}}
            </div>
          </div>

    </div>
</div>
-->

<div class="mobile-only">
    <kui-message [message]="{status: 415, statusText: 'This content is not supported on small devices.'}">
    </kui-message>
</div>
