<div *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <div *ngIf="!loading">

        <!-- message after updating: success message or error message if something went wrong -->
        <kui-message *ngIf="apiResponse" [message]="apiResponse" [short]="true"
                     (click)="closeMessage(apiResponse.status)">
        </kui-message>

        <!-- in case of changing not own password: input for requester password = own form -->
        <!-- Tip: You are entering sudo mode. -->

        <!-- main form -->
        <form [formGroup]="form" class="form-content user-data" (ngSubmit)="submtiData()">
            <!-- Password forms should have (optionally hidden) username fields for accessibility: (More info: https://goo.gl/9p2vKq) -->
            <mat-form-field class="large-field hidden">
                <input matInput [formControl]="form.controls['username']" autocomplete="username">
            </mat-form-field>


            <!-- in case of changing own password: input for old password -->


            <!-- two password fields: password & confirmPassword -->
            <!-- password -->
            <mat-form-field class="large-field">
                <input matInput [type]="showPassword ? 'text' : 'password'" [formControl]="form.controls['password']"
                       autocomplete="new-password"
                       placeholder="{{ 'appLabels.form.user.general.newPassword' | translate}} *">

                <button mat-button type="button" matSuffix mat-icon-button class="input-icon"
                        attr.aria-label="{{showPassword ? 'Hide password' : 'Show password'}}"
                        (click)="showPassword = !showPassword">
                    <mat-icon>
                        {{showPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-hint *ngIf="formErrors.password">
                    {{ formErrors.password }}
                </mat-hint>
            </mat-form-field>

            <!-- confirm password -->
            <mat-form-field class="large-field">
                <input matInput [type]="showConfirmPassword ? 'text' : 'password'"
                       [formControl]="form.controls['confirmPassword']" autocomplete="confirm-password"
                       placeholder="{{ 'appLabels.form.user.general.confirmPassword' | translate}} *">

                <button mat-button type="button" matSuffix mat-icon-button class="input-icon"
                        attr.aria-label="{{showConfirmPassword ? 'Hide password' : 'Show password'}}"
                        (click)="showConfirmPassword = !showConfirmPassword">
                    <mat-icon>
                        {{showConfirmPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-hint *ngIf="formErrors.confirmPassword">
                    {{ formErrors.password }}
                </mat-hint>
            </mat-form-field>

        </form>

    </div>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <kui-message *ngIf="errorMessage" [message]="errorMessage" [short]="true" (click)="closeMessage()"></kui-message>
</ng-template>
