<div *ngIf="!errorMessage; else errorMsg">

    <kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

    <!-- success message after updating -->
    <!-- <kui-message *ngIf="success" [message]="success" [short]="true"></kui-message> -->
    <!-- error message if something went wrong -->
    <!-- <kui-message *ngIf="failed" [message]="failed" [short]="true" (click)="resetForm()"></kui-message> -->

    <!-- in case of changing not own password: input for requester password = own form -->


    <!-- in case of changing own password: input for old password -->



    <!-- two password fields: password & confirmPassword -->

    <form *ngIf="!loading" [formGroup]="form"></form>

</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <kui-message *ngIf="errorMessage" [message]="errorMessage" [short]="true" (click)="closeMessage()"></kui-message>
</ng-template>
