.form-content {
  width: 100%;
  margin-top: 0;

  .form-panel {
    width: 100%;
  }

  .large-field,
  .medium-field,
  .small-field {
    margin: 8px 2px;

    &.string-literal-container {
      display: inline-block;
      position: relative;
      top: -3px;
    }
  }

  .form-action {
    margin-top: 48px;
  }
}

.cardinality {
  .mat-slide-toggle {
    padding: 0 16px;
  }
}
