<div *ngIf="isSysAdmin$ | async; else notAllowed">
  <mat-tab-group
    animationDuration="0ms"
    mat-stretch-tabs="true"
    mat-align-tabs="start"
    class="navigation tab-bar margin-from-top"
    [selectedIndex]="activeTabIndex"
    (selectedTabChange)="onTabChange($event)">
    >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">assignment</mat-icon>
        All projects
      </ng-template>
      <app-projects></app-projects>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">group</mat-icon>
        All users
      </ng-template>
      <app-users></app-users>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #notAllowed>
  <div class="content large middle">
    <app-status [status]="403"></app-status>
  </div>
</ng-template>
