@use "config" as *;

.child-input-component {
  width: 96%;
}

.date-picker-content {
  width: 296px;
  padding: 8px 8px 16px 8px;
}

.hidden {
  display: none;
}

.panel {
  width: 280px;
  margin: 0 8px;

  &.calendar-selector,
  &.mont-year-selector {
    display: inline-flex;
    height: 56px;
  }

  &.calendar-selector {
    .calendar {
      width: 100%;
    }

    .action {
      display: flex;
    }
  }
  &.month-year-selector {
    .month {
      width: 96px;
      &.larger {
        width: 136px;
      }
    }
    .year {
      width: 136px;

      &.withButtonToggle {
        width: 180px;
      }

      .era {
        /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
        mat-button-toggle {
          width: 48px;
        }
      }
    }
  }

  &.day-selector {
    display: grid;
    margin-top: -8px;

    &.disabled {
      opacity: 25%;
    }

    .week-days {
      margin-bottom: 0;
      font-weight: lighter;
      color: $dark;
    }

    .week {
      display: inline-flex;
    }
  }
}

.day {
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-table;
  text-align: center;
  padding: 2px;

  &.selected {
    background-color: $primary_700;
    color: $bright;
    border-radius: 50%;
  }

  > span {
    display: block;
  }

  .selectable {
    max-height: 36px;
    max-width: 36px;
    &.disabled {
      cursor: not-allowed;
    }

    mat-icon {
      margin: 6px;
    }
  }
}
