.material-icons.comment-lock {
  margin-right: 0.5em;
  fill: grey;
  color: grey;
  vertical-align: bottom;
}

.invalid-comment {
  text-decoration: line-through;
}

.mat-mdc-form-field-hint {
  color: red;
}
