name: Lint

on: [ push, fork ]

jobs:

  lint:
    name: DSP-APP Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.12.0
      - name: Install dependencies
        run: npm install
      - name: Run linting
        run: npx nx run-many --all --target=lint --skip-nx-cache
