name: Lint

on: [ push, fork ]

jobs:

  lint:
    name: DSP-APP Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.12.0
          cache: 'npm'
      - name: Cache NX
        uses: actions/cache@v4
        with:
          path: .nx/cache
          key: nx-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/nx.json') }}
          restore-keys: |
            nx-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-
            nx-${{ runner.os }}-
      - name: Install dependencies
        run: npm install
      - name: Run linting
        run: npx nx run-many --all --target=lint
