name: Publish from branch

on: workflow_dispatch
jobs:
  publish-from-branch:
    name: Publish from branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # gets additionally all tags which we need
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.ORG_GITHUB_PACKAGES_PAT }}" > ~/.npmrc
          echo "registry=https://npm.pkg.github.com/dasch-swiss" >> ~/.npmrc
      - run: make docker-publish
