name: Release

on:
  push:
    branches:
      - main
    tags:
      - '*'
  release:
    types: [ published ]

jobs:

  release-please:
    name: Prepare next release
    runs-on: ubuntu-latest
    # Automate releases with Conventional Commit Messages as Pull Requests are merged into "main" branch
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Get release please action
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

  send-chat-notification:
    name: Send google chat notification
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    steps:
      - name: Send notification to google chat room "DSP releases"
        uses: lakto/google-chat-action@main
        with:
          url: ${{ secrets.GOOGLE_CHAT_DSP_RELEASES_WEBHOOK_URL }}
